[2017-09-08 10:09] pwalsh commented on #524
@jpmckinney ok, thanks.

It seems there has really been confusion about what was originally requested here, as we discovered on our call yesterday. I'm just trying to get it clear, and I am glad we have the chance to do so together.

This confusion still exists even with, for example, the discussions from December 2016 ([ref.](https://github.com/open-contracting/standard/issues/378#issuecomment-26

[2017-09-08 10:42] timgdavies commented on #524
As a general point in standard development: We hadn't seen a field called 'contracting process identifier' in source data when we started designing OCDS, but it conceptually key to meeting user needs of tracing the full contracting process. Publishers generally have little trouble using fields inside their systems to express this latent concept. GIFT is a normative initiative, and so has a normati

[2017-09-08 10:52] timgdavies commented on #524
Can you say more Paul about the confusion on the transaction identifier concept. Was this due to it being used in the context of budgets?

For **spending** from government systems, it seems to me that this should not be too tricky a concept - and many systems do have an internal or external identifier for specific spending transactions.

I understand that **transaction** does not apply to budgets.

[2017-09-08 10:53] pwalsh commented on #524
I'm using "record identifiers" here to get away from the aforementioned "transaction identifiers". While a single line in source data can have multiple measures, and FDP provides "mark up" for this, such lines likely produce multiple records. We'll need to get into the details of the correct semantics, and I expect @akariv will lead on that (looks like we already see that my use of "record identif

[2017-09-08 10:53] pwalsh commented on #524
Correct.

[2017-09-08 11:04] rufuspollock commented on #526
@ppKrauss it certainly makes sense that we tag here so we have a pointer to the release point - just as long as people get there are multiple specs here and that the official location to find stuff is http://specs.frictionlessdata.io/

[2017-09-08 12:47] JaTvoiRabotnik commented on #526
@rufuspollock a release is just a point in time where we say: we're happy that these specifications are correct and can be released. Doesn't matter that the individual specs are at different versions individually, only that they have all reached a mature enough state, that is, the pull request has been accepted into the main line.
It's fine that the official location to find stuff is at the .io pa

[2017-09-10 01:55] jpmckinney commented on #524
I wrote some things offline while on a flight, so forgive any repetition of things Tim has already written.

I believe, in the general case, in order for third parties to link to records contained within an OFDP dataset, those records will need identifiers. OCDS may be a first use case, but it seems like anything that needs to refer to budget line items would benefit from an identifier.

There may

[2017-09-10 10:28] Stephen-Gates commented on #421
@rufuspollock @ethanwhite Just wondering what the next steps are to turn this into a pattern?

I think it would be really good to reference this work from the Data Package spec ([L248](https://github.com/frictionlessdata/specs/blob/master/content/data-package/contents.lr#L248)) instead of/as well as http://semver.org

[2017-09-10 11:59] timgdavies commented on #525
The old discussion link 404s (I think issue have been turned off on that old project).

I'd very much encourage use of the http://org-id.guide identifier pattern, which we're building a coalition of open data standards around. This splits identifiers into two parts:

* Scheme (e.g. which company / charity / government entity register is the identifier from)
* Identifier

and provides a codelist of

[2017-09-10 12:22] pwalsh commented on #525
@timgdavies org-id.guide is great as a registry of identifier registries, I've been excited since I saw it launched.

I'm not sure, from what I've read, how it will help here, as the focus seems to be on being a registry for identifier lists, and not a service resolves, say, strings that represent entities, to identifiers. You mention this as a practical solution to disambiguation of identifiers b

[2017-09-11 16:21] LindseyAM commented on #524
Sharing here a couple of use cases I have heard from folks in different countries.

1. "We want to be able to check that budget is indeed available before funds are committed (aka award a contract)" - in places where contracts are awarded when funds are not actually available, the result erodes private sector confidence (as contractors will perform work and remain unpaid or under paid for extended

[2017-09-11 16:42] rufuspollock commented on #421
@Stephen-Gates we need someone to open a pull request on the patterns section of the site (this would be its own page) - or, if messing around with lektor is too painful, to create a gist draft of this which the editors (i.e. @pwalsh) can then import for you.

[2017-09-12 11:14] Stephen-Gates commented on #421
I'm wondering given that a pattern

but `version` is [in the spec](http://specs.frictionlessdata.io/data-package/#version), whether this guidance is better placed as a `<h2>` level item in http://frictionlessdata.io/guides/publish/faq/ ?

Either way, writing the Gist now...

[2017-09-12 11:54] Stephen-Gates commented on #421
@rufuspollock @ethanwhite @pwalsh

A draft for consideration:
 https://gist.github.com/Stephen-Gates/5d2326d22821eb2b80b06d440de0576e

[2017-09-13 19:26] ethanwhite commented on #421
@henrykironde - would be good to get your perspective on @Stephen-Gates draft of this and to add anything useful from the draft you'd been working on.

[2017-09-14 07:58] pwalsh commented on #520
Dropping this here so I can review later https://gist.github.com/pwalsh/a9f7f0796229d0566191

[2017-09-15 00:01] Stephen-Gates opened #527 "Add sample graph output to Data Package View specification"
I think it would be helpful to show what each [example](http://specs.frictionlessdata.io/views/#simple-graph-spec) in the [view spec](http://specs.frictionlessdata.io/views/) would like like as a graph.

[2017-09-16 18:50] henrykironde commented on #421
Thank you for all the contributions and suggestions, allow  me a few days to comprehend all the comments in comparison to the new draft by [Stephen Gates](https://gist.github.com/Stephen-Gates/5d2326d22821eb2b80b06d440de0576e)

[2017-09-16 20:57] rufuspollock commented on #527
@Stephen-Gates good point. For now, you can find some examples of view specs and their rendered graphs in the examples section on the datahub http://datahub.io/examples

[2017-09-23 15:41] timgdavies commented on #525
Right now org-id.guide doesn't try to do anything with resolving identifiers, so the immediate suggestion is to:

(1) Adopt the pattern of either (a) splitting identifiers into two columns: a scheme and an identifier or (b) making sure identifiers include a prefix to make clear the list the identifier is drawn from (e.g. GB-COH-01234567 to indicate a companies house number)

and

(2) Recommend use

[2017-09-23 22:05] Stephen-Gates opened #528 "min/max constraint missing for Duration - where's the definitive list of constraints by type?"
There is no min/max constraint shown for Duration in the [specs](http://specs.frictionlessdata.io/table-schema/#constraints) however in [tableschema.js](https://github.com/frictionlessdata/tableschema-js/blob/master/src/profiles/table-schema.json#L1352) the min/max constraints are [implemented](https://github.com/frictionlessdata/tableschema-js/blob/master/src/profiles/table-schema.json#L1352).

S

[2017-09-23 23:52] Stephen-Gates commented on #421
@henrykironde FYI - I just updated [the Gist](https://gist.github.com/Stephen-Gates/5d2326d22821eb2b80b06d440de0576e) based on @ethanwhite's feedback

[2017-09-24 13:27] pwalsh commented on #525
@timgdavies

Ok, we'll keep it in mind. Would you consider providing a lookup for identifier lists from org-id.guide?

Both as a spec writer, and as an implementer, I'd much rather introduce "schemes" for identifiers such as `GB-COH`, `AU-ABN` if I can get a list of such "schemes" programmatically (can be a CSV on GitHub as an MVP), and what they stand for, from a canonical source (based on open s

[2017-09-26 16:19] Stephen-Gates commented on #421
I'm not getting notifications when people comment or mention me on the Gist. If others aren't being notified, then perhaps the conversation should be moved back here and leave the GIST until we're ready to do a PR.

I've added a clean version of the current proposal below with some extra scenarios.

## Data Package Version

The Data Package version format follows the [Semantic Versioning](http://s

[2017-09-27 05:36] pwalsh commented on #522
Based on the links in the original email, input from Tim [here](https://github.com/openspending/openspending/issues/1313), and a general notion of what is needed, and practical in the given project constraints, I suggest the following points to form the contribution model for Fiscal Data Package v1, and as a basis for the future:

- A core team of @rufuspollock @akariv and @pwalsh are authoring a

[2017-09-27 06:38] pwalsh opened #529 "Virtual columns in Table Schema - Constants"
This text is almost a copy/paste from work by @akariv - Adam, please edit directly, or comment below, as needed.
-----

# Context

Data sources don’t always contain all the data necessary to use them properly and simply.

For example, some yearly budget files in specific countries won’t have a column with the fiscal year or the country code. Publishers for such files assume that anyone downloading

[2017-09-27 06:39] pwalsh commented on #520
Requires https://github.com/frictionlessdata/specs/issues/529

[2017-09-27 06:49] rufuspollock commented on #529
@pwalsh 👍 here. My only though is the relation of this to logical vs physical model. This is really part of the logical model not the physical model. If we did have a "distinct" model object like in FDP then it might make sense for it to go on that reather than tableschema.

[2017-09-27 12:32] ethanwhite commented on #421
This is looking really good @Stephen-Gates.

I'd suggest one more scenario:

"You fix a data entry error by modifying a value"

Also one my typo change:

"Add new data to existing data resource" -> "Add new data to an existing data resource"

Finally be consistent about capitalization, so use capital letters to start the bullets in the PATCH section.

Other than that this looks awesome. Great work

[2017-09-27 14:42] Stephen-Gates opened #530 "the word "pattern" is missing as a format for the date/time types"
the word `pattern` is missing in the spec for date, time, date time types e.g. http://specs.frictionlessdata.io/table-schema/#date

[2017-09-28 12:21] akariv commented on #529
I added a short explanation re physical and logical.

[2017-09-28 13:13] akariv commented on #524
So, would a URI like this work for fetching the information from the Mexican Federal Budget for (Year=2017, MODALIDAD="A", PP="17", RAMO="7", CAPITULO="3000", CONCEPTO="3700")?

https://openspending.org/api/3/cubes/6018ab87076187018fc29c94a68a3cd2:presupuesto-mexico-2008-20164t-2017/facts/?aggregates=MONTO_APROBADO.sum&pagesize=20&cut=date_2.CICLO%3A2017%7Cactivity_ID_MODALIDAD.ID_MODALIDAD%3A%22A

[2017-09-28 13:22] vitorbaptista opened #532 "Fix unformatted text in fiscal data package spec"
For example, on http://specs.frictionlessdata.io/fiscal-data-package/, you can find things like `{:.no_toc}`, `{% assign sorted_pages = site.pages | sort:"order" %} {% for page in sorted_pages %} {% if page.category == 'example' %}`, and `{: style="text-align: center"}`.

[2017-09-28 13:29] vitorbaptista opened #533 "Mixed usage of camelCase and hyphen-delimited names on the spec"
For example, on http://specs.frictionlessdata.io/fiscal-data-package/, in most cases we use camelCase, but there are some hyphen-delimited words like `chart-of-accounts`, and all lowercase words like `labelfor`. Although a minor change, I think it's important to keep consistency. If not for the current keywords (as it's a breaking change), at least for the future ones.

[2017-09-28 14:02] akariv commented on #519
I think we should remove the strict set of options from the spec, especially as properties of measures.
- Certain fiscal system have more than just the two basic directions
- Certain files will have both income and expenditure rows.

The proposed solution would be to:
- For files with just one direction for all rows:
    - Do nothing
    - Create a constant virtual column with a `direction` column

[2017-09-28 14:03] akariv commented on #519
BTW, same goes for phase and currency.

[2017-09-29 14:18] vitorbaptista opened #534 "Mixed usage of MUST/SHOULD keywords with and without ``"
Sometimes we write as `MUST`, others we write MUST (without the backticks). We should decide on one and use it across the specs. I'd prefer not to use backticks, but it doesn't matter. The following sed regexp removes the backticks of a file at `FILE_PATH`

[code]

[2017-09-29 17:42] rufuspollock opened #535 "Missing redirect for simple-data-format to tabular-data-package"
http://specs.frictionlessdata.io/simple-data-format/ just shows the front page.

This is linked from e.g. http://frictionlessdata.io/guides/tabular-data-package/

[2017-09-30 22:00] Stephen-Gates commented on #421
Since I think we're close on agreeing, I've added a pull request https://github.com/frictionlessdata/specs/pull/531

[2017-10-01 21:10] henrykironde commented on #421
We can close this.

[2017-10-02 17:12] vitorbaptista opened #536 "[Discuss] Defining source data modifications in the FDP descriptor file"
The new draft FDP spec defines the concept of "virtual columns", that are columns that don't exist in the source file, only in the descriptor. The tools that support the FDP spec would then parse the descriptor and add the columns based on its definition in the descriptor file. It can be as simple as adding a constant column (see https://github.com/frictionlessdata/specs/issues/529), to a more com

[2017-10-03 01:35] Stephen-Gates commented on #421
@henrykironde this will close automatically when the [PR](https://github.com/frictionlessdata/specs/pull/531#issue-261245442) is accepted

[2017-10-03 09:10] rufuspollock commented on #536
@vitorbaptista this relates to a point I've been raising of keeping a clear distinction between "physical" and "logical" models. IMO virtual columns make much more sense as part of the logical model and "pushing" them back into the physical model could be confusing.

[2017-10-03 09:13] #421 closed

[2017-10-03 09:30] rufuspollock opened #537 "Move units spec back to here as draft spec"
Move the units draft spec http://specs.okfnlabs.org/units/ back to FD specs

/cc @pwalsh

[2017-10-03 10:21] vitorbaptista commented on #536
@rufuspollock Could you give an example where you find "pushing" this information back to the physical model would be confusing?

[2017-10-05 14:55] rufuspollock commented on #536
@vitorbaptista i think it is per se confusing for many users to think about "virtual" columns on their original CSV / Excel. It is easier to say: here's your source data and we map this to this model over here.

[2017-10-05 15:14] akariv commented on #536
Is there really a conceptual difference between virtual columns and foreign keys?
Both describe very similar things.

---

Consider this data set:

| Department | Phase     | Phase Name | Amount |
|------------|-----------|--------|------|
| A          | 1 | PLANNING  | 1000   |
| A          | 2 | EXECUTION | 1200   |
| B          | 1 | PLANNING  | 2000   |
| B          | 2 | EXECUTION | 1800   |

[2017-10-06 17:04] vitorbaptista commented on #536
I think we're talking about a few different things. When I read "virtual column", I think of, for example, a constant column that's added to the final resource. Although I prefer not to modify the source data at all (virtually or not), adding a constant column isn't too bad.

However, when we think about the "normalisation column", which allow us to change a dataset from:

| Project | Planned 2015

[2017-10-09 06:04] pwalsh commented on #537
@rufuspollock before we move it here, it would be good to discuss how it is to be implemented. Is the proposal to implement this spec, as is, as part of Table Schema?

[2017-10-09 06:19] pwalsh commented on #536
@vitorbaptista

ok, good feedback.

So, there are two distinct issues

1. "virtual columns", described in https://github.com/frictionlessdata/specs/issues/529 as a general feature of the Table Schema spec, that would be used in Fiscal Data Package. It is just too useful *not* to add this, for the use cases that Frictionless Data is designed around - public data, outputs of internal systems for gen

[2017-10-09 06:21] pwalsh commented on #533
Agreed. We should use camelCase.

[2017-10-09 06:24] pwalsh commented on #527
Because this spec is still very much in development, the examples section of datahub.io is definitely the best place for now. Closing this issue.

[2017-10-09 06:24] #527 closed

[2017-10-09 07:28] pwalsh commented on #487
@OriHoch ok, good idea. Let's come back to this when we start working on the v1.1 release.

[2017-10-09 07:30] pwalsh commented on #525
@timgdavies any thoughts on the above?

[2017-10-09 07:31] pwalsh commented on #526
I'm closing this. I do not see anything actionable at this stage. Please comment of otherwise.

[2017-10-09 07:31] #526 closed

[2017-10-09 08:04] Stephen-Gates commented on #487
This may also help infer formats https://github.com/frictionlessdata/tableschema-js/issues/98

[2017-10-09 10:10] rufuspollock commented on #341
Now in patterns: http://specs.frictionlessdata.io/patterns/#data-dependencies

[2017-10-10 13:41] rufuspollock commented on #537
@pwalsh open to suggestions. I was thinking of keeping it separate but adding support for referencing it from table schema but not sure what is best.

[2017-10-12 16:04] rufuspollock commented on #529
@pwalsh 👍 on this. Think it is valuable - and people can just ignore it which gives graceful degradation for non-supporting systems.

[2017-10-13 03:08] stevage opened #539 "Ambiguous key names, example values, and controlled vocab values."
There are places in https://specs.frictionlessdata.io/fiscal-data-package/ where it's really not clear what the status of a `"string"` is. For instance:

[code]

In this case:

* `"measures"`, `"source"` and `"currency"` are key values that never change.
* `"measure-name"` is just an arbitrary value chosen for this particular example. (And not a great one...)
* `"amount"` is an arbitrary value tha

[2017-10-13 03:48] stevage commented on #539
Wow, I'm genuinely confused by this one:

[code]

`"code"` seems to have some particular meaning, but what are `"program"` and `"project"`?

[2017-10-13 05:52] stevage commented on #521
Personally, I think the main audience for the specs is anyone who will be generating conformant files. If you're just creating one or two files, you'll use the data packager. But if you need to generate files on the fly, then you need it.

Btw, having just revisited some of this stuff for the first time in a while, I found it surprisingly confusing and difficult dealing with all the different laye

[2017-10-13 07:31] roll commented on #539
@stevage
Thanks for the feedback.

cc
@pwalsh
@akariv

[2017-10-17 06:42] roll opened #540 "Support for optional fields in Table Schema?"
# Overview

Sometimes an user could prefer to have a schema with an optional field. It means that different data tables described by the same schema could either have or doesn't have some column completely.

---

_From @hredestig_

I thought of situations where the user e.g. may want to include a certain column, say, 'temperature', and if so, there would be constraints saying that it has to be num

[2017-10-17 11:16] Stephen-Gates commented on #540
An example would be the [GTFS specification](https://developers.google.com/transit/gtfs/reference/) which has a lot of optionality.

[2017-10-17 14:48] Stephen-Gates opened #541 "Data Resource Sources should explicitly inherit from Data Package"
# Sources in Frictionless Data

The `sources` attribute is used in the [Frictionless Data specifications](http://specs.frictionlessdata.io) to indicate the organization(s) or document(s) that are the source(s) for the data.

[`Sources`](http://specs.frictionlessdata.io/data-package/#sources) is an array of one or more source objects that each must have a `title` and may have `path` and/or `email`

[2017-10-25 02:35] Kenji-K commented on #216
I have a question. Will there be any specified way of converting measurements from one unit to another? Say celsius to kelvin or fahrenheit. Or is this outside the scope of the spec?

[2017-10-26 17:28] vitorbaptista commented on #529
What should be the behaviour of exporting a datapackage that has a virtual column to a XLS, for example? Should these columns be added to the exported file? Similarly, when iterating over a datapackage's resource with a virtual column, should the library add these columns to the returned rows? Are these questions something we want to define in the spec at all?

[2017-10-26 18:03] pwalsh commented on #529
@vitorbaptista I don't think we want to have that in the spec, but perhaps has implementation recommendations.

What do you think?

[2017-10-30 23:04] Stephen-Gates commented on #487
As a data publisher, I strongly support Rufus Pollock's comment above. I would like to see time zone support added for ISO8610 formats e.g.  2016-12-25T00:01:01Z+10

[2017-10-31 16:45] ezwelty commented on #487
@Stephen-Gates  Probably a typo, but just in case: `2016-12-25T00:01:01Z+10` should be written as `2016-12-25T00:01:01+10` (or `+10:00` or `+1000`). The `Z` is a shorthand for `+00:00`, aka UTC. See
https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators

It's difficult to implement the entire ISO 8601 spec, but I think it'd be reasonable to extend the list I suggested above (https://github.c

[2017-10-31 19:40] Stephen-Gates commented on #487
Thanks @ezwelty. Including the Z is my mistake.

[2017-11-03 05:01] Stephen-Gates commented on #529
To add a real world example, I have a [large collection](https://data.qld.gov.au/dataset?q=tide+gauge+archived&organization=&sort=score+desc%2C+metadata_modified+desc) of [tide gauge data](https://data.qld.gov.au/dataset/urangan-tide-gauge-archived-interval-recordings/resource/689dcc73-4cd7-4144-8fc0-6ea32757e4f2) with constants stored in a [readme](https://www.tmr.qld.gov.au/~/media/aboutus/corpi

[2017-11-04 10:03] rufuspollock commented on #216
@Kenji-K this would be outside of the spec - it would be something a tool would implement (but the spec could form the basis for that tool's API)

[2017-11-04 10:03] rufuspollock commented on #216
@pwalsh @roll

[2017-11-05 23:26] Stephen-Gates commented on #530
This error still exists on http://frictionlessdata.io/specs/table-schema/

[2017-11-07 03:38] Stephen-Gates opened #543 "Broken links in http://frictionlessdata.io/specs/data-package/"
All the links on this page that refer to other parts of the specs are missing the `/specs` part from `http://frictionlessdata.io/specs/` and are not rendered correctly.

![image](https://user-images.githubusercontent.com/9379524/32476064-d60b8d00-c3c0-11e7-8643-c37a7720f1e2.png)

[2017-11-07 03:45] Stephen-Gates commented on #543
Same issue on:

- http://frictionlessdata.io/specs/data-resource/
- http://frictionlessdata.io/specs/fiscal-data-package/
- http://frictionlessdata.io/specs/profiles/
- http://frictionlessdata.io/specs/tabular-data-package/
- http://frictionlessdata.io/specs/tabular-data-resource/

[2017-11-07 13:26] pwalsh commented on #543
@callmealien can you please check this when you get time.

[2017-11-08 12:39] callmealien commented on #543
This is now fixed @Stephen-Gates @pwalsh

[2017-11-08 12:39] #543 closed

[2017-11-08 12:40] Stephen-Gates commented on #543
Thank you @callmealien

[2017-11-09 15:48] k-nut opened #544 "CSS missing"
http://specs.frictionlessdata.io currently appears (almost) unstyled because https://bootswatch.com/paper/bootstrap.min.css is 404ing...

[2017-11-09 15:52] pwalsh commented on #544
@jobarratt this is likely related to the other issue noted elsewhere around redirects. Can @smth and / or @callmealien look at this asap?

[2017-11-09 15:52] pwalsh commented on #544
thanks @k-nut ! great to see you here ;)

[2017-11-12 09:15] smth commented on #544
Is that site supposed to redirect to http://frictionlessdata.io/specs/ ?

[2017-11-13 12:53] stevage commented on #486
FWIW, "laps around the planet" isn't necessarily a bad thing. It's one of the easier solutions for dealing with data near the meridian (180 longitude), where lots of stuff breaks down.

[2017-11-13 16:52] serahrono commented on #544
redirect is now set up, thanks for flagging @k-nut.

[2017-11-13 16:53] #544 closed

[2017-11-14 18:26] akariv commented on #536
There's a major misunderstanding here I think.

@vitorbaptista speaks of 'data wrangling', but this feature is nothing of this kind.
Data wrangling describes an input, a set of processing steps and an output.

This feature is a way to describe the dataset's structure, with the de-normalised form as the frame of reference. It's not procedural, but declarative.

This description _could_ be used by a

[2017-11-15 11:15] vitorbaptista commented on #536
@akariv I don't understand. These virtual columns are describing an input (the "physical model"), a set of processing steps ("add a column", "remove a column", "add a row", etc.), and an output (the "virtual model"). This does sound a lot like data wrangling.

I think the main question is how much the FDP should strive to handle existing data. At one extreme, we have the ideal world, where all dat

[2017-11-15 12:50] eocarragain commented on #403
@rufuspollock @ericbusboom I know this has been discussed in before (see [#110](https://github.com/frictionlessdata/specs/issues/110); [#218](https://github.com/frictionlessdata/specs/issues/218)), but isn't json-ld a simple, widely adopted, unobtrusive, developer-friendly way of tackling his problem? Apologies if I'm missing something obvious!

[2017-11-27 08:47] serahrono opened #545 "Develop Geo data specification protocol"
_From @henrykironde on November 10, 2017 3:5_

From the previous discussion on issue https://github.com/frictionlessdata/specs/issues/86
I have created a repository and I have included sample specifications that I have been working with.

Note:
As s @Stephen-Gates stated in the previous discussion

[code]
There are two categories

1.  Vector specifications
2.  Raster specification

- Each category

[2017-11-27 08:47] serahrono commented on #545
_From @Stephen-Gates on November 10, 2017 20:11_

See also https://discuss.okfn.org/t/geo-data-package/6143

[2017-11-29 06:42] pwalsh commented on #518
@akariv

Can you:

1. Add here a brief description, and a sample snippet, of the new syntax/handling being proposed for v1.
2. Additionally, link to the current text of the v1 spec in whole.

[2017-11-29 06:42] pwalsh commented on #519
@akariv

Can you:

1. Add here a brief description, and a sample snippet, of the new syntax/handling being proposed for v1.
2. Additionally, link to the current text of the v1 spec in whole.

[2017-11-29 06:43] pwalsh commented on #520
@akariv

Can you:

1. Add here a brief description, and a collection of sample snippets, of the new syntax/handling being proposed for v1.
2. Review the linked issues above to ensure they are all handled.
2. Additionally, link to the current text of the v1 spec in whole.

[2017-11-29 06:45] pwalsh commented on #521
@akariv

Can you link to the current text working document of the v1 spec in whole, which, while still in need of editing and structure, takes a completely different approach to the v0.3 spec and is much more friendly and readable. Would be good to get some feedback even in current state.

[2017-11-29 06:46] pwalsh commented on #532
I'm marking this as WONTFIX, as we are completely changing the spec text and this will be addressed by that.

[2017-11-29 06:46] #532 closed

[2017-11-29 06:47] pwalsh commented on #524
@akariv

Can you:

1. Add here a brief description, and a sample snippet, of the new syntax/handling being proposed for v1, specifically in regards to identifiers.
2. Additionally, link to the current text of the v1 spec in whole.

[2017-11-29 06:47] pwalsh commented on #525
bump @timgdavies ?

[2017-11-29 06:48] pwalsh commented on #525
@akariv thoughts on this for FDP v1?

[2017-11-29 06:55] pwalsh commented on #536
I'm pretty happy with how this looks in the v1 specification. It is a different approach to most data standards, but directly addresses the way fiscal data is overwhelmingly represented in tabular form because it is intuitive for humans.

@akariv

Can you:

1. Add here a brief description, and some sample snippets, of the new syntax/handling being proposed for v1.
2. Additionally, link to the curr

[2017-11-29 06:55] pwalsh commented on #533
@akariv can you keep on eye on this in your work.

[2017-12-02 23:12] Stephen-Gates opened #546 "Reference the data package version pattern from the data package specification"
The data package specification for the [version](https://frictionlessdata.io/specs/data-package/#version) property references the [semantic versioning specification](https://semver.org/).

A better reference would be the [data package version pattern](https://frictionlessdata.io/specs/patterns/#data-package-version) that also references the semantic versioning specification and has specific advice

[2017-12-04 17:05] vitorbaptista opened #547 "How to describe the table schema of a multi-page spreadsheet?"
What's the expected behaviour of a validator (say goodtables) when parsing a datapackage like:

[code]

I imagine the tool will validate the first page. Is there a way to define which page to validate?

The specific use case I'm thinking is on defining the table schema for goodtables.

(cc @pwalsh)

[2017-12-04 17:10] pwalsh commented on #547
While we support excel in the underlying libraries (tabulator), and therefore also in goodtables, excel is not valid for a *Tabular Data Package*, and so I would not expect this DP to be parsed as a TDP as a given.

However, it might due to implementation. In that case, I am not sure. while gt has the ability to select a sheet, TDP has no such declaration, and one might expect it to select the fir

[2017-12-06 12:32] kishoreabhishek opened #548 "foreignKeys not working in goodtables-py"
Below is my datapackage.json

` { "name": "testing", "resources": [ { "name": "data", "path": "data.csv", "schema": { "fields": [ { "name": "id", "type": "string", "constraints": { "required": true } }, { "name": "name", "type": "string" }, { "name": "description", "type": "string" }, { "name": "amount", "type": "number" } ], "primaryKey": ["id"] } }, { "name": "data2", "path": "data2.csv", "schem

[2017-12-07 00:54] henrykironde commented on #545
@bidhya, feel free to have a look and contribute.

[2017-12-07 09:52] kishoreabhishek commented on #548
Thanks for taking this issue up

[2017-12-07 10:47] pwalsh commented on #548
Hi @kishoreabhishek

Thanks for raising this issue.

Issues for using goodtables ideally should be raised on the [goodtables issue tracker](https://github.com/frictionlessdata/goodtables-py/issues), as this here issue tracker is for the specification work, not for implementation work.

There are two things you need to know:

1. The [Data Package implementation](https://github.com/frictionlessdata/

[2017-12-07 10:47] #548 closed

[2017-12-07 22:14] rufuspollock commented on #547
@vitorbaptista first as @pwalsh says that is not a valid tabular data package.

However, this is a natural case and we've already been handling this in DataHub, see this post: http://datahub.io/blog/excel-files-on-the-datahub-automated-previews-and-data-extraction

Our approach is to allow schema on Excel resources but have an extra sheet property. @anuveyatsu can probably comment in more detail.

[2017-12-08 06:11] pwalsh commented on #548
Moved to https://github.com/frictionlessdata/goodtables-py/issues/238

[2017-12-08 17:38] jungshadow opened #549 "Enum constraint with arrays in table schema"
I'm using an array field with an enum constraint that consists of an array of strings:

[code]

I’m trying to save a datapackage–using [Package](https://github.com/frictionlessdata/datapackage-py/blob/master/datapackage/package.py)–but running into validation errors. The error that’s being thrown is `Field "ApplicationRequestStatusType" can't cast value "duplicate" for type "array" with format “de

[2017-12-09 05:15] stevage opened #550 ""GeoJSON" format type in Table Schema"
There are a couple of weird things about this.

1. Embedding GeoJSON or TopoJSON in a single column of a CSV file seems like a pretty terrible idea. It's a very inefficient way to store geodata such as a single point. (Around 97 characters just to store a lon/lat combo, depending on precision). Is there anyone actually doing this?
2. TopoJSON is not some sub-species of GeoJSON, it's a completely d

[2017-12-09 08:27] akuckartz commented on #550
WKT (Well-Known Text) probably is better for several reasons. See https://en.wikipedia.org/wiki/Well-known_text

(One reason is better compatibility with linked data standards, GeoJSON is problematic in that regard.)

[2017-12-09 08:54] rufuspollock commented on #550
@stevage i'd be very happy to deprecate this to a pattern and only reintroduce into the spec if there was clear demand #ZenSimplicity 😄

[2017-12-10 07:32] stevage commented on #550
@akuckartz Yeah, my view is the strongest patterns are:

1. "longitude" and "latitude" columns in a CSV file for point data.
2. GeoJSON file for line or polygon data.
3. If you absolutely have to have line/vector data in a CSV, use WKT.

[2017-12-10 20:03] roll commented on #549
@jungshadow
So the specs say:

Based on this words for the `array` field type the enum constraint should look like:

[code]

And valid data values will be:

[code]

Could you share your data package to better understand the use case?

[2017-12-10 21:00] jungshadow commented on #549
Thanks for the update, @roll!

I admit though the structure is a bit confusing. First, does the file I mentioned above, `table-schema.json` in `tableschema/profiles/` contradict spec (assuming I'm reading it correctly)? Second, I can see having the strings wrapped in arrays if you'd like to have specific groups of items as potential values. For example (_**NB:** the following assumes that an appli

[2017-12-10 21:44] roll commented on #549
Based on this description a type of the field could be a `string`. And if it's astring thr initial enum will work.

[code]

[2017-12-10 21:57] jungshadow commented on #549
@roll I apologize if I'm not being entirely clear (and it looks like I need to update the description in the documentation, so thanks for pointing that out). I want the ability to capture multiple values from the enum, so the array field type is the most appropriate for my use case, but I don't want to limit to only certain combinations of values. My use case above was only to illustrate how I tho

[2017-12-11 06:33] roll commented on #549
@jungshadow
No worries. I was also thinking that probably multiple values are needed. Problem that for now the specs doesn't cover this use case. `enum` is a constraint for **field value**. And for your use case we need a constraint for **field value subitem**. So it's probably could be something like `itemEnum`.

[2017-12-11 15:21] jungshadow commented on #549
Bummer. As a stop-gap, if I wrap all the `enum` strings as arrays in your first example above, will that accomplish what I'm looking to do? As an example, will the following row validate (see 5 value in)?

[code]

If so, great! Personally, I'm still advocating for the separation of duties I outlined above (i.e. `enum` array of strings for any combinations of values and an `enum` array of arrays fo

[2017-12-12 11:57] roll commented on #549
@jungshadow
No. It will work only for single values in the `ApplicationRequestStatusType` field. E.g. for the provided row the enum constraint should also contain `[missing-ssn,missing-voter-signature]`.

[2017-12-12 17:05] rufuspollock commented on #550
@stevage how are we doing on a draft spec here - i'd be keen to trial this 😄

[2017-12-12 18:36] vitorbaptista opened #551 "How to define missing values in a single field?"
There are cases where a missing value in a column is a valid value in another column. For example, https://data.gov.au/dataset/colac-otway-shire-trees/resource/bcf1d62b-9e72-4eca-b183-418f83dedcea has a missing value for `Year_Planted` as `0`, but that might be valid in another columns.

From https://frictionlessdata.io/specs/table-schema/, it appears missing values can only be defined on the tabl

[2017-12-12 22:58] rufuspollock commented on #551
@vitorbaptista originally they were per field but we switched to per resource. I think it could make sense to support both and not complex to do so but i'd appreciate thoughts form @pwalsh

[2017-12-13 06:30] akariv commented on #533
All identifiers in new spec are now lower camel case (as in other FD specs).
Names of (official) column types are kebab-cased.

[2017-12-13 06:30] #533 closed

[2017-12-13 06:33] akariv commented on #536
This is the current spec:
https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=

The relevant bits from the spec (although I do recommend reading the entire thing, it's super interesting!):

### Fiscal Modelling

This specification allows modelling of fiscal data in two distinct levels: the structural level and the semantic level.

**Structural Level**

We want to properly describe th

[2017-12-13 06:40] akariv commented on #525
In FDPv1 there's full flexibility to add new _ColumnTypes_ to describe these sort of things - for example, the type `recipient:generic:legal-entity:code-type` could be used to describe the codelist from which the legal entity's code came from.

This type might be used to describe an existing column in the data (in case it exists), or, more commonly, to add a new column with a constant value contai

[2017-12-13 06:51] akariv commented on #524
This is the current FDP draft: https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view

Generally speaking, the new fiscal data package is a _tabular data package_. As such, it holds one or more data tables, each with a schema and a defined _primaryKey_.

As suggested above, a mapping of `{k => v for k in primaryKey}` could be used as a unique row identifier, which is also somewhat

[2017-12-13 06:53] akariv commented on #521
This is the current working draft of the spec: https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view

All feedback would be most welcome!

[2017-12-13 07:01] akariv commented on #520
This is the current working draft of the spec https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view

I believe most of the linked issues (if not all) were addressed by the conceptual change that we're introducing and the move to the more flexible _ColumnTypes_.
While I recommend reading the spec draft for a more in-depth explanation, the basic idea is that semantic mapping of the

[2017-12-13 07:06] akariv commented on #519
This is the working draft of the v1 FDP spec: https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view

This new spec removes the strict rules on 'direction'. Direction is now a _ColumnType_, meaning it could be used to describe an existing column of the data, or as a 'constant value' column, adding this information as meta-data. It could also be omitted completely by the users, in

[2017-12-13 07:10] akariv commented on #518
This is the working draft of the v1 FDP spec: https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view

This new spec removes the strict rules on 'phase'. Phase is now a ColumnType, meaning it could be used to describe an existing column of the data, or as a 'constant value' column, adding this information as meta-data. In cases where the data contains multiple measures, one per pha

[2017-12-13 07:14] akariv commented on #529
We ended up taking a different approach in the fiscal data package (this is the working draft https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view), in which we don't modify the table schema itself but rather use another property in the descriptor for that.

[2017-12-13 07:15] akariv commented on #539
This is the working draft of the new version of the spec: https://hackmd.io/BwNgpgrCDGDsBMBaAhtALARkWsPEE5posR8RxgAzffWfDIA=?view

It's been re-written from ground up, so I hope that these sort of ambiguities are now resolved.

[2017-12-13 11:32] roll commented on #551
Yes it's easy on the implementation level

[2017-12-13 16:57] rufuspollock commented on #536
@akariv i really like this - and all the FDP v1 changes!

[2017-12-14 00:56] Stephen-Gates opened #552 "Broken link to path-or-url"
On the [data package](https://frictionlessdata.io/specs/data-package/) page, all the links to https://frictionlessdata.io/specs/data-resource/#url-or-path are missing the `/specs` bit in the link

[2017-12-14 13:50] #552 closed

[2017-12-14 13:58] serahrono commented on #552
Thanks for flagging, @Stephen-Gates

[2017-12-14 15:06] jungshadow commented on #549
@roll That's a bummer. This project is somewhat of a fact-finding mission. Currently, we're not sure how many or which of the `enum` values would invalidate a ballot application or a ballot. Is there some way that y'all would consider my use case for inclusion into the spec?

[2017-12-15 09:01] swillner opened #553 "How should multiple lines be included in the JSON metadata?"
The data package specification (https://frictionlessdata.io/specs/data-package/) says for the `description` field:

It is, however, unclear how to include multiple lines in JSON. E.g. should the literal "\n" be used to mark line endings?

[2017-12-15 09:39] roll commented on #549
@jungshadow
As a quick fix on top of my head there is only an idea to store this field a string and use a pattern constraint like:

[code]

With data like:
[code]

Related to the possible specs changes I'm cc here @pwalsh @rufuspollock

[2017-12-18 15:00] vitorbaptista commented on #551
I'm usually not very fond of allowing multiple ways to do the same thing (i.e. supporting both per field and per resource), as then to understand the schema you need to keep in your head not only the current definition, but all other places where this definition was overloaded.

Because of this, I prefer to have these changes on a single place, even though this will create repetition in some cases

[2017-12-18 15:34] vitorbaptista commented on #547
Is there a place for these "extensions"? Although I understand TDP only supports CSV, spreadsheet formats are a very common use-case.

My vision for goodtables is that the TDP and table schema are the way most people will configure the validations, and the missing piece is defining the sheet in a spreadsheet. We can go ahead and add a `sheet` attribute, as @rufuspollock has done on datahub. Do you

[2017-12-18 17:47] jungshadow commented on #549
I appreciate the quick fix, @roll! This isn't a knock on the fix and maybe I'm being overly pedantic, but this functionally seems more like an array than a string. Interested in @pwalsh's and @rufuspollock's thoughts on this, too.

[2017-12-18 17:56] rufuspollock commented on #553
@swillner JSON spec states that that is so - you put `\n` for line endings in JSON. Note in practical work i recommend putting description text in a README.md and then putting that into the description field and readme field as necessary. See https://discuss.okfn.org/t/data-package-readme-md-implementation/6194

[2017-12-18 17:57] #553 closed

[2017-12-19 07:32] Stephen-Gates commented on #547
https://frictionlessdata.io/specs/patterns/ ?

[2017-12-21 15:16] simnh opened #556 "Many-to-many relationship with foreign keys and arrays possible?"
Hey,

I wondered if there is a way to represent a many to many (many to 1, 1 to many) relation within a data package using foreign-keys. I do not what to add another table representing this relation as it would be done in a relation database)

I have a `datapackage.json` example like the one below, where I would like to have a array of strings in one field and reference to another file the this fo

[2017-12-23 19:03] rgbkrk opened #557 "Provide a way to indicate that a data resource was sampled"
We're using data resource now for sending data from a jupyter kernel to a jupyter frontend. In pandas, you can write:

[code]

and then every time you display a dataframe, it's returning data resource. _However_, we always either do a `head` or `sample` when representing a dataframe like this (if really big). When that happens we'd like to include data about if/how it was sampled.

We're fine doin

[2017-12-25 09:36] akariv commented on #549
This is a perfect application of the 'itemType' property I suggested here: https://github.com/frictionlessdata/specs/issues/409

So - you'd have an array, and you'll be able to state the inner item type (in this case, a string with an enum constraint).

[2017-12-26 03:27] jungshadow commented on #549
@akariv Sounds like that would work perfectly. I noticed @rufuspollock mentioned it may go into 1.1. Is there a rough timeline for it?

Thinking aloud, I'm still wondering about the usefulness of a `set` type (or constraint) that's distinct from `array`. The former would allow only distinct objects while the latter would allow repeated objects. My use case would benefit from the former.

[2017-12-26 13:01] rufuspollock commented on #557
@rgbkrk I think this is a quite a common use case and nice to record. It would make a nice "pattern" for sure (would not yet be part of the formal spec).

What's the metadata you are using at the moment?

[2017-12-26 13:06] rufuspollock commented on #551
@vitorbaptista we already have a global default i think so i think the discussion then becomes per resource or per field.

It would be useful to locate the issue / PR where we switched to see the original reasoning (if any).

[2017-12-26 18:05] rgbkrk commented on #557
xref: https://github.com/nteract/improved-spark-viz/issues/6

We don't have any metadata yet, https://github.com/nteract/improved-spark-viz/issues/6 was the initial discussion for introducing some.

[2017-12-26 20:16] Stephen-Gates commented on #551
@rufuspollock Perhaps this is related https://github.com/frictionlessdata/specs/issues/315

[2018-01-02 14:25] rufuspollock commented on #551
@Stephen-Gates 👏  and it's #359 where the discussion of moving to per resource from per field happened.

@vitorbaptista i think the question here is whether this is worth it. It seems there are some real pros to having defaults at a per resource level. At the same time having it in both places (resource and field) is a pain i think (?) both for users and implementors.

Hmmm ...

[2018-01-02 14:29] rufuspollock commented on #556
@simnh hmmm this is not really supported in Data Package specs at present. The normal way would be the m2m table. What's the objection to having the m2m table? (Having an array of keys seems a bit hacky though i can imagine it making sense with e.g. a tags field or similar ...).

[2018-01-02 14:44] pwalsh commented on #551
I think this is a specific case of a pattern where some properties should cascade.

[2018-01-02 18:15] vitorbaptista commented on #551
I agree on having it per resource and per field with cascading :+1:

[2018-01-05 02:57] Stephen-Gates opened #559 "Error in example Contributors property"
In https://frictionlessdata.io/specs/data-package/#contributors the example code is missing quotes around "contributors"

[code]

[2018-01-06 06:29] Stephen-Gates opened #560 "Tabular Data Package example should include `profile` for clarity"
The Tabular Data Package [example](https://frictionlessdata.io/specs/tabular-data-package/#example) does not include the `profile` properties for both the package and resource.

This is correct given it is presented as a "minimal data package" and `profile` is only a recommended property.

For clarity, I think "minimal" should be dropped and the `profiles` added to the example.

[2018-01-07 10:44] Stephen-Gates opened #561 "Can a CSV dialect be referenced by path-or-url? Implementor Guide wrongly suggest so"
In the Implementor Guide [on dereferencing and descriptor validation](https://frictionlessdata.io/specs/implementation/#on-dereferencing-and-descriptor-validation) it provides `dialect` as an example of something to dereference but I can't see in the [data resource spec](https://frictionlessdata.io/specs/tabular-data-resource/#csv-dialect) where a `dialect` can be provided using a path or url.

Pe

[2018-01-08 07:58] pwalsh commented on #524
@akariv you might want to look at this extensive discussion https://github.com/open-contracting/standard/issues/483

[2018-01-09 18:49] rufuspollock commented on #561
@Stephen-Gates i think there must be an error in the implementation guidelines (/cc @vitorbaptista ) as i don't believe dialect was intended to be dereferencable.

[2018-01-09 19:21] roll commented on #561
I don't think it's an error because @pwalsh has clearly mentioned it as a requirement when I was working on implementations. So the most of implementations supports it.

[2018-01-09 19:50] Stephen-Gates commented on #561
@roll that's fine but then shouldn't the specs have some for `dialect` similar to [`schema` in Data Resources](https://frictionlessdata.io/specs/data-resource/#resource-schemas)?

[2018-01-10 08:28] roll commented on #561
I mean on the implementations level it works - https://github.com/frictionlessdata/datapackage-js/blob/master/test/package.js#L239

But it seems missed in the specs text. Also I think that dereferencing notes should be part of the specs. Because having it in the implementation guide makes feel it like some optional thing (my experience from the work with Tool Fund implementators).

[2018-01-10 11:14] akariv opened #562 "year-quarter time format"
Add a new datatype for denoting yearly quarters (which apparently is quite a common thing).

Proposed name: `yearquarter` (following the existing `yearmonth`)

Formatting:
- default format `yyyy-Qq`, e.g.: 2015-Q1, 2013-Q4
- `format` parameter:
    Same as in `date`, with these extensions:
       - `%q` should be used to indicate a numeric quarter number (between 1 and 4)
       - `%Q` should be u

[2018-01-10 11:30] Stephen-Gates commented on #562
Should be clear in spec that Q1 = 1 Jan to 31 Mar, etc.

[2018-01-10 14:07] rufuspollock commented on #561
@roll @pwalsh may have mentioned it but it is not in the spec and that was not accidental. I'm happy for us to revisit this and @pwalsh judgment on these things is always excellent.

Let's get this resolved asap 😄

[2018-01-10 14:38] Stephen-Gates opened #563 "Is rdfType a URL, URI or IRI?"
Data Curator makes data packages. We want to ensure that the user enters a correct value in the `rdfType` property. As discussed in [Data-Curator #314](https://github.com/ODIQueensland/data-curator/issues/314) we are unsure how to validate it.

Perhaps the FD spec and the referenced RDF Schema spec should align given the [change](https://www.w3.org/TR/rdf-schema/#h2_PER-changes) from URI to IRI.

[2018-01-10 15:14] pwalsh commented on #561
It does not need to be in the spec, and I agree 100% that this is not accidental.

It is in the implementation notes. if we want to get into details, this is about providing convenience for publishers (URLs to things like schemas and dialects, for reuse), and being about to validate the object that is referenced.

I do not see a big issue TBH. Happy for this to be resolved in any way that we like.

[2018-01-10 19:28] Stephen-Gates commented on #561
I'm sorry @pwalsh I think if it's not in the spec then it isn't part of the spec. I agree with @roll that the Implementation guide is sitting on the "outer", like Patterns, and so is not perceived as part of the formal spec.

My preference is for `dialect` to be addressed in the spec in a similar way to `schema`.

[2018-01-11 08:01] pwalsh commented on #561
@Stephen-Gates and all.

The Tabular Data Package spec says exactly this about schema and dialect:

[code]

The implementation guide says exactly this on dereferencing:

[code]

So, I do not understand how dialect is addressed in a *different* way to schema in the specification.

[2018-01-11 08:14] roll commented on #561
@pwalsh
I think specs-wise difference is that `schema` has this section in the specs - https://frictionlessdata.io/specs/data-resource/#resource-schemas - where `url-or-path` is explicitly allowed.

[2018-01-11 08:19] Stephen-Gates commented on #561
@roll correct and that’s my point... be explicit for `dialect` also.

[2018-01-11 08:25] pwalsh commented on #561
I see. I'm happy for a PR to make this more explicit then. I think all the information is there, but agree it could be more explicit.

[2018-01-13 11:43] Stephen-Gates commented on #561
Made a start at #565.

I have not changed `version` or `updated` document metadata

I have not included the dereferencing notes as part of the specs. Feel free to add that in.

[2018-01-14 02:01] Stephen-Gates opened #566 "data package identifier spec has incorrect link to core datasets"
The link to http://data.okfn.org/data should go to, http://datahub.io/core, I think.

cc: @rufuspollock

[2018-01-14 02:23] Stephen-Gates opened #567 "data package identifier spec - GitHub example incorrect?"
Given

Shouldn't the GitHub example

Use `http://github.com/datasets/gold-prices/` with a trailing slash because, "URL should *always* have a trailing slash ('/')" ?

[2018-01-16 22:26] MAliNaqvi commented on #364
@rufuspollock @Stephen-Gates @pwalsh
is there a need for a separate quality file, could we not create an optional section in datapackage.json to store the metrics?

[2018-01-16 23:15] Stephen-Gates commented on #364
@MAliNaqvi I can see benefits in both approaches.

If csv:
- datapackage.json is smaller
- quality data may be more accessible to non-technical people
- tools that don't support this part of the spec may drop the data quality information

If json:
- easy for computers and experts to work with

The spec at present has options to support data in-line, in a path or at a url, so I'm sure we could cate

[2018-01-17 19:26] patcon commented on #364
great point. that's reason enough. imho json means "you are looking where you're not supposed to" for non-technical people.

[2018-01-17 20:51] Stephen-Gates commented on #364
I'm happy to draft something if I can get a "steer" from @rufuspollock, @pwalsh, or @roll on the general direction to take.

I think you could capture at least 6 types of measures:

- package errors e.g. valid/pass
- package stats e.g. 3 data resources
- table errors e.g. `encoding-error`, `blank-row`, `schema-error` from [data-quality-spec](https://github.com/frictionlessdata/data-quality-spec/bl

[2018-01-22 07:39] Stephen-Gates commented on #364
OK, I've made a start on a [Data Quality Pattern](https://github.com/Stephen-Gates/data-quality-pattern). It is still a work in progress but probably good enough to get some feedback and work out if I'm going in the right direction.

[2018-01-22 13:21] rufuspollock commented on #364
@Stephen-Gates great to get this started.

Comments:

* Process issue: suggest putting the spec into a hackmd for now as that is the easiest way to collaboratively edit it
* I think it would be good to start by listing user stories explicitly - I've put some example ones below
* definitely think this is something that, by default, would go into the `datapackage.json`. I think we should design arou

[2018-01-22 20:30] jungshadow commented on #549
Hi @roll, @rufuspollock, and @pwalsh! Wanted to quickly bump this thread. Any ideas on this or a possible timeline for #409, which may similarly work for my purposes? Thanks!

[2018-01-23 03:11] Stephen-Gates opened #574 "Should cache pattern should apply to `path` not `data`?"
In the [caching of resources pattern](https://frictionlessdata.io/specs/patterns/#caching-of-resources) it states

I think `data`  needs to be replaced with `path` based on [data location](https://frictionlessdata.io/specs/data-resource/#data-location) in the Data Resource spec.

[2018-01-23 07:09] Stephen-Gates commented on #550
@rufuspollock is there a plan to:

update Table Schema specification:

- add new `latitude` and `longitude` types
- remove `geopoint` to a pattern
- split up  `geojson` and `topojson` or remove to a pattern
- add `well-known text`
- update tableschema.xx implementations to match?

and more broadly, based on [Spatial Data Package Investigation](https://research.okfn.org/spatial-data-package-investi

[2018-01-23 08:00] Stephen-Gates commented on #545
Now there is a  [Spatial Data Package Investigation](https://research.okfn.org/spatial-data-package-investigation/) report. Have a read and comment here or on the [forum](https://discuss.okfn.org/t/geo-data-package/6143/25?u=stephen).

[2018-01-23 14:00] bcp-software opened #575 "alternateKey in addition to primaryKey?"
Database tables support primaryKey and alternateKey (or alternate unique constraints on one or more fields in the table).

jsonSchemaTable already supports the primaryKey in an good way. Support for an alternateKey is absent. The only way to arrange this for a single field is to specify a unique constraint on this field. However, this does not include potentional uniqueness constraints on a combin

[2018-01-23 14:47] dahlbaek opened #576 "CSV dialect specification conflicts with JSON Schema"
According to the CSV dialect [specification](https://frictionlessdata.io/specs/csv-dialect/), `escapeChar` is not set by default:

On the other hand, according to the JSON [Schema](https://frictionlessdata.io/schemas/csv-dialect.json), `escapeChar` is set to `\`:
[code]

Possible fixes (mutually exclusive):
1) Change specification to

2) Change JSON Schema to
[code]

If you would like, I can make

[2018-01-23 19:40] akariv opened #578 "Unable to set no `missingValues` in tableschema?"
Is it possible to specify that no value should be treated as `null` by the `missingValues` mechanism?

atm it seems like it has to be an array of strings with at least one item (and if not specified, takes the default value of `['']`).

[2018-01-23 20:31] Stephen-Gates commented on #364
@rufuspollock happy for a quality assessment tool to produce JSON, and then produce a CSV.  What I wrote is focussed on sharing the data quality measures with others.

Happy to have a consistent approach between data validation and quality assessment, so thanks for the Epic.

Requirements are in the document, just not written in user story format.

I'm not sure about your statement,

That's what I

[2018-01-24 11:56] roll commented on #578
@akariv
Good question. I think It should be addressed at the specs level. Because for now the implementations just do what the specs say.

[2018-01-25 09:03] rufuspollock commented on #578
@akariv setting missingValues to the empty list should work i assume i.e.

[code]

[2018-01-25 09:09] akariv commented on #578
That was my hunch as well, but atm it's not possible as the schema requires at least one item:
https://github.com/frictionlessdata/specs/blob/master/schemas/dictionary/tableschema.yml#L207

[2018-01-25 09:10] roll commented on #578
I think we need to fix JSON Schema

[2018-01-25 18:18] akariv commented on #578
Shall I create a PR?

[2018-01-26 09:08] Stephen-Gates opened #580 "Optional `sources` seems to be required"
[`sources`](https://frictionlessdata.io/specs/data-package/#sources) is an optional property but it seems to be required https://github.com/frictionlessdata/specs/blob/master/schemas/dictionary/common.yml#L277

My understanding is that `sources` is optional but if it is present it must have a `title` and may have a `path` and /or `email`.

Shouldn't https://github.com/frictionlessdata/specs/blob/m

[2018-01-26 21:10] Stephen-Gates opened #581 "Example license is incorrect"
On https://github.com/frictionlessdata/specs/blob/master/schemas/dictionary/common.yml#L260 the example license is incorrect. It should follow https://frictionlessdata.io/specs/data-package/#licenses

It should use `path` not `uri`

[2018-01-29 11:59] #530 closed

[2018-01-29 12:01] #546 closed

[2018-01-29 12:02] #560 closed

[2018-01-29 12:06] rufuspollock commented on #576
Yes, we should go with the written spec rather than the JSON schema which means the escape character is **not** set by default.

[2018-01-29 12:06] #576 closed

[2018-01-29 12:07] rufuspollock commented on #578
@akariv please submit a PR 😄

[2018-01-29 12:20] rufuspollock commented on #580
@Stephen-Gates yes, sources is optional and MUST have title.

I think all your corrections are correct -- this mismatch arose from the rewrite last may where we corrected one item without the other (accidentally). Please submit a PR.

[2018-01-29 12:22] rufuspollock commented on #563
@Stephen-Gates sounds good.

[2018-01-29 12:22] rufuspollock commented on #581
@Stephen-Gates good spot - can you submit a PR.

[2018-01-29 12:25] rufuspollock commented on #550
@Stephen-Gates these are good questions and represent an overall "epic" of work re geo types in the specs that go beyond this specific issue.

I'm not yet sure about adopting the recommendations of the investigation wholesale esp the `locations` concept. I would like to hear more still about how people are using the current stuff and potential future stuff in the wild (and I'd like to do some more

[2018-01-29 12:27] rufuspollock commented on #562
I thought about this when I introduced yearmonth and year #105 - how often do quarters show up and do they need their own type? This is a classic "feature" vs "complexity" trade-off and i'd like more data before we made a decision.

Re @Stephen-Gates we should at least be clear how people can translate / interpret this stuff *now*.

[2018-01-29 12:31] rufuspollock opened #582 "[discuss] Allow names to be unicode rather than ascii"
In v1.0 we restricted names to be ascii lower case primarily to support reuse in urls without escaping.

However, this is a big restriction for users with non-english alphabet who may want to name their resources and packages using their own alphabets.

Questions

* What is status of IRI type stuff in browsers and elsewhere?
* How much of a problem is this for users right now?
* What serialization

[2018-01-29 13:31] Stephen-Gates commented on #561
Partially fixed via https://github.com/frictionlessdata/specs/pull/569

Doesn't address @roll's https://github.com/frictionlessdata/specs/issues/561#issuecomment-356533672

Can close from my perspective.

[2018-01-29 21:18] Stephen-Gates commented on #563
Sorry @rufuspollock I wasn't clear...

The W3C RDF Schema 1.1 spec [changed from URI to using IRI ](https://www.w3.org/TR/rdf-schema/#h2_PER-changes). So do you want the spec to be changed to...

As I was told that the code to validate an IRI is difficult, Data Curator is validating that the rdfType is a URL.

[2018-01-30 12:10] akariv opened #586 "FDP v1"
This issue is for general discussion around the fiscal data package V1.
The actual contents of the current draft can be seen [here](https://github.com/frictionlessdata/specs/blob/feature/fdp-v1/specs/fiscal-data-package.md) a d can be commented on in the attached pull request.

cc: @pwalsh @DianaMPG

[2018-01-30 17:59] vitorbaptista commented on #561
Closing this, as it seems it was fixed by https://github.com/frictionlessdata/specs/pull/569. Feel free to reopen if there's anything left to be done.

[2018-01-30 17:59] #561 closed

[2018-02-01 19:54] Stephen-Gates commented on #364
HackMD version of pattern from GitHub - https://hackmd.io/s/BJeKJgW8G

✏️  Comments and edits are welcome

[2018-02-01 20:30] patcon commented on #364
Just an FYI: https://github.com/hackmdio/hackmd/issues/579

[2018-02-01 20:54] Stephen-Gates commented on #364
Thanks @patcon

@rufuspollock the Data Quality Pattern was posted to HackMD on your advice. Are you considering alternate platforms going forward given hackmdio/hackmd#579?

Happy to collaborate on https://github.com/Stephen-Gates/data-quality-pattern if people aren't happy with HackMD

[2018-02-02 06:02] Stephen-Gates commented on #364
I wonder if it's worth folding in the ideas in https://github.com/frictionlessdata/specs/issues/281 `Support for observational error measurements in data` into this spec?

[2018-02-02 22:47] patcon commented on #364
No pressure to bikeshed the tool for this specific doc :)

Just recalled introducing it to someone here, and wanted to ensure folks at okfn had full context

[2018-02-04 00:38] Stephen-Gates commented on #364
Added user stories https://github.com/Stephen-Gates/data-quality-pattern/blob/master/user-stories.md

Stories include reporting validation results

[Contributions welcome](https://github.com/Stephen-Gates/data-quality-pattern)

[2018-02-05 08:29] roll opened #589 "Updating the website automatically after the specs changed?"
# Overview

For now, we need manually commit any change to the website to trigger rebuild with the updated specs. It works well when the specs repository is versioned so a workflow looks like this:
- new commits added to the specs master
- then release happened with some `x.y.z` git tag on the specs repo
- we switch the website to the new specs version here -https://github.com/frictionlessdata/web

[2018-02-05 19:47] ppKrauss commented on #589
Hi, is the cited "`x.y.z` git tag on the specs repo" a kind of *global version* of all specs?

PS: imagining that "global version 1.0.0" is not about *specs/table-schema* version or *specs/data-package*, but about  the set of specs, like in the  [announcement of v1.0](https://discuss.okfn.org/t/announcing-v1-0-release-of-frictionless-data-specifications/5970/7).

[2018-02-06 06:15] pwalsh commented on #589
@roll

Yes. I do not want to make git tags, or any other "global version" meaningful - the only meaningful versions are those of the specs themselves, and they will each progress at their own pace.

That looks like a really nice solution, as long as it only runs on specs master, as you state.

Until we can implement this, I guess a couple of us just need to remember to trigger a new website build

[2018-02-10 12:04] cottrell opened #590 "Dynamic resources?"
Posting here as per https://github.com/frictionlessdata/datapackage-py/issues/207

Is there a view on patterns for dynamic datasets or rather dynamic resources? For example hourly files or growing lists of user records.

[2018-02-11 04:52] Stephen-Gates commented on #590
Off the top of my head it sounds like you need an api.

Otherwise would you append this hours data to the previous data and grow continuously until the data was too big?

Or publish 24 resources a day?

I think https://www.w3.org/TR/dwbp/#intro is worth a read.

Happy to hear other thoughts.

[2018-02-11 11:18] cottrell commented on #590
Yes, an API ... but everything is an API really :) so we might not be specific enough to be understood.

It seems that abstractly, resources could really just be accessors to data (i.e. GET). For example, GET(date='2018-01-03') is a resource subset. This kind of pattern appears all over the place. For example, think about how airflow works for simple scheduled data pulling. Having a container for

[2018-02-11 22:07] Stephen-Gates commented on #590
As a Data Consumer
I want to request a subset of data from a Data Platform and have the result returned to me in a Data Package
So that I can work with the data using Frictionless Data software and others can easily reproduce the same data

So, what changes to the specification are needed to support this?

How do we describe the requested data in a machine-readable way so that the data package exp

[2018-02-12 16:11] cottrell commented on #590
Yes, that is very well stated.

#109 definitely seems related if you include meta-data about the data returned in the API.

[2018-02-23 19:48] timgdavies commented on #525
Apologies I'd missed the alerts above.

org-id.guide currently has CSV and JSON download, and happy to see how we could also have a workflow or archiving those lists to other sources.

Adding a JSON rendering of each page is also on the list for the project.

[2018-02-26 10:10] rufuspollock commented on #551
@vitorbaptista ok, assigning to milestone v1.1.

[2018-02-26 10:26] Stephen-Gates commented on #77
Given https://frictionlessdata.io/specs/views/ and https://github.com/frictionlessdata/specs/issues/255  can this be closed?

[2018-02-26 17:23] domoritz commented on #77
I think you guys will like https://github.com/vega/vega-lite/pull/3417. It makes injecting data into a Vega-Lite spec quite easy.

[2018-03-03 11:27] vitorbaptista opened #593 "Composite and partial unique constraints"
_See previous discussion on https://github.com/frictionlessdata/goodtables-py/pull/252#issuecomment-369336642_

The use case is where you want to validate that multiple fields are unique as a whole. Given the following table:

| id_1 | id_2 |
| --- | --- |
| 1 | 1 |
| 1 |  |
| | 1 |

Both `id_1` and `id_2` are nullable, but we want `(id_1, id_2)` to be unique. All the following rows couldn't be ad

[2018-03-03 19:57] Stephen-Gates opened #594 "Add link to IANA reference for `mediatype` in Data Resource"
Add a link to IANA so people can look up the appropriate [`mediatype`](https://frictionlessdata.io/specs/data-resource/#optional-properties) for their data resource.

Suggested link, Media Types http://www.iana.org/assignments/media-types/media-types.xhtml

[2018-03-08 10:15] Stephen-Gates opened #597 "Foreign keys to data packages pattern - how to reference external data packages?"
The [Table Schema: Foreign Keys to Data Packages](https://frictionlessdata.io/specs/patterns/#table-schema:-foreign-keys-to-data-packages) pattern (repeated below) will be super powerful once implemented.

Imagine having a single shared code-list that many data packages reference :heart_eyes:

I've made an [example data package](https://github.com/frictionlessdata/example-data-packages/tree/master

[2018-03-21 12:36] #580 closed

[2018-03-21 12:38] #559 closed

[2018-03-21 12:53] rufuspollock commented on #77
@domoritz that's great! Have you read the draft spec at our end: http://specs.frictionlessdata.io/views/

Do you have any thoughts?

[2018-03-21 12:55] #581 closed

[2018-03-21 12:57] rufuspollock commented on #545
DUPLICATE of #86. @serahrono please can you merge relevant comments from here into #86

[2018-03-21 12:57] #545 closed

[2018-03-21 12:58] rufuspollock commented on #594
@Stephen-Gates do you want to add a PR for this?

[2018-03-21 12:59] rufuspollock commented on #590
DUPLICATE of #109  - i think reading this that this could merge there. @cottrell could you add comments there based on the needs identified here.

[2018-03-21 12:59] #590 closed

[2018-03-21 13:33] rufuspollock commented on #575
DUPLICATE of #593.

@bcp-software simple uniqueness for one field/column is already supported in Table Schema. For more elaborate unique keys see #593.

[2018-03-21 13:33] #575 closed

[2018-03-21 13:36] rufuspollock commented on #549
@jungshadow right now we don't have an ETA on new features for 1.1 but my guess is H2 this year (the real constraint is resourcing work on this). What really helps us is:

* A PR for a specific pattern for a given approach (which can then become part of spec later)
* A PR (or forked repo) implementing said feature in key libraries so people can use it

[2018-03-21 13:37] rufuspollock commented on #563
@Stephen-Gates I'd stick with whatever is easy and well-supported to validate. If that means sticking with URI (and, perhaps for validation, URL) that's good with me.

[2018-03-21 13:37] rufuspollock commented on #557
@rgbkrk any update - any mini-pattern is very welcome.

[2018-03-21 13:40] Stephen-Gates commented on #594
How's this @rufuspollock

`mediatype`: the mediatype/mimetype of the resource e.g. "text/csv", or "application/vnd.ms-excel". Mediatypes are maintained by the Internet Assigned Numbers Authority (IANA) in a [media type registry](https://www.iana.org/assignments/media-types/media-types.xhtml).

[2018-03-21 14:06] rgbkrk commented on #557
We've put a Boolean sampled key on the metadata within our display protocol on the IPython / Jupyter side and didn't set anything on the resource package json.

[2018-03-21 15:04] jungshadow commented on #549
@rufuspollock I completely understand and I'd be happy to do either of the above, but it would be helpful to have some idea on which implementation to focus. Would it be more helpful to keep it narrowly focused on my use case or should I concentrate on the idea in #409?

[2018-03-21 16:10] domoritz commented on #77
Looks good to me. How are datasets matched to resources in Vega, though. In Vega, a dataset can be at any level in the specification and it doesn't necessarily have to be at the top. As a solution suggest that you require named datasets in the Vega and Vega-Lite specs where the names correspond to the names of the resources.

[2018-03-21 16:44] domoritz commented on #77
Here are my proposed updates: #600

[2018-03-21 21:46] rufuspollock commented on #77
@domoritz awesome - and we have a bunch of vega-based demos on DataHub here:

http://datahub.io/examples

(We'd love to add some vega-lite ones - we keep them here https://github.com/datapackage-examples)

[2018-03-22 10:00] kagesenshi commented on #291
hi, just stumbled upon frictionlessdata .. was thinking of similar idea to datapackage.json for a while now for a pet project for data exchange platform..

it would be good if datapackage can support avro as an option for resource, as avro schema's schema evolution helps with keeping long term data where the schema might change over time. Avro also is less error prone compared CSV when dealing wit

[2018-03-22 11:16] #563 closed

[2018-03-22 15:28] danielfireman opened #601 "Are JSON schemas validated as part of the build?"
The pattern `^(?=^[^./~])(^((?!\.{2}).)*$).*$`, introduced by https://github.com/frictionlessdata/specs/pull/595 might have a problem. https://regex101.com/ says:

I got this by debugging an issue in datapackage-go. By looking at the specs repo, I couldn't find where the schemas are validated before build and push.

[2018-03-25 19:33] rufuspollock commented on #597
@Stephen-Gates the answer was that this would work if there was a canonical data package registry like DataHub and then name dereferenced against that. More discussion of context of this here https://github.com/frictionlessdata/specs/issues/237

[2018-03-25 20:04] rufuspollock commented on #291
@kagesenshi thanks for the feedback and we'll definitely keep this in mind. Note data package already supports avro resources -- it is just a question of how it would integrate with table schema.

[2018-03-25 20:37] Stephen-Gates commented on #319
Suggested change to [Table Scheme spec](https://frictionlessdata.io/specs/table-schema/#descriptor) for Descriptor - *changes in italics*

Advice needed on `SHOULD` or `MUST` for, the number of elements in `fields` array being exactly the same as the number of fields in the CSV file. In #367 I think it suggests `MUST`.

[2018-03-26 07:03] cottrell commented on #109
I think we are closing #590 and merging the discussion thread into here. Basically, it was summarized as this

[code]

I think collections of API queries is kind of what we were getting at. Cemi-concrete examples are things like GET(date=2018-01-01).

[2018-03-26 07:03] cottrell commented on #590
@rufuspollock done.

[2018-03-31 19:43] danielfireman commented on #601
By reading [this doc]([this doc](https://docs.travis-ci.com/user/pull-requests/), it seems that this is not a configuration in the .travis.yml (which would be done by a PR), but a configuration in the travis repository. Furthermore, build PRs is the default option:

Could you please doublecheck the frictionlessdata/specs repository settings?

Furthermore, I believe there could be an error in the t

[2018-03-31 23:38] Stephen-Gates commented on #597
So perhaps...

## Table Schema: Foreign Keys to Data Packages

### Overview

A foreign key is a reference where values in a field (or fields) in a Tabular Data Resource link to values in a field (or fields) in a Tabular Data Resource in the same Tabular Data Package.

This pattern allows users to link values in a field (or fields) in a Tabular Data Resource to values in a field (or fields) in a Ta

[2018-04-01 02:54] Stephen-Gates commented on #597
Noting conversation on [gitter](https://gitter.im/frictionlessdata/chat?at=59ef0281e44c43700a6f05a3), should `datapackage` be changed to `package` in the example above?

cc: @rufuspollock @roll

[2018-04-06 22:58] scottkleinman opened #606 "Contributors with multiple roles"
Currently, the `role` property of `contributors` takes a string. If a single contributor has multiple roles, that person must be listed twice, once in each role, for the object to validate. Is it advisable to allow arrays in `role` (or `roles`) so that multiple roles can be associated with a single agent?

[2018-04-07 00:07] Stephen-Gates commented on #498
Are you just suggesting [`groupChar`](http://frictionlessdata.io/specs/table-schema/#number) here as `bareNumber` is supported and `decimalChar` doesn't make sense for integer

[2018-04-07 03:49] Stephen-Gates commented on #551
I'm thinking of implementing this in Data Curator. Suggested wording for a Pattern is on the forum https://discuss.okfn.org/t/missing-values-per-field-pattern/6571

[2018-04-07 04:10] Stephen-Gates commented on #578
I think this can be closed given #588

[2018-04-07 10:45] Stephen-Gates commented on #537
I've drafted a pattern https://github.com/frictionlessdata/specs/pull/607 and started a discussion on the forum https://discuss.okfn.org/t/table-schema-units-pattern/6573

[2018-04-10 11:50] Stephen-Gates opened #609 "bareNumber to interpret -$1000 as -1000"
The current spec [doesn't support the bareNumber edge case](https://github.com/frictionlessdata/tableschema-js/issues/144) to interpret `-$1000` as `-1000`.

Reword the spec to handle this (changes in bold)...

**bareNumber**: a boolean field with a default of `true`. If `true` the physical contents of this field must follow the formatting constraints already set out. If `false` the contents of th

[2018-04-13 21:45] Stephen-Gates commented on #609
Probably should say something about only one `-` or `+` being used to handle `--$1000`.

Also what about `+/-$1000`

Mmm... Starts to get tricky

[2018-04-16 15:03] rufuspollock commented on #609
@Stephen-Gates it does get quite tricky quickly ...

[2018-04-16 15:22] #597 closed

[2018-04-17 20:18] jqnatividad commented on #523
Is the Smith Family example referred to in the v1 spec available for download anywhere?  It'd be nice if it's readily downloadable and linked from the spec.

[2018-04-24 09:13] vitorbaptista opened #612 "Validate that the constraints are applied to fields with the correct types"
For example, the `pattern` constraint can only be applied to `string` fields, and so on.

(From https://github.com/frictionlessdata/goodtables.io/issues/302)

[2018-04-26 09:16] jheeffer opened #613 "Default encoding UTF-8: with or without BOM?"
Data Resource and Tabular Data Resource spec says if no encoding is given, it is utf-8. It doesn't further specify if this is UTF-8 with or without [BOM](https://en.wikipedia.org/wiki/Byte_order_mark).

I know BOM is not recommended for UTF-8, but we've got excel on windows spewing out UTF-8 with BOM, so it's not uncommon in the wild.

So I guess there are two questions:
1. Should the datapackage

[2018-04-28 06:06] Stephen-Gates commented on #352
Not sure it this [currency pattern suggestion](https://discuss.okfn.org/t/table-schema-currency-pattern/6576) is of any help?

[2018-04-28 20:32] #594 closed

[2018-04-28 20:44] rufuspollock commented on #613
@jheeffer first thanks for opening - it's really good to get these details ironed out.

I generally agree with your intuition and actually came across this issue myself i think with some world bank data. I guess my question here is whether this should be a MUST or a SHOULD. Basically a MUST puts a burden on publishers whilst a SHOULD puts a burden on consumers (and library maintainers). My general

[2018-04-28 22:42] jheeffer commented on #613
Yes, my gut says files SHOULD be UTF-8 without BOM, following [the recommendation of the unicode consortium](http://www.unicode.org/versions/Unicode5.0.0/ch02.pdf).

... Use of a BOM is neither required nor recommended for UTF-8, but may be encountered in contexts where UTF-8 data is converted from other encoding forms that use a BOM or where the BOM is used as a UTF-8 signature. See the “Byte Ord

[2018-05-04 01:34] ashepherd commented on #551
Just wanted to add our use case for the ```missingValues``` property on a field. @BCODMO provides data management support for individual researchers on short-term funding (1-3 yrs) from NSF. Our researcher's data can sometimes contain short-hand values that can be joined with lookup tables after they come back from sea. These fields are usually things like species names or quality flags that they

[2018-05-31 13:12] jgmill opened #615 "Licensing metadata"
At [OPSD](https://open-power-system-data.org/), we (@ingmars, @LionHirth) are wondering how we can specify a separate license for the datapackage.json file.

As far as I understand, the [licenses](https://frictionlessdata.io/specs/data-package/#licenses) property refers to the data package as a whole. How can we specify that a license only applies to a part of the data package, in this case the me

[2018-06-01 15:56] jgmill commented on #615
Thank you for the hint! So we should list the datapackage.json file explicitly as one of the `resources` and specify the license there?

[2018-06-01 21:36] Stephen-Gates commented on #615
Sorry that I wasn't clear. From the link I provided (emphasis added by me) ...

So, say you want to license the metadata (i.e. the datapackage.json) as CC0 but license the data as CC BY SA, you'd have the following in your datapackage.json...

[code]

[2018-06-18 23:28] michaelamadi commented on #290
Let's get the ball rolling on this once more...

I'm in favour of adding the 'compression' property and having 'gz' and 'bz2' to begin with, since they are both in broad use and can be transparently/effortlessly read as .csv files using tools like Pandas and R.

In the absence of the 'compression' property, I agree that inferring the compression from the file extension also makes sense, although I

[2018-06-20 17:04] jgmill commented on #615
Ok that makes sense for the question I asked. However, I should have been more precise in my question: In our case, we can not actually grant a license for our data, but we wanted to at least license the metadata. In order to be explicit about that, do you think we could explicitly list the datapackage.json among the resources and specify the license there?

[2018-06-25 11:53] roll commented on #290
I think it should be the way to go. At least on the implementation level, it's a common pattern (e.g. for `format` etc). This approach is already implemented for the Python libs - https://github.com/frictionlessdata/tabulator-py#compression (though `resource.compression` is not yet exposed for `datapackage-py` waiting for standardization)

[2018-07-02 09:22] rufuspollock commented on #290
@michaelamadi next step is a pull request to add this to the patterns page https://github.com/frictionlessdata/specs/blob/master/specs/patterns.md

[2018-07-04 12:14] roll opened #616 "The latest changes in the CSV dialect schema break implementations"
# Overview

It seems there was a change in the specs - https://github.com/frictionlessdata/specs/commit/b5a8daf68584088408d29ee4251176cc800e9b89 - that makes invalid existent data package descriptors.

Example:

[code]

Related https://github.com/frictionlessdata/datapackage-js/issues/105

[2018-07-04 12:15] roll commented on #616
cc @mattRedBox

[2018-07-04 12:17] roll commented on #616
Here is the current schema for Tabular Data Package: http://frictionlessdata.io/schemas/tabular-data-package.json

It now requires the `dialect.description` property.

I think it's not correct.

[2018-07-04 13:48] roll commented on #616
@nichtich
@rufuspollock
Could you please take a look

[2018-07-07 16:28] rufuspollock commented on #616
@roll please submit a PR to correct that.

[2018-07-08 08:15] rufuspollock commented on #613
@jheeffer it sounds like it is clear that consumer libraries SHOULD / MUST strip BOM given that some publishers may include esp if they want Excel to consume the data. Does that sound like a clear start (with the question of what publishers should do still to be worked out)?

[2018-07-08 10:04] jheeffer commented on #613
Yes, I'd be in favour of consumer libraries stripping BOM. It would be easiest for users of these libraries. BOM is a low level detail very few people would be interested in when reading data. I'd maybe add that if the library supports returning metadata, BOM presence SHOULD be part of it (e.g. https://www.papaparse.com/docs#meta, and `config` object in https://www.papaparse.com/docs#json-to-csv -

[2018-07-09 07:12] rufuspollock commented on #292
I'm reopening this as i think yaml support would be really nice and simple and YAML is now really familiar (e.g. from jekyll etc) and is a lot easier to write thank JSON IME.

[2018-07-09 07:43] #586 closed

[2018-07-09 07:45] #536 closed

[2018-07-09 08:47] rufuspollock commented on #536
@pwalsh you've closed this - can you always add a comment and statement of WONTFIX / FIXED / DUPLICATE etc

[2018-07-30 05:13] #566 closed

[2018-07-30 05:13] serahrono commented on #566
This is now resolved.

[2018-08-13 15:41] sandervdwaal commented on #444
This sounds very useful for our Fiscal Data Package work over at OpenSpending, where we've also reached v1.0 and would like to be able to specify that so we can inspect a package to understand if it's v1.0 or not.
A related reason is that the repository behind OS has both v1.0 and pre-v1.0 data.

[2018-08-20 06:58] pwalsh commented on #444
@rufuspollock let's talk this one over soon? My thoughts are basically the same as when I opened this issue.

[2018-08-24 12:28] sandervdwaal opened #619 "Tagging versions of the Fiscal Data Package specifications"
When I want to check out what the recent changes are for the Fiscal Data Package spec, I can see a [changelog](https://frictionlessdata.io/specs/fiscal-data-package/#changelog) that specifies that in 1.0.0rc1 there's been an `Updated distinction between spec and standard`.

But I can't see how to see what that actually means. No issues are referenced and when I click through to the Github repo the

[2018-08-27 12:03] rufuspollock commented on #444
Generally 👍 but want to know how this works if e.g. a package satisfies several specs (is that a valid use case)?

[2018-08-30 13:18] #616 closed

[2018-09-01 12:39] rufuspollock opened #620 "Pattern for organizing (large) datasets into data packages"
As a User I want to know patterns (and best practices) for structuring (large) datasets as data packages so that I can use best practice and common approach

Example questions: suppose I have a 5GB time series dataset of rainfall observations across 30 years at a daily level and across 10k geographic locations (grouped by locality, then state, then country)

* How do you partition across data pack

[2018-09-01 14:01] rufuspollock commented on #578
FIXED. Closed in #588

[2018-09-01 14:01] #578 closed

[2018-09-05 15:37] zaneselvans commented on #290
This would be a great feature, especially in the context of publishing data on a potentially paid service like datahub.io -- we have lots of data that zips down by a factor of 10-20x. With compressed resources we could host our entire current collection of US utility data within the 50GB account tier.

[2018-09-05 23:37] domoritz commented on #77
Is there anything left in this issue? I see that data transformations are not in the spec yet for example. Anything else? Would it make sense to move this to a separate issue?

[2018-09-18 12:10] akariv opened #621 "Allow any type for `trueValues` and `falseValues` in boolean types"
For some reason this has been limited to strings only, and there's no actual need for that.
There are quite a few cases where boolean values are represented with 0/1 (integers) in the source data.

I propose removing the type restriction here, so that you could specify (as an example):
[code]

[2018-09-18 12:10] akariv commented on #621
/cc @roll @zelima

[2018-09-19 07:39] roll commented on #621
Also, this section seems tight to the string representation.

[2018-09-19 08:13] akariv commented on #621
Yes, I know, except a physical representation is not necessarily a string...

I think this is an error in the spec - there's an issue I opened there.

[2018-10-08 17:16] jungshadow commented on #549
Considering the discussion in frictionlessdata/tableschema-js#152, I wanted to quickly bump this, again. Is #409 the recommended approach or should we carve out a case for this particular issue? /cc @roll @rufuspollock

[2018-10-24 09:54] cbenz commented on #384
Just to let you know, we generated a Gitbook documentation of some schemas we are using, based on the enhancements proposed by @CharlesNepote, sightly adapted.

For example:

- schema: https://git.opendatafrance.net/scdl/subventions/blob/master/schema.json
- generated doc : https://dev.validata.fr/docs/schemas/scdl-subventions.html
- generation script : https://git.opendatafrance.net/validata/vali

[2018-11-02 08:38] HeidiSeibold opened #622 "Can data packages be made easily findable using search engines?"
It seems to me that with [schema.org](https://schema.org/) and [this](https://developers.google.com/search/docs/data-types/dataset#tabular) there is currently a movement toward making data sets more easily findable with search engines.

How do these efforts relate to data packages?

Side note: I have no technical knowledge about search engines nor do I really understand what schema.org does. I am

[2018-11-05 22:17] rufuspollock commented on #622
@HeidiSeibold great to have you flag this and there has been a fair amount of discussion. The basic method to make data packages better discoverable will be to add the relevant meta tags or other info into the html page where the data package is catalogged. This is something already supported in e.g. https://datahub.io and also is automatically supported in most CKAN based data portals.

In terms

[2018-11-27 18:49] danbri commented on #622
For Google, specifically the recently announced Google Dataset Search, the relevant documentation is https://developers.google.com/search/docs/data-types/dataset which documents the specific ways in which Google understands schema.org and W3C DCAT for dataset discovery (including use of sitemap files, canonical URLs for de-duplication, etc.).

* Google Dataset Search: https://toolbox.google.com/da

[2018-11-27 18:50] danbri commented on #622
/cc @serahrono who I just met at Wikicite conference :)

[2018-11-27 19:54] danbri commented on #622
/cc @amercader @metaodi

https://ckan.org/2018/04/30/make-open-data-discoverable-for-search-engines/

[2018-11-27 20:05] metaodi commented on #622
@HeidiSeibold 👋

As @danbri already mentioned, if you use CKAN and the latest ckanext-dcat extension, you're set up to feed Google (and whoever else supports schema.org/Dataset) and appear in search results (iirc currently limited to the above linked "Dataset Search").

@rufuspollock does the support in datahub.io imply, that such a mapping already exists?

Anyway: since CKAN can handle both data

[2018-12-07 19:34] danbri commented on #622
Give me shout (maybe a twitter ping, am 'danbri' there) if I can help on this, in case I miss the github msgs in the noise...

[2019-01-06 14:33] rufuspollock commented on #622
@danbri @metaodi DataHub.io does not run CKAN but we are a set of the attributes that @danbri mentions so that these datasets automatically show up in Google Dataset search :smile:

It would also be useful to produce a published "pattern" on https://frictionlessdata.io/specs/patterns/ that maps Data Package metadata to the structure needed for Google

[2019-01-06 14:35] rufuspollock commented on #384
@cbenz great - that would be amazing!

[2019-01-31 19:13] rufuspollock commented on #364
See also these recent pandas discussion https://github.com/pandas-dev/pandas/pull/22819

[2019-01-31 19:31] rufuspollock commented on #290
@zaneselvans got you - and in case of datahub.io we could probably provide a probono bigger account if you wanted to host data there in the meantime.

[2019-01-31 19:58] rufuspollock commented on #620
@zaneselvans there is an approach for linking across data packages as detailed in "Table Schema: Foreign Keys to Data Packages" in http://frictionlessdata.io/specs/patterns/.

Yes on these points. Would you like to have a go at a proposal?

[2019-01-31 20:00] rufuspollock commented on #77
FIXED. See https://frictionlessdata.io/specs/views/

[2019-01-31 20:00] #77 closed

[2019-02-13 16:30] roshcagra commented on #549
Any update on adding this?

[2019-02-25 11:26] rgieseke commented on #254
Following up on discussion on Gitter (https://gitter.im/frictionlessdata/chat?at=5c70398c9155d45d90596610) i'd like to propose re-opening this discussion.

I'm all in favor of having "clean" CSVs with only one header and data rows, but "comment" rows are quite common "in the wild" and supported by most CSV reading functions. Supporting this in dialect would make it easier to include them as is, fo

[2019-03-14 16:33] micimize commented on #37
I think adding a spec for this would be useful beyond the registry/catalog use case.
For instance, I'm currently working with a system where the topology is roughly:
[code]
This could theoretically be modeled with a single data package, in a "normalized" way, but it isn't practical (and certainly isn't frictionless).

If we had a spec for `package(packages[])`, we could build tools to leverage it

[2019-03-14 17:06] micimize commented on #37
an example of an ETL tool leveraging these ideas :
Given the package
[code]
one could normalize it into csvs ready for ingestion into a relational DB:
[code]

[2019-03-20 20:54] rufuspollock commented on #37
@micimize could you give a bit more info on the spec you propose for the catalog - i'm not quite sure i follow ...

[2019-03-20 20:55] rufuspollock commented on #254
@rgieseke OK, this sounds good. We will need to bump version for csv dialect and start listing support for this against the various libs.

[2019-03-20 21:28] rufuspollock commented on #292
@pwalsh @akariv what do you think about going for this as an option going forward?

[2019-03-21 01:53] micimize commented on #37
@rufuspollock  in order of implementation, we make:
* a "document resource" spec, like a tabular resource but with json schema
* a "datapackage resource", which is just a refinement of that - a document that conforms to the datapackage json schema
* then, a "datapackage datapackage" is just a datapackage where all the resources are packages. This can be refined to a "package of tabular datapackage

[2019-03-22 10:43] rufuspollock opened #780 "Entity relationship diagrams for specs like apache parquet"

[2019-03-28 15:38] tlacoyodefrijol opened #626 "Fiscal Data Package new subproject levels"
For some countries, we have identified multiple levels of subprojects. Right now, we only have
`activity:generic:subproject:code` as the way to map, but can't make a difference between these different levels.
Suggestion is create a new level of subproject, similar to what we have for other classifications, e.g:

`activity:generic:subproject:level1:code`
`activity:generic:subproject:level2:code`

[2019-04-08 09:50] LorenaGIFT commented on #626
The Investment Projects are not second level of the sub-projects.  Suggestion is:
activity:generic:investmentproject:level1:code
activity:generic:investmentproject:level1:label

[2019-04-16 12:53] robyoung commented on #593
What needs to be done for this to be "Status:Ready-For-PR"?

[2019-04-25 14:41] rufuspollock commented on #37
@micimize thanks - can you give a sample of what the catalog file would look like ...

[2019-04-25 16:31] micimize commented on #37
@rufuspollock sure:
So, for a "mixed" package registry:
[code]

Or, for a ubiquitous package registry where profile constraints the valid `resources`:
[code]

I think all fields could be hypothetically optional except `"path"`, as it can be used to pull the rest.

[2019-04-30 12:51] augusto-herrmann commented on #615
In many jurisdictions metadata information many not be licensable simply because, for being merely factual information, it does not meet the creative step requirement and is thus not copyrightable at all, So it would be automatically in the public domain. I do not know, however, if there is a jurisdiction where it would be really necessary to apply a license to metadata. If you can provide us with

[2019-05-11 20:09] rufuspollock commented on #384
@johanricher and @cbenz  this is **awesome**, thank-you. I will comment on the PR. I also note you could reuse @CharlesNepote proposal for text (which I think was great - we just did not get it as an actual PR against the patterns page https://github.com/frictionlessdata/specs/blob/master/specs/patterns.md)

[2019-05-11 20:13] rufuspollock commented on #615
@jgmill my sense would be that if you are not licensing the data and you just want to license the metadata i'd state that somewhere else than the package descriptor: Maybe just put it in the description of the package (i.e. the README).

The case you are describing is like a software packaging system needing a field for the metadata licensing as opposed to the code licensing and I imagine is reaso

[2019-05-11 20:14] rufuspollock commented on #615
WONTFIX. I'm closing as WONTFIX and adding label as FAQ as we won't change the spec and we have a resolution that is usable. Once we have a proper FAQ page this can get added.

[2019-05-11 20:16] rufuspollock commented on #37
@micimize ok i get it - you are actually listing the data packages as resources. Interesting. I hadn't thought of that. I'd been thinking you'd have a single CSV or json resource that was the catalog.

What do you think are the pros/cons of this approach vs having a json or CSV file listing the data packages.

[2019-05-11 20:17] rufuspollock commented on #593
@robyoung we'd need a concrete proposal of how to do this. Then it would become a pattern and if sufficiently desired by the community it would get added to the spec.

[2019-05-13 08:38] rufuspollock opened #628 "Concept of coverage, last modified etc in data package"

[2019-05-16 06:42] michaelamadi commented on #290
@rufuspollock @roll  I've added a pattern for this. Here's the PR: [https://github.com/frictionlessdata/specs/pull/629](https://github.com/frictionlessdata/specs/pull/629)

[2019-05-22 14:08] johanricher commented on #384
Hey @rufuspollock, thanks for the feedback! We followed your instructions by starting this new PR against the patterns page: #630.
As with #627, we built upon @CharlesNepote's idea but also tried to remain closer to the other Frictionless Data specs by using properties from [`common.yml`](https://github.com/frictionlessdata/specs/blob/master/schemas/dictionary/common.yml) (e.g. `author` and `publi

[2019-05-24 14:05] johanricher opened #631 "Version property missing in package.yml"
@cbenz and I are currently working on a proposition to extend the Table Schema spec to add metadata properties, for a pattern similar to the other Frictionless Data specs (see #630).

During our exploration, we found that [the Data Package spec](https://github.com/frictionlessdata/specs/blob/master/specs/data-package.md#version) contains a `version` property that appears to be missing in [`package

[2019-05-24 16:13] rufuspollock commented on #631
@pwalsh one for you 😄

[2019-05-26 11:15] pwalsh commented on #631
Thanks @johanricher

Version is in [common.yml](https://github.com/frictionlessdata/specs/blob/master/schemas/dictionary/common.yml#L87). Is there a case where it is not being validated?

[2019-05-27 07:58] johanricher commented on #631
Ah, yes, I've wrongly formulated the issue. I meant to say that the version property does not appear on the website: https://frictionlessdata.io/specs/data-package/

[2019-05-27 09:39] johanricher commented on #631
Hi @pwalsh thanks for your answer.

My understanding was that the documentation was directly built from the yaml dictionaries. Yet, the descriptions for the `version` property differ between [`data-package.md`](https://github.com/frictionlessdata/specs/blob/master/specs/data-package.md#version) and [`common.yml`](https://github.com/frictionlessdata/specs/blob/master/schemas/dictionary/common.yml#L

[2019-06-15 17:18] micimize commented on #37
@rufuspollock so, a csv listing data packages is simple, and an alright solution for the "static registry website" use case.

But, it is limited to that use case, because without a "document resource" spec, we can't model the domain properly, so we also can't make spec-driven frictionless tooling [manipulating sets of data packages](https://github.com/datahq/dataflows/issues/62), or any other data

[2019-06-17 09:09] rufuspollock commented on #37
@micimize sounds good - I suggest writing this up as a pattern and doing a PR on patterns.md.

[2019-06-17 09:09] rufuspollock commented on #37
@micimize sounds good - I suggest writing this up as a pattern and doing a PR on patterns.md.

[2019-06-26 15:56] #384 closed

[2019-06-29 22:36] rufuspollock commented on #537
Notes from thread in the PR #607

@Stephen-Gates wrote:

@rufuspollock wrote back

@dr-shorthair wrote

[2019-06-29 22:38] rufuspollock commented on #537
@Stephen-Gates (/cc @dr-shorthair) I think our aim is to see if we can extract a subset of UCUM that gives us 80/20 and then say if you want more go to UCUM.

I have to say i think this could / should go in 2 stages:

1. Move the spec back here (as it is - even if flawed)
2. Then start upgrading it ... (this can be a new issue ...)

This keeps things clean. wdyt? And if so would that mean we could

[2019-06-29 22:52] rufuspollock commented on #556
I think this is a good one for wontfix / add to FAQs. I've added the FAQs label and ready for PR.

[2019-06-29 23:02] rufuspollock opened #633 "Revert to simple jekyll setup"
The whole lektor things makes things a bit complex (requires travis) and also gets people confused as to how things get built.

I'm also not clear now how this gets embedded into the main website (does it even get build here or ...)?

/cc @pwalsh @lwinfree

[2019-06-30 05:23] pwalsh commented on #633
It requires travis as site is served from S3. Could be Lektor without Travis if want to serve from GH pages.

IIRC serving from S3 also solves some issues around serving JSON resources with the correct content type, which GitHub Pages does not (not sure this was an issue with GitHub Pages or just when accessing raw GitHub content....).

But moving to Jekyll is fine by me as long as this website wi

[2019-07-08 15:46] rufuspollock opened #634 "ASIDE: tabular json and data packages ..."
It should be natural to use Table Schema and "tabular" json in data packages (it is kind of what we do when we cache CSV data onto a resource as "_values").

[2019-07-10 20:45] rufuspollock commented on #537
@Stephen-Gates any luck here on progressing this?

[2019-07-10 20:48] Stephen-Gates commented on #537
Sorry been focussed a new release of Data Curator. Haven’t forgotten

[2019-08-08 07:26] rufuspollock opened #779 "What happened to dataprotocols.org stuff (and can we archive it somewhere!)"

[2019-08-19 19:58] lwinfree commented on #537
Hi @Stephen-Gates (and also @rufuspollock + @pwalsh)! I wanted to let you know that @mbomhoff from [Planet Microbe](https://www.planetmicrobe.org/) has been working with data packages for their oceanographic data and has been thinking about what units specs would work best for them. I wanted to tag Matt so he can keep updated on the specs units conversation, and also intro y'all in case you want t

[2019-08-20 17:32] mbomhoff commented on #537
@lwinfree Thanks Lilly!  Our data packages are in hurwitzlab/planet-microbe-datapackages.  For the time being we added a custom property `unitRdfType`.

[2019-08-20 21:14] Stephen-Gates commented on #537
@mbomhoff are you ok with the direction the [draft PR](https://github.com/frictionlessdata/specs/blob/a6b1505059fc7dfa24d44dc0b069fb4747ca3033/specs/patterns.md#units) was taking if we address the [comments above](https://github.com/frictionlessdata/specs/issues/537#issuecomment-506992109)?

[2019-08-20 21:30] Stephen-Gates commented on #537
@rufuspollock do you have any concerns about using [UCUM](http://unitsofmeasure.org/ucum.html) given its [licence](http://unitsofmeasure.org/ucum.html#license)?

[2019-08-21 00:53] dr-shorthair commented on #537
Item 2. in the license is problematic:

Unfortunately UCUM now appears to be an infrastructure orphan - I've not been able to make contact with Guenther Schadow for a couple of years now. Possibly retired. I'll try again.

[2019-08-21 16:31] mbomhoff commented on #537
@Stephen-Gates It looks like the draft spec is capable of describing all of the units that we use in our project, but I think our application falls under the case of using an existing spec.  One of the goals of our project is to use ontologies to unify disparate datasets from various sources.  To describe a field we supply an Environment Ontology (ENVO, http://environmentontology.org/) purl in the

[2019-08-22 11:10] roll opened #639 "Hash and bytes for compressed resources"
@pwalsh
@michaelamadi
Hi, is it possible to add to the [Compression of Resources](https://frictionlessdata.io/specs/patterns/#compression-of-resources) section information regarding `resource.hash` and `resource.bytes`? It's not 100% clear, for now, how to handle it.

cc
@cmgosnell
@zaneselvans

## Recommended answer

* hash and bytes are of the compressed resource (not the original resource)

[2019-08-23 16:32] micimize opened #640 "Add a `json` field type and `jsonSchema` constraint support"
Table schemas already have `array` and `object` types, but without many constraints.

Instead of adding more types/constraints (#409, #410), we could simply leverage json schemas, and thus json schema validation libraries.

Additionally, support for a generic `json` field that could contain any valid json string is not uncommon in relational databases (bigquery, postgres).

So, we could:
* introdu

[2019-08-23 19:35] micimize commented on #292
I don't think a valid data package should ever lack a `datapackage.json`, but maybe we could make `_datapackage.json` a location convention for generated packages, and have tooling for generating packages.

This way developers can use whatever source-of-truth (yaml, graphql schema, classes), and use/write generators for their specific use-case. We can always include these sources in packages for d

[2019-09-04 14:54] micimize commented on #393
I think we should add an optional constraint for this like `"finite": true`

[2019-09-05 18:30] ezwelty commented on #593
@rufuspollock @vitorbaptista

I just ran into this myself. My use case are spatial surveys of spatial points, some of which are grouped into linear profiles (and hence have a profile id), others which are not (and hence have a missing profile id).

survey | profile | point
-- | -- | --
1 | 1 | 1
1 | 1 | 2
2 | | 1
2 | | 2

SQL aside, a straight reading of https://frictionlessdata.io/specs/table-sch

[2019-09-06 23:17] ezwelty opened #641 "Add decimal place constraint to number fields"
I am rewriting and publishing an existing dataset as a Data Package (https://gitlab.com/ezwelty/glathida), and it includes decimal place limits on several numeric fields. For now, I have enforced this using a `pattern` constraint:

[code]

Unfortunately, this practice violates the schema, which currently insists that `pattern` only apply to post-cast values of `string` fields (https://github.com/f

[2019-09-09 16:30] rufuspollock commented on #641
@ezwelty thanks for reporting and if i understand this you are trying to constrain raw data structure or resulting number?

[2019-09-09 16:39] rufuspollock commented on #593
@ezwelty isn't what you want what was done in https://github.com/frictionlessdata/goodtables-py/pull/252 - the issue is just that it wasn't merged?

[2019-09-09 17:36] ezwelty commented on #641
@rufuspollock Fundamentally, the number as it is stored in the text file. Once it is read in, the concept of decimal places may be lost (for example, "1.10" could become 1.1 with no knowledge that it was parsed from "1.10"). The original dataset designers wanted to ensure that even if data (e.g. GPS coordinates) were submitted by contributors with absurd numbers of decimal places, they were publis

[2019-09-09 17:41] ezwelty commented on #593
@rufuspollock Sorry, you're right, I wasn't very clear. I support the code in https://github.com/frictionlessdata/goodtables-py/pull/252 proposed by @vitorbaptista and suggest that https://frictionlessdata.io/specs/table-schema/#primary-key be amended to state that any field listed in `primaryKey` is assumed `required: true` unless explicitly marked as `required: false`.

[2019-09-10 12:33] rufuspollock commented on #641
OK, clear you want parse constraints *before* casting. Hmmm that seems like it would need something new right ... do you have a suggestion on this that is generic?

[2019-09-10 12:43] rufuspollock commented on #593
OK, do you want to submit a PR to this effect and resubmit vitor's PR on goodtables?

[2019-09-10 14:34] ezwelty commented on #593
@rufuspollock I will do the first. By resubmit, do you mean create a new PR from the same branch, compel vitor to reopen his PR, ... ?

[2019-09-10 15:25] rufuspollock commented on #593
I mean a new PR ...

[2019-09-10 17:08] ezwelty commented on #641
The simplest I can think of is to allow the `pattern` constraint on at least all field types with string representations (so everything except JSON data stored as JSON rather than as a string parsable as JSON). The field is read as a `string` and all values but those in `missingValues` are tested against `pattern` before casting to the target `type`.

So for example, percentages with up to one dec

[2019-09-11 10:03] roll commented on #593
@ezwelty
@rufuspollock
@pwalsh
I'm a little bit late to the discussion. Sorry in advance if I have missed something I had a really limited time to dive in.

Regarding the current proposal. I have a few thoughts regarding it:

1. correct me if I'm wrong but this sentence `A primary key is a field or set of fields that uniquely identifies each row in the table.` clearly states that primary key's val

[2019-09-11 15:35] ezwelty commented on #593
@roll

1. I read nothing about missing values in the statement `A primary key is a field or set of fields that uniquely identifies each row in the table.` Fields can uniquely identify each row despite the presence of `null` values, as in my original example:

survey | profile | point
-- | -- | --
1 | 1 | 1
1 | 1 | 2
2 |   | 1
2 |   | 2

Hence a desire to enforce this uniqueness constraint with `"p

[2019-09-11 16:58] roll commented on #593
@ezwelty

What I meant that the statement `A primary key is a field or set of fields that uniquely identifies each row in the table` states that a primary key MUST uniquely identify each row. As I see it. The same as in SQL. So, for example, in the data below:

[code]

the `id` field cannot be a primary key because it doesn't uniquely identify the rows with `value2` and `value3`.

I think these li

[2019-09-11 18:08] ezwelty commented on #593
@roll

Exactly. In your example, `primaryKey` cannot be `["id"]`, but it _can_ be `["id", "value"]`, since that combination of fields is unique for each row.

I'm not so sure. The unique constraint is satisfied `if and only if no two rows in a table have the same non-null values in the unique columns` (http://standards.iso.org/ittf/PubliclyAvailableStandards/c053681_ISO_IEC_9075-1_2011.zip).

That

[2019-09-12 06:00] roll commented on #593
Sorry but I think that you are a little bit exaggerating this SQL inconsistency. I would say that there are 2 standard and well-established concepts in SQL:

- the primary key is a unique field not accepting nulls; purpose: identify rows in the table
- the unique key is a unique field accepting nulls; purpose: guarantee uniqueness of the existent values

Actually it's two really different concepts

[2019-09-26 14:13] ezwelty commented on #593
Having given this some more thought, I would like to make a specific proposal for amending the Table Schema:

- Clarify that fields in `primaryKey` cannot contain `null`, per SQL specification.
- Introduce the `uniqueKeys` property, an array of `uniqueKey` objects each of which must contain a `fields` string or array (like `foreignKeys`) and a boolean property, say `nullUnique`, that dictates whet

[2019-09-28 05:06] rufuspollock commented on #593
@ezwelty this sound very sensible. Could you submit a pull request to patterns with the uniqueKeys approach.

[2019-10-01 00:16] ezwelty commented on #593
@rufuspollock I will do that, and will include a clarification to the specs that primaryKey cannot contain null.

[2019-10-06 15:40] micimize opened #644 "add finite constraint for numbers"
Similar to #393, but proposing a constraint rather than a blanket policy.
I think it should be `{ "finite": true }`. There are many problem domains where `NaN, INF, -INF` are undesirable.

Also related: frictionlessdata/tableschema-py#249

[2019-10-07 10:33] roll commented on #644
I would even make it stricter having `InF/Nan` disabled by default with an option like:
[code]

[2019-10-14 17:32] ezwelty commented on #593
I made a PR for what we have discussed up to now, but there are a couple of additional ambiguities regarding `null` values that we should address. Perhaps by moving my proposed `uniqueKey.nullUnique` to `schema.nullUnique`.

- **field.constraints.unique**: Should `null` be treated as unique or equal to each other? For example, is `[(1), (null), (null)]` unique? Yes if `schema.nullUnique: true`, no

[2019-10-15 21:33] rufuspollock commented on #593
@ezwelty my feeling would be to go with default of postgresql and sqlite which is nulls are not considered in uniqueness and that we default to this rather than having yet another config option. Can you see a downside to this? (My concern here is for implementors who have to support this stuff ...)

[2019-10-16 00:04] ezwelty commented on #593
@rufuspollock I guess I can think of two downsides:

First, there are datasets in the wild where rows containing `null` should not be ignored in uniqueness constraints. See the example I gave in https://github.com/frictionlessdata/specs/issues/593#issuecomment-530437074 (1).

Second, `pandas` considers `null` not unique, in the same way that Microsoft SQL Server does...

[code]

1    False
2     T

[2019-10-21 18:22] rufuspollock commented on #593
@ezwelty ok - and let's have a sane default and implementors can go with that if they don't support the switch explicitly.

[2019-10-21 20:33] ezwelty commented on #593
Great. In that case, `uniqueKeys` should just be an array of arrays/strings.

[code]

So we need to decide:

- Where to put the property. I suggest it should be in the Table Schema "root", alongside global controls like `missingValues`.
- What to call the property. Although I originally suggested `nullUnique`, `uniqueNulls` might fit best with the current naming convention (`missingValues`, `forei

[2019-10-22 17:10] rufuspollock commented on #593
Yes that sounds good and uniqueNulls sounds good. Could you ask about which
is default of frictionless channel to see if any opinions. Not super
scientific but useful input.

On Mon, 21 Oct 2019, 22:33 Ethan Welty, <notifications@github.com> wrote:

[2019-10-28 18:29] ezwelty commented on #593
@rufuspollock I asked at https://gitter.im/frictionlessdata/chat. @roll weighed in with a preference for `null` being unique (i.e. ignored) by default in uniqueness constraints (although currently `goodtables-py` does the opposite). Seems reasonable to me, especially since `null` are ignored by all the other field constraints. How does that sound? Should I amend my `uniqueKeys` pattern and add ano

[2019-10-28 21:08] rufuspollock commented on #593
Agreed, let's go with @roll suggestion.

[2019-10-31 15:37] iSnow opened #645 "Data Resource JSON schema definition for `schema` seems to contradict specification"
# Overview

## Problem description

Caution: there's a lot of different uses of "schema" coming, so bear with me...

In the JSON schema definition file for a resource, [data-resource.json](https://frictionlessdata.io/schemas/data-resource.json), the formal definition for a `schema` property of a Resource is:

    "schema": {
      "propertyOrder": 40,
      "title": "Schema",
      "description":

[2019-10-31 17:56] lwinfree commented on #645
Thanks @iSnow! @rufuspollock what do you think?

[2019-11-01 12:16] roll commented on #645
@iSnow @lwinfree
That one of the confusing parts in the connection between the specs and the implementations.

The idea behind this decision is that this JSON schema has to be used after:
- descriptor retrieval
- descriptor dereferencing (so-called)

For example in Python:
[code]

Because of these preparations steps, there is a guarantee that `resource.schema` and `resource.dialect` are objects.

[2019-11-01 15:21] roll commented on #633
The website is now automatically built on every push to the `specs` master (cc @lwinfree). Last hash used is stored here - https://github.com/frictionlessdata/website/blob/master/specs.txt

PS.
I see having the specs in a separate repository as an advantage because before the separation al lot of commits to the specs were like `fix css` etc. which seems not great to a technical document.

[2019-11-01 15:24] roll commented on #589
DONE

https://github.com/frictionlessdata/specs/issues/633#issuecomment-548828690

[2019-11-01 15:24] #589 closed

[2019-11-02 15:31] rufuspollock commented on #645
I think @roll has summarized this well. It is a tricky one since obviously there are times a user wants to validate a data package "as is" without dereferencing but that then makes the json schema "profile" very flexible.

[2019-11-02 17:03] iSnow commented on #645
In that scenario, obviously we'll only have objects there. I don't quite understand the stipulation that the schema is to be applied *after* those steps, though. IMO, this kind of undermines the rigidity of having a JSON schema in the first place, as general-purpose schema validators like  https://www.jsonschemavalidator.net/ will mark perfectly valid DataPackages as invalid.

I'd always validate

[2019-11-04 11:05] roll commented on #645
I think the point was to validate a schema also because it can turn a data package to be invalid after dereferencing. I agree this area is not handled very well in the specs and probably some kind of composite approach is better when e.g. validation happens on different levels (package/resource/schema) although the current approach seems the easiest.

[2019-11-07 12:42] rufuspollock commented on #593
Re-opening as we are actually addressing this now.

[2019-11-07 12:42] #593 closed

[2019-11-12 15:14] bnvk commented on #37
Cool stuff :smile:

[2019-11-15 10:10] iSnow opened #650 "Probable security issue through use of URLs in "url-or-path""
Similar to the attack vector described for paths [here](https://github.com/frictionlessdata/tableschema-java/issues/29), I believe the use of URLs in Data Resources can lead to exfiltration of data about a network.

## Setup
Consider the case of an API service that allows users to upload DataPackages and browse the contained resources' contents. For that, the service must download the contents fro

[2019-11-18 16:52] roll commented on #650
Greate catch @iSnow !

[2019-11-19 22:44] iSnow opened #652 "Unclear about whether URL fragments are allowed as Data Resource `path` attributes"
[The specs say](https://github.com/frictionlessdata/specs/blob/master/specs/data-resource.md#url-or-path):

---

URL or Path
A "url-or-path" is a string with the following additional constraints:

- MUST either be a URL or a POSIX path
- **URLs MUST be fully qualified.** MUST be using either http or https scheme. (Absence of a scheme indicates MUST be a POSIX path)
- POSIX paths (unix-style with /

[2019-11-25 15:56] iSnow commented on #645
@roll and @rufuspollock if I may take this up again, could we extend the specs like I proposed? I can't see any downside either and it would make my life on the Java side much easier.

As it stands, a lot of the code I inherited simply switched off validation because of this issue - I'd really like to get this to a better state of things.

As far as I can tell, it would not impact the JS or Python

[2019-11-25 16:47] lwinfree commented on #650
Thanks @iSnow!
Hey @rufuspollock + @pwalsh Could y'all please take a look at this & comment on next steps? Thx!

[2019-11-25 19:18] rufuspollock commented on #652
That is the correct interpretation.

[2019-11-25 19:21] rufuspollock commented on #652
FIXED. Feel free to re-open if needed 😄

[2019-11-25 19:21] #652 closed

[2019-11-25 19:22] rufuspollock commented on #650
@iSnow this kind of attack has similarities to that discussed and addressed in discussion of unix relative paths ...

Obviously, for fully qualified urls there is no simple way to exclude vulnerable paths. Basic starting point would be to disallow numeric IP address, localhost etc. And/or as you suggest to limit to "self-contained" URLs only.

Obviously general points about security apply: run thi

[2019-11-26 18:10] iSnow commented on #650
Thanks, @rufuspollock - I [opened a PR](https://github.com/frictionlessdata/specs/pull/651) as a first draft of a security abstract. It is not meant to be a canonical source, but I'd invite discussion of the best practices I outlined:

- Implementers should provide the means for the library consumer to weigh security vs features by creating a extensible security interceptor that can allow or disal

[2019-11-29 18:55] rufuspollock commented on #537
@Stephen-Gates any chance to look at this further. It sounds like we have to steer around UCUM atm.

[2019-12-01 07:17] dr-shorthair commented on #537
UCUM only provides the terminal symbols, and a grammar to combine them into any UoM. So it is a mistake to talk about 80:20 provide by UCUM with respect to some finite set. UCUM probably provides 95%+, but by utilising the grammar.

Meanwhile, I have now tracked down the owner of UCUM so it's not dead yet.

[2019-12-05 15:42] augusto-herrmann opened #653 "Foreign Key pattern in specs has a contradictory statement"
The pattern described in the documentation for [Foreign Keys to Data Packages](https://frictionlessdata.io/specs/patterns/#table-schema:-foreign-keys-to-data-packages) states that:

(emphasis added).

However, in the paragraphs below and examples it is clearly stated that a Tabular Data Resource **in a different Data Package** can indeed by referenced.

The specification should be consistent betwe

[2019-12-06 20:34] #653 closed

[2019-12-11 05:48] Jacob-Barhak commented on #537
Lilly Winfree directed me to this discussion after I asked her how you handle units in your project in PyData Asutin. We have been dealing with Unit standardization for over a year and can connect you to some of unit specs - at least in the medical domain.
However, you will see that we did a lot of the work already in the following project:
https://clinicalunitmapping.com/
In the About page, you w

[2019-12-11 12:32] rufuspollock commented on #537
@Jacob-Barhak this is great info - if you could share your experience and links that would help esp any key pointers. Your tip re UCUM is also very helpful. We will look at https://clinicalunitmapping.com/

[2019-12-11 14:14] iSnow opened #655 "Geopoint coordinates: integer or floating-point"
in `table-schema.md`, the definition of a geopoint field is:

#### geopoint

The field contains data describing a geographic point.

`format`:

* **default**: A string of the pattern "lon, lat", where `lon` is the longitude
  and `lat` is the latitude (note the space is optional after the `,`). E.g. `"90, 45"`.
* **array**: A JSON array, or a string parsable as a JSON array, of exactly two items,

[2019-12-13 04:10] mitar commented on #290
Could this be then closed now?

[2019-12-13 22:31] rufuspollock commented on #290
FIXED. See https://frictionlessdata.io/specs/patterns/#compression-of-resources

[2019-12-13 22:31] #290 closed

[2019-12-15 23:03] Jacob-Barhak commented on #537
So @rufuspollock , all documentation associated with the project is available in the about page: https://clinicalunitmapping.com/about
You will find many publications already and some presentations, yet no important code is currently open source.  If your problem is small, then you should have enough pointers there to resolve your unit issues - yet if you are interested in a global solution for th

[2019-12-19 13:52] iSnow opened #656 "Table Schemas and JSON data"
## Unclear about Schema inferral of JSON data

In [implementation.md](https://github.com/frictionlessdata/specs/blob/master/specs/implementation.md), it is written that implementations should allow the inferring of a Schema from supplied data: "infer a Table Schema descriptor from a supplied sample of data". This makes it seem that no matter whether the data is CSV or an inline array of JSON objec

[2019-12-28 21:46] rufuspollock commented on #656
@iSnow good catch on ambiguity of implementation here. Schema inferral from JSON data (without header order info) will lead to ambiguity at least on header order depending on how the parser sorts the keys. One's hope would be that parsers somehow do respect the written-order (at least for the first row) but no guarantee of that afaik (any experience you have on that in your language of choice woul

[2020-01-14 21:39] iSnow commented on #656
@rufuspollock and @roll I don't think it is wise to rely on an implementation detail that is more restrictive than the spec, no matter how much more convenient that would be.

The Java JSON.org parser seems to respect the JSON property order, but it is getting swapped out anyways.

It is actually even more fun, as the following JSON:
     {
	  "data": {
	    "resource-name-data": [
	      {"a": 1}

[2020-01-16 21:27] iSnow opened #657 "Special number values in TableSchema spec contradict JSON spec"
While the [TableSchema spec](https://github.com/frictionlessdata/specs/blob/master/specs/table-schema.md) seems mostly written for CSV tabular data and JSON arrays of JSON objects as an encoding added later, the specification for a `number` field states:

	The following special string values are permitted (case need not be respected):

	NaN: not a number
	INF: positive infinity
	-INF: negative inf

[2020-02-05 17:45] pajachiet opened #659 "Extend specification with non default format for types yearmonth and year"
It would be very useful for us to extend the specification toaccept non default formats for type `yearmonth`, in the same way as `date`, `time` and `datetime`.

If we extend the specification for type `yearmonth`, it would be logical to extend it also for type `year`.

Our usecase is to describe a [large database](https://gitlab.com/healthdatahub/schema-snds) with tableschema, where `yearmonth` is

[2020-02-06 18:39] rufuspollock commented on #659
@pajachiet this seems very sensible. A PR for the change would be welcomed.

[2020-02-16 14:35] rufuspollock commented on #292
YAML def looks like it is becoming a default for writing human-writable but computer parsable config e.g. look at on CI tooling. I think it is time we support yaml, perhaps even as the default.

[2020-02-26 08:10] slythfox commented on #254
Apologies for re-visiting this. I am exploring adding this feature but the specification isn't defined precisely enough. As written in the spec, my understanding is that if we run into a comment character we ignore the rest of the line but keep what precedes it.

I see several real-world scenarios and ambiguities that arise:
1. `# Commented line`: Does this mean we skip this line, or we have a bla

[2020-02-26 10:06] rgieseke commented on #254
Good points!

I think what i saw "in the wild" is just
[code]
so i'd be happy to adjust the spec and keep the implementation simple.

[2020-02-27 05:10] rufuspollock commented on #254
I think we keep this really simple:

* it's a commented line only
* line MUST start with the comment character.
* the line is skipped (no blank row in output)

wdyt?

[2020-03-01 08:37] slythfox commented on #254
If we keep it to "full line" comments as you both are describing then perhaps we should update CSV-DDF description to make that clear?

On the other hand, if there's at least one CSV parser (e.g. JS csv-parse) that supports more than "full line" comments I imagine someone's using it? So, alternatively, we could precisely define specific comment behavior, or add additional attributes to CSV-DDF and

[2020-03-02 16:48] rufuspollock commented on #254
@slythfox yes let's keep it simple and refine as need arises.

[2020-03-14 19:48] rufuspollock commented on #65
Reopening as i think this could be useful and should go somewhere specific on the site.

[2020-04-15 16:09] cpina opened #663 "Naming convention of additional properties in the descriptor"
In the table-schema.md spec it says:
https://github.com/frictionlessdata/specs/blob/master/specs/table-schema.md#descriptor

If a user of the specification wanted to add a property to be used in their organisation: which naming convention should the user use?

E.g. we would like to add a "cfVariable": "http://cfconventions.org/Data/cf-standard-names/71/build/cf-standard-name-table.html#air_tempera

[2020-04-16 13:46] rufuspollock commented on #663
@cpina i've moved this issue from the forum to here in specs. First noting this related (and unresovled) issue on extensibility https://github.com/frictionlessdata/specs/issues/103

Options based on that:

* Do nothing: Allow any kind of variables to be introduced in something of a free-for-all.
* Custom sub-namespace: Move away from current approach that you can extend at top level and introduce

[2020-04-16 20:18] rufuspollock commented on #663
Read the excellent RFC https://tools.ietf.org/html/rfc6648 "Deprecating the 'X-' Prefix and Similar Constructs in Application Protocols".

## Why using a prefix is a bad idea

   parameters have a tendency to leak into the protected space of
   standardized parameters, thus introducing the need for migration from
   the "X-" name to a standardized name.  Migration, in turn, introduces
   interoper

[2020-04-16 20:27] rufuspollock commented on #663
So ...

* Prefixing with `X-` is a bad idea
* A root namespace for non-standards stuff is a good idea
* Allowing people to quickly and easily register themselves into this root namespace is a good idea
* you don't use other people's root namespace

OK, so here's the recommendation following the media types approach

* We need to establish some base namespace for community owned metadata that is no

[2020-04-17 12:33] cpina commented on #663
Thanks very much for finding all the RFC and summarising/copying pasting relevant parts!

For now I want to comment only one quick thing:

As a user of Frictionless Data this would work for me.

As a Frictionless Data project: do you have anything in mind to the registering? A PR to a file might be enough to avoid potential duplicates and have a sanity naming check. I also thought of something han

[2020-04-17 12:39] augusto-herrmann opened #664 "Specs make it impossible to document datasets in FTP as Data Packages"
The current specs for [Data Resources](https://specs.frictionlessdata.io/data-resource/#url-or-path) state that:

That clearly leaves no room for FTP schema based resource URLs. Yet, many reources from the official national statistics body in Brazil, the Brazilian Institute of Geography and Statistics – IBGE, for example, are available only on FTP.

See, for instance, the [data on Brazilian Munici

[2020-04-17 12:56] iSnow opened #666 "Data Resource JSON schema definition for `dialect` seems to contradict specification"
# Overview

## Problem description

In the JSON schema definition file for a Tabular Data Resource, [data-resource.json](https://raw.githubusercontent.com/frictionlessdata/specs/master/schemas/dictionary.json), the formal definition for a `dialect` property of a Resource is:

     "csvDialect": {
        "title": "CSV Dialect",
        "description": "The CSV dialect descriptor.",
        "type":

[2020-04-17 13:10] cpina commented on #663
I think that I'm splitting hairs myself here about. `vnd`: I don't think of the Swiss Polar Institute as a vendor on the traditional sense (when I think of a `vendor` is is something like Amazon, Lenovo, Microsoft, etc. not institutes/organisations or individuals). I'm happy to take `vnd` as a tradition name for custom headers :-) (if it was in the docs I would not have thought much of this and ju

[2020-04-17 13:33] rufuspollock commented on #664
The issue was preventing e.g. file urls ... I think it would be acceptable to allow other cases e.g. `ftp`. Can you think of anything else. I also imagine this is a breaking change for client libraries.

[2020-04-17 14:22] rufuspollock commented on #663
I don't link "vendor" either. SPI is not a vendor 😄 . We can create any name for the non-standard namespace we want. We could even use `x` for extension 😉  (the issue as i understand with X in http headers was more b/c there was no namespacing and stuff would move from x to some other space).

**Any thoughts here**

/cc @pwalsh @roll @lauragift21

Yes, you can have a string or object.

I would lik

[2020-04-18 00:08] e-lo commented on #155
I've been trying to get an array of strings to validate as an array but no dice no matter what format I try and I cannot find any examples that are relevant.   What is the proper format?

[code]

[2020-04-19 01:08] henrykironde opened #667 "Many urls are broken, these may need tests to avoid docs failing"
for example,  https://specs.frictionlessdata.io/data-resource/#metadata-properties

A string identifying the [profile](https://specs.frictionlessdata.io/specs/profiles/) of this descriptor as per the [profiles](https://specs.frictionlessdata.io/specs/profiles/) specification.

[2020-04-20 07:05] roll commented on #663
Data Package Pipelines uses prefixes like `dpp:property`

[2020-04-20 15:58] lauragift21 commented on #667
Hi @henrykironde. Thanks for reporting this we'll take a look and fix it.

[2020-04-20 18:08] rufuspollock commented on #155
@e-lo can you clarify the exact issue - you are saying this won't validate against what? As per issue resolution we did WONTFIX here so there waas no support for internal parsing of fields in Frictionless by default.

[2020-04-20 22:26] e-lo commented on #155
Understood that this is WONTFIX but don't understand how one _should_ implement the field type: array?

[2020-04-21 09:52] #667 closed

[2020-04-21 15:59] rufuspollock commented on #155
@e-lo you can use table schema with json "row" objects in which case array makes sense - not so much from csv data. hth

[2020-04-30 14:41] rufuspollock commented on #444
There's renewed interest in this and we have now hit v1 and making improvements beyond that. In terms of structure what about following classic package dependencies e.g. npm `package.json` and having:

[code]

I assume this would imply at each level e.g. data package, data resource and table schema - would we want some kind of cascading (e.g. the same spec applys to all resources in a package)

[2020-04-30 18:50] #254 closed

[2020-04-30 18:54] rufuspollock commented on #633
INVALID. We've moved to vuepress in February 😄

[2020-04-30 18:54] #633 closed

[2020-04-30 19:13] rufuspollock commented on #103
DUPLICATE. I'm closing this in favour of the newer issue that covers the same core ground #663.

[2020-04-30 19:13] #103 closed

[2020-04-30 19:25] rufuspollock commented on #409
@akariv would you be up for doing a PR to implement this?

I also think that rather than just have the type we might as well go the whole hog and just have the whole field schema be reused for the individual item. In this case the property name might be something like an `itemSchema` or `itemType`.

Alternatively, since most of the constraints in constraints only make sense for individual values w

[2020-04-30 19:26] rufuspollock commented on #549
DUPLICATE / MERGING. Closing in favour of #409 since doing that appropriately would resolve this.

[2020-04-30 19:26] #549 closed

[2020-04-30 19:32] rufuspollock commented on #381
I think @akariv suggestion is ripe to become a pattern. @workergnome would you be up for submitting a pattern PR for this?

[2020-04-30 19:34] rufuspollock commented on #601
@danielfireman any chance you could look into this quickly - i'd like to get this fixed or closed as already fixed 😄

[2020-04-30 19:35] rufuspollock commented on #403
DUPLICATE. I'm closing this in favour of the newer issue that covers the same core ground #663.

[2020-04-30 19:35] #403 closed

[2020-04-30 19:44] akariv commented on #409
@rufuspollock that's my suggestion in #410

[2020-04-30 20:03] rufuspollock commented on #409
Isn't the difference that for array all entries are implicitly of the same
type?

On Thu, Apr 30, 2020 at 9:44 PM Adam Kariv <notifications@github.com> wrote:

[2020-04-30 20:40] akariv commented on #409
`table` type could be seen as syntactic sugar for an `array` field of `itenType=object` and a mandatory `schema` property.

In both cases the datatype is the same in all array entries.

[2020-04-30 20:40] workergnome commented on #381
Apologies, I'm about three years into a new job at this point and unlikely to have time to contribute to this in the near future.

[2020-04-30 21:37] danielfireman commented on #601
Did a quick check and I believe we are good to go.

[2020-04-30 21:37] #601 closed

[2020-05-01 11:01] rufuspollock commented on #381
@lauragift21 could you look into working this up as a pattern - i can guide you and its good practice.

[2020-05-01 11:23] lauragift21 commented on #381
@rufuspollock Sure I can. I'll take a look and get up to speed with the previous comments.

[2020-05-01 16:14] workergnome commented on #381
Thanks, @rufuspollock!  Glad to see this moving forward, and will hopefully be able to re-engage once we're further along with our data export infrastructure here at Getty.

[2020-05-02 11:21] matthew-brett opened #670 "Enhanced Character Separated Values table format"
Just in case you hadn't seen it - this format seems minimal and well designed:

https://github.com/astropy/astropy-APEs/blob/master/APE6.rst

[2020-05-04 06:30] roll commented on #409
I think `itemType` should be as simple as possible thing. I would move all the complexity to something like #410 and v2 of the specs

[2020-05-04 10:03] rufuspollock commented on #409
@roll generally agree - though could you clarify what  "as simple as possible" looks like for you - and would it address the related stuff e.g. #549?

[2020-05-04 11:21] roll commented on #409
@rufuspollock

I think there are two options

## Simple

[code]

Because it's a JSON we can probably treat items just as native JSON values (`itemType`):
- string
- number
- boolean
- null

It will mean no processing on the TableSchema level but just checking that a JSON has items with the same given type e.g. `[1,2,3]` or `[true,false]` - just re-using native JSON types.

We can also add a `itemC

[2020-05-04 11:34] roll opened #671 "Release cycle of the specs"
# Overview

The specs is the cornerstone for all the FD related software/data project. I think it's very important for any standard to define and publish as many governance details as possible. Probably the versioning is the most important at the current stage.

In my opinion, the versions of the specs should be very **discrete** (for example no `datapackage@1.4.3`) and well-emphasized in the docs

[2020-05-04 12:05] akariv commented on #409
I think that
`itemType` should have the same semantics as `type` (i.e.read a tableschema
type name and not a json).
Array items would then be considered as physical representation and would
be processed to extract the logical value.

But then, we would need also `itemConstraints`, `itemFormat`,
`itemDecimalChar` and there's no end to this.

Therefore, a different proposal for this would be to crea

[2020-05-04 12:09] roll commented on #409
`itemDecimalChar` and there's no end to this.

Yea exactly, without all the options a Table Schema type is partially useless.

[2020-05-12 19:08] JDziurlaj commented on #409
There is something elegant in reusing the existing schema structures when adding this feature. I don't think constraining the arrays to simple JSON types would provide a lot of value. I favor @akariv's proposal.

[2020-05-13 01:24] rufuspollock commented on #409
OK, it looks like we have convergence here.

[2020-05-16 04:56] rufuspollock opened #778 "Review and triage current backlog of specs issues"
Est: 3d (@rufuspollock)

We currently have 97 open issues and 3 open PRs and we have not done a proper triage in a while. There a fair number of issues that are duplicate or could merge.

When visiting the specs tracker I want to know what's planned to be implemented and what's not so that I know where the specs are going (and could contribute)

When maintaining the specs I want to note  be overwh

[2020-05-21 10:02] jen-thomas opened #678 "Link to data resource specs broken"
The link (https://specs.frictionlessdata.io/specs/data-resource/)  to the Data Resource specification in the section Resource Information on the [Data Package specs page](https://specs.frictionlessdata.io/data-package/#descriptor) is broken and returns a 404 error.

[2020-05-21 10:25] lauragift21 commented on #678
Hey @jen-thomas thanks for pointing that out. It'll get fixed.

[2020-05-21 10:29] #678 closed

[2020-05-26 11:34] rufuspollock opened #681 "Multi-line header rows"
This has come up a few times now - including just now in https://github.com/frictionlessdata/forum/issues/41

I  think the easiest would be to change `header` in csv dialect to be a number. This has advantage that current true and false values convert over to 0/1 quite nicely.

## Related issues

* Support ignoreRows for TabularResource https://github.com/frictionlessdata/specs/issues/344
* Make t

[2020-05-26 12:03] rufuspollock opened #777 "[docs] Better docs for the Frictionless specs - esp overview and reference (may 2020)"

[2020-06-10 10:29] roll opened #684 "CSV Dialect: skipInitialSpace default value"
I've checked a few CSV parse implementations:
- https://docs.python.org/3/library/csv.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
- https://csv.js.org/parse/options/trim/

And it seems it's an established convention not to trim initial spaces by default. I'm curious if there is a reason to have it's enabled by default in CSV Dialect (as it is now)

[2020-06-11 06:32] roll commented on #684
I think we can check all main platforms (Python/JS/Pandas/R/Postgres-copy/etc) and if it's opposite to CSV Dialect everywhere it will make sense to revert

[2020-06-12 05:19] rufuspollock opened #685 "Resource `name` should no longer be required (and need not be slug-friendly)"
The one thing that really matters is existence of `path` or `data`. Everything else should be optional 😄

See http://tech.datopian.com/notebook/#package-json-and-npm-were-a-mistake - this makes a strong case that all the "meta" stuff in `package.json` was a mistake. All you need to identify a resource is a url or relative path! And that's truth for us with `datapackage.json`.

Original logic for a

[2020-06-12 06:09] roll commented on #685
Just to mention another opinion - his current ideas are highly controversial and have to prove itself while Node-way has already done :smiley:

I think, at least it doesn't need to be a slug as field names don't

[2020-06-12 11:41] rufuspollock commented on #685
It is not based on his credibility or not: more those arguments were *very* persuasive to me. Reducing "meta" noise here is useful.

Aside from that any objections to a) making this optional b) making it non-sluggy

[2020-06-12 12:13] roll commented on #685
I think I don't have any

I would say it's really big. I haven't analyzed it yet regarding our libs but off the top of my head, resource names are in the core of the whole `dataflows` framework - https://github.com/datahq/dataflows/blob/master/PROCESSORS.md (cc @akariv)

[2020-06-12 15:47] proccaserra opened #686 "rdfType attribute allows only one Class to be provided."
- Request for allowing more than one value for the `rdfType` attribute.

- [x] a type from `schema.org` , which allows mapping to a resource allowing discovery/findability
- [x] a type from a `[Open Biomedical Ontology](http://www.obofoundry.org)` ontology `, which would provide interoperability in the biodomain,

side note:
In the case of complex header (as made available using the tabulator func

[2020-06-12 17:07] rufuspollock opened #687 "Make Profile multi-valued so that you can indicate support for multiple profiles"
When defining my Package or Resource metadata schema I want to indicate that it supports multiple profiles so that I can combine metadata requirements from multiple profiles

## Current status

I'm currently -1 on this idea (I think it adds more complexity than the benefit it offers). However, wanted to record to hear from others and to have a placeholder.

## Description

Follow npm `package.json

[2020-06-12 17:14] rufuspollock opened #688 "[inbox] Rufus' Inbox"
## Principles

* Reducing magic (june 2020)
  * Inspiration: http://tech.datopian.com/notebook/#_10-things-i-regret-about-nodejs-by-ryan-dahl-2018-2020-05-17-rufuspollock - especially see video and section where Dahl regrets allowing paths without extensions. Also general point that module resolution should run off urls - we already have a perfectly good locator mechanism
  * => profiles use urls

[2020-06-12 18:54] akariv commented on #685
Resource name has been the chosen method by the fd specs for referencing a
resource in a data package.

One example is the foreign key specification:
https://specs.frictionlessdata.io/table-schema/#foreign-keys
But I'm sure there are other uses.

I'm pretty sure that if we suddenly make this property non-mandatory or
non-sluggish some implementations that assume these properties will break
(and th

[2020-06-12 19:07] rufuspollock opened #689 "Profile is a url rather than string"
Switch from:

[code]

[code]

## Why?

Reduce magic! See frictionlessdata/frictionlessdata.io#875

* Tools no longer have to go through some discovery mechanism to resolve schema path
* We don't need to maintain some registry
* Versioning can be explicit! Change the url. No need to invent special version - see frictionlessdata/specs#444

[2020-06-14 08:38] rufuspollock commented on #444
PROPOSED RESOLUTION:

* 👍  on supporting recording of version
* RECOMMENDED: Use urls for profiles and do versioning in url - see #689
* If we didn't go for that, keep `profile` single value and use `@`

@roll @pwalsh @akariv - thoughts?

[2020-06-14 13:35] rufuspollock opened #776 "Quick Reference section for Frictionless specs"

[2020-06-15 06:32] roll commented on #444
I generally like the idea of reducing "magic" for the profile field and using raw URLs. Is there is a plan to drop Data Package Identifier spec also (not implemented anywhere)? It's another "magic" or one-point-of-failure area making general specifications to be vendor-locked.

I think we can have endpoints on the specs site to publish profiles:
- https://specs.frictionlessdata.io/table-schema/v1/

[2020-06-15 11:53] rufuspollock commented on #444
@roll glad you like this approach and agree on deprecating `data-package-identifier` spec. Also agree on endpoint style.

[2020-06-17 12:36] rufuspollock opened #690 "Make contributors.title field no longer required"
As @amercader wrote when working on ckanext-datapackager https://github.com/frictionlessdata/ckanext-datapackager/issues/59#issuecomment-364241283

[2020-06-18 15:05] rufuspollock opened #691 "Make resources optional in a package"
As @akariv suggested in https://github.com/frictionlessdata/specs/issues/685#issuecomment-643433683

Why?

* You want to generate a package to describe a dataset which has metadata but no resources yet
* You want to generate a package into a tool without having a resource yet

@akariv any other reasons?

[2020-06-18 15:08] rufuspollock opened #692 "[!] Allow resource without data (or data that cannot be described with a URI)"
As @akariv suggested in https://github.com/frictionlessdata/specs/issues/685#issuecomment-643433683

@akariv note you can already have a "non-uri" e.g. you can have `abc`. What more would you want to have?

Aside: i don't like the oneof of path and data but i don't know any other approach.

[2020-06-21 07:00] michaelamadi commented on #685
Adding to what has already been said, I can understand the consideration of whether making the name property optional is a good idea. I guess this is a typical scenario where we are trying to balance the packager role with the data package consumer role. From a data packager's (‘packager’) perspective, the advantage appears to be that it's one less property to worry about. The impact from a data p

[2020-06-21 07:06] roll commented on #685
I think the name generation should be handled by software as it is already (humans side) by for the interoperability standard it's important to present (machines side)

[2020-06-21 07:20] michaelamadi commented on #687
@rufuspollock I agree. I think it adds more complexity than benefits and make me wonder the following:

- How does an implementer know which properties belong to or conform to which profile?
- If the support is really more of an 'inheritance', why wouldn't the profile itself contain a list of directly compatible profiles i.e. profile of which it is a superset of? e.g. tabular-data-package can also

[2020-06-21 12:54] rufuspollock commented on #687
WONTFIX. Agree with @michaelamadi and I don't see any compelling reason to support this for now.

[2020-06-21 12:54] #687 closed

[2020-06-22 06:09] michaelamadi commented on #639
@roll My current thinking is that this should refer to the hash and bytes of the file after compression because then it remains descriptive of the file you are downloading as opposed to the state of the file after download and decompression.

Is there value in introducing new properties for the decompressed hash and bytes, or will this add unnecessary complexity?

Happy to hear other views.
/cc @r

[2020-06-22 08:12] cpina commented on #639
A bit related: https://github.com/frictionlessdata/forum/issues/27 : doing this (pending on my side to write a pattern, and long way to go) we could capture the size of the compressed file and the uncompressed files.

[2020-06-22 10:56] rufuspollock commented on #685
@michaelamadi  I guess my point here was that you could already have path be unique - the annoyance i see here is i'm already adding a file/url by path (which is a unique) so why do i then need to generate some other unique identifier for it.

@roll yes software could do this but it's another thing for the software to do (and this is a very really issue i've encountered recently with ckan => f11s

[2020-06-22 13:31] michaelamadi commented on #685
@rufuspollock That makes perfect sense and generating the name is an additional step that ideally wouldn't be required. I agree with @akariv that making the name property optional but recommended is a reasonable approach.

My primary concern is that when a resource has a path and no name, all external references to the resource become inherently fragile. Something as simple as a file rename or dir

[2020-06-23 08:02] michaelamadi commented on #639
@cpina I agree. Please see my reply in https://github.com/frictionlessdata/forum/issues/27.

[2020-06-23 13:27] #639 closed

[2020-06-23 13:29] rufuspollock commented on #639
Agreed with @michaelamadi and fixed on that basis.

[2020-06-25 18:15] sglavoie opened #693 "The spelling of "organization" vs "organisation" is not consistent across the specs"
When I read the specs at https://specs.frictionlessdata.io/data-package/#optional-properties, I want to make sure that the optional property "organization" is correctly spelled so that I know I am not making a mistake when using "organisation" instead as it is written in the JSON schema at https://specs.frictionlessdata.io/schemas/data-package.json.

## Acceptance

* [ ] The documentation at https

[2020-06-30 15:48] rufuspollock commented on #689
@roll @akariv @pwalsh does this sound good to you?

[2020-06-30 16:00] akariv commented on #689
Yes, I agree it's better this way.

[2020-06-30 21:06] lwinfree commented on #686
Hi @proccaserra Could you write out an example of what this would look like? Is your idea to have 2 (or more) entries for rdfType in say an array? (I know we talked about this before, but now I can't remember the exact use case). I think an example would be helpful for the FD team to think about and also for other users to see & comment on. Thanks!

[2020-07-01 06:37] roll commented on #689
Sure regarding validation but I have another question - will it still be an indicator of a resource type? (tabular or not). If yes, how to handle it?

[2020-07-01 08:57] pwalsh commented on #689
yes, better.

[2020-07-01 09:00] pwalsh commented on #686
Relates to https://github.com/frictionlessdata/specs/issues/451 https://github.com/frictionlessdata/specs/issues/443 https://github.com/frictionlessdata/specs/issues/437 https://github.com/frictionlessdata/specs/issues/238 https://github.com/frictionlessdata/specs/issues/218

And maybe most specifically to https://github.com/frictionlessdata/specs/issues/343

[2020-07-01 17:58] proccaserra commented on #686
@lwinfree sure, let me try the following (assuming non-repeating keys)

[code]

but then going over issue #451  referenced by @pwalsh , do I get right additional `rdf` elements are being considered (e.g. `rdfProp`)?  What other elements ?

reason for asking is the following:

"experimental_condition1.auc" is more than just 'auc' as currently mapped. I'd like to specify``` 'auc' 'computed_over' 'ex

[2020-07-02 16:37] lwinfree commented on #686
A related question here is: how can we validate these RDF values (starting with RDFtype)?

[2020-07-06 16:53] JDziurlaj opened #694 "Handling of empty arrays"
How should a `tableschema` aware tool interpret the existence of an empty array (`[]`)?

Should it be considered:

- logically null
- logically not-null (i.e. it meets the `required` constraint)
- something else

If it is logically null, how should `[ null ]` be handled?

[2020-07-27 08:16] roll opened #697 "Table Dialect Spec"
# Overview

For now, we have:
- a resource describes a data entity
- a resource can be tabular
    - a tabular resource has `schema` property that must be `Tabular Schema`
    - a tabular resource has `dialect` property that must be `CSV Dialect`

It means that we have only two mechanisms to add tabular information to the resource: `schema` and `dialect` properties:
- `schema`: what is the data
-

[2020-07-27 08:28] roll opened #698 "Idea: Simplify the foreign keys property"
# Overview

Currently, we have really verbose `foreignKeys` property in Table Schema:

[code]

I think usually it's edited by humans not by machines because it's not inferrable it's just additional information from the data domain.

It's pretty common to use the dot notation for referencing (e.g. as in `sqlalchemy`). For example it can be (or using `source/target` terminology):

[code]

[2020-07-27 08:36] roll commented on #688
Is there a chance that we can reduce the number of properties' mixed types as we discussed previously e.g.
- making `schema.primaryKeys` an array only
- making `schema.foreignKeys.[reference.]fields` and array only
- considering another notation for multipart resources as `resource.path` being `string or array` is a real pain to handle in software

I think most of the type mixing makes implementat

[2020-07-27 09:21] rufuspollock commented on #698
👍  I think this is a very good suggestion @roll - would you suggest removing / deprecating the original option? (and how would we deal with resources with `.` in their name?

[2020-07-27 09:23] rufuspollock commented on #697
Very interesting proposal and generally big 👍

* `headerRows` - we def want something like this - i believe #681 is also about this
* Not sure about `headerJoin` - can you provide more detail?
* Like the idea of specializing the dialect to other cases

[2020-07-27 10:00] roll commented on #697
Probably I should have put `headerJoin` into the `Options to consider` category as it's a very minor and rare case. At the same time, people asked for this option for `tabulator` many times including for pilots as there are a lot Excel files with "fancy" multiline header like:

![excel](https://user-images.githubusercontent.com/557395/88529413-a54faf00-d008-11ea-90b2-1edb1b9b72a5.png)

So it's bas

[2020-07-27 10:05] roll commented on #698
We can deprecate as we did for 'fmt:' and support both as it's easy to detect the form.

Another question, that I didn't see that `resource` can have a dot in its name... TBH not sure what we can do then. Of course, it can be another notation like `resource/field1` but it will not be as familiar as SQLAlchemy/Django/etc's one

[2020-07-27 10:07] rufuspollock commented on #697
OK, understood and very good to have concrete examples.
_________________________________________________________________________
*Datopian *| https://datopian.com | Open solutions for a data driven world
*DataHub*  | https://datahub.io   | GitHub for data
*CKAN    * | http://ckan.org <https://ckan.org/>      | The world's leading
data portal solution

President - +44 7795176976 - @rufuspollock

O

[2020-07-27 10:33] roll commented on #688
Just wanted to share another thinking. I'm wondering if currently, the specs are too fragmented which makes it hard to understand Frictionless Data conceptually.

I think in general we can have 4 core specs (+ numerous extra specs like FDP):
- data package (not sure if tabular data package is needed at all after tabular data resource introduction)
- data resource (I would merge data resource and t

[2020-07-27 15:40] lwinfree commented on #688
I definitely agree that it is confusing right now. From a technical decision, I'm not sure what is best, but I think either way, we should work to better document the distinction between the various specs to help remove that confusion.

[2020-08-18 09:57] cpina commented on #681
Examples of formats with multi-line header rows mentioned recently on Discord:
 * @jen-thomas : https://exchange-format.readthedocs.io/en/latest/
 * @roll : https://hxlstandard.org/

[2020-09-01 13:43] msdemlei commented on #685
As someone just writing a data package generator, I'd be very grateful if I didn't have to worry about names.

You see, my data packages can contain lots of files the names of which I cannot control.  It's totally possible that I will have to deal with

* data/1.fits
* Data/1.fits
* data/32+29.fits
* data/32-29.fits

all in one package.  Sure, it's not terribly hard to make package-unique names fo

[2020-10-01 18:36] peterdesmet opened #704 "Community schemas: allowing less fields than are defined in the schema"
The Data Resource spec allows to point to an externally hosted Resource Schema ([`schema: url-or-path`](https://specs.frictionlessdata.io/data-resource/#resource-schemas)). This is great, because it allows communities to for example develop and host a **agreed upon set of Table Schemas** ([example](https://gitlab.com/oscf/camtrap-package-schemas)) and data producers within that community to indica

[2020-10-06 03:32] henrykironde opened #705 "Check for consistency on previous packages submitted"
I have tried to check out some of the scripts and there seems to be
some inconsistencies in the spec values.

Is there a tool I could utilize to validate the values of the scripts. for example, when you expect a url but get a file path.

[2020-10-06 03:44] henrykironde opened #706 "Proposal for a change in spec `format` values like "csv",.. ".zip""
In my opinion defining the type of data the resource is made of should focus intrinsically on the real data.
I.e the resource is csv, xml, json, geojson and etc.

I think there should be a distinction of the data in the data package,  as a resource (csv, xml, json) **vs** how it is alternatively distributed( zip, tar, gzip, hdf5)

[2020-10-06 06:18] roll commented on #706
Hi @henrykironde,

There is a `compression` property that now is used to describe how it's distributed so, for example for `table.csv.zip`:
- format: csv
- compression: zip

[2020-10-07 08:23] rufuspollock commented on #706
INVALID. I think what @henrykironde wants is already supported so closing.

[2020-10-07 08:23] #706 closed

[2020-10-07 08:40] rufuspollock commented on #705
@henrykironde can you give more detail on the issue you've encountered e.g. which scripts, which specs etc 😄

[2020-10-07 13:40] henrykironde commented on #705
Thanks @rufuspollock.
A few things I remember from processsing datahub packages:
- Inconsistent version numbers or no version number.
- There are some packages from still with zip format as mentioned https://github.com/frictionlessdata/specs/issues/706#issuecomment-704054841

[2020-10-14 08:06] danfowler opened #708 "Support BCE dates"
# Overview

We'd like to support BCE dates on casting.

# Plan

- [ ] update `tableschema.types.date/time` cast function to suppor BCE dates

---

_From @danfowler_

Supporting dates from before CE/AD requires something other than Python's default date-handling library.  These dates would probable be specified as "negative" dates (e.g. https://en.wikipedia.org/wiki/ISO_8601#Years)

Originally: htt

[2020-10-14 08:08] roll commented on #708
Moved to the specs as it's doubtful that we can do it solely on the software level as standard date libraries don't support negative dates (so it's a new data type probably)

[2020-10-14 08:17] cpina commented on #708
When thinking of support BCE dates: should we also think of supporting "circa" alike dates?: dates with uncertainty (person who was born in 1865-1867, or a specimen dated between V-VII century, etc.). I've seen archaeologists requesting this for some date fields in other systems and usually is overlooked.

Like "BCE dates" it might be another type of field and I don't know of any standard to descr

[2020-10-14 08:37] roll commented on #708
It's definitely a topic for an extensive discussion :smiley:

[2020-10-14 08:41] cpina commented on #708
When? some uncertain time in the future :-)
(sorry, I couldn't resist)

[2020-10-14 08:42] roll opened #709 "Add new numeric type: floating point number"
# Overview

At the moment we have using a Python as a platform example but it's similar in other languages:
- `integer` -> `int` (Python)
-  `number` -> `decimal` (Python)

We don't have a type to represent numbers when it's ok to lose some precision in favor of calculation speed. Decimals are really slow in Python/JavaScript/etc

Here is a root issue with benchmarking - https://github.com/frictio

[2020-10-14 08:58] rufuspollock commented on #708
This is not a specs items really - it is about how it is handled in a given language. I'd recommend closing this as INVALID or WONTFIX for now.

BTW if you want a library supporting BCE etc dates in python see this lib i wrote many years ago https://github.com/datopian/flexidate

[2020-10-14 09:24] rufuspollock commented on #709
this does open the door to quite a bit more e.g. float vs double etc (we
should look at other systems). I've wondered whether we should use the
"format" argument on number to qualify things or similar vs having lots of
number types.
_________________________________________________________________________
*Datopian *| https://datopian.com | Open solutions for a data driven world
*DataHub*  | https

[2020-10-14 09:32] rufuspollock opened #710 "Simplify names for key patterns and use Frictionless prefix for them"
This is just an idea and i'm not sure about it so thoughts are welcome:

* Data Package => [Frictionless] Dataset (or [Frictionless] Package)
* Data Resource => [Frictionless] Resource
* Table Schema => [Frictionless] Schema

Why?

* Get down to one word consistently (and drop redundant "Data")
* Use Frictionless consistently as a way to distinguish and brand the patterns

/cc @pwalsh

[2020-10-14 10:13] roll commented on #708
I agree theoretically it's an implementation level but in reality, it's not possible to support it in any of 10 language implementations without breaking changes unless there is a help from the specs like a `allowBCE` property or something.

I would support closing it with a recommendation to use strings and external libraries like `flexidate` to handle BCE dates. Although it can be moved to a for

[2020-10-14 10:16] roll commented on #709
Extending `number` definitely is a nice option.

It can have something like `prevision` property:
- infinite (default)
- double
- single

I didn't mention it in the first place just because I'm not sure whether it's ok to have data types that maps to N native types e.g. `frictionles:number` -> `python:decimal;float;double`

[2020-10-21 08:29] costas80 commented on #656
We use Table Schema to define requirements on CSV content as well and find currently that fields defined as **object** or **array** are rather weak. The Table Schema spec says that either or these should simply be well-formed JSON objects or arrays (respectively). I see in the discussion here that these fields' schemas could be inferred from examples although doing so leads to questionable results

[2020-10-21 12:11] rufuspollock commented on #656
@costas80 i think your proposal makes a lot of sense. i'm not sure i would get rid of all those other types but just allow json schema as `format` on all of them - and yes let's create a separate issue.

[2020-10-21 12:16] costas80 opened #711 "Support a JSON schema (inline or as a URI reference) as a format option for Table Schema fields of type object and array"
We use Table Schema to define requirements on CSV content and find currently that fields defined as **object** or **array** are rather weak. The Table Schema spec says that either or these should simply be well-formed JSON objects or arrays (respectively).

It would be a good improvement to allow object and array fields to have a JSON schema defined as part of their format definition. The JSON sch

[2020-10-21 12:17] costas80 commented on #656
Thanks for the feedback @rufuspollock . See issue #711 .

[2020-11-25 17:22] Yomguithereal commented on #381
I concurr that having multivalued fields in CSV files is quite a common and useful practice when representing straightforward 1-to-n relationships. It would be valuable to me and my colleagues to be able to declare them in a datapackage as right now we rely on constraints pattern to validate them without being able to rely on enums. So if I can help in any way don't hesitate to tell me.

[2020-11-30 16:16] geoffreyaldebert opened #712 "Possibility of restricting the list of possible values ​​in an "array" type field"
Hi,

It happened to us (french open data task force Etalab) several times when we are building a new schema in tableschema format to come across the following use case:

- we need a field containing one or more values ​​(the ```array``` type seems satisfying).
- the values ​​contained in this array must be part of a finite list (the ```enum``` constraint seems satisfying).

From our understanding,

[2020-12-04 11:37] cpina commented on #537
If adding support to units was done: frictionless-py could output the values with its units (maybe optionally) using https://pint.readthedocs.io/en/stable/ Obviously if the units used in the spec were available in the Pint library.

[2021-01-08 21:10] ztrautt opened #717 "Typo in specs/tabular-data-resource/README.md"
The descriptor in specs/tabular-data-resource/README.md is pointing to tabular-data-package.json

Should this point to: tabular-data-resource.json?

[2021-01-11 15:55] rufuspollock commented on #717
Good spot. I think you are right!

[2021-01-11 16:14] ztrautt commented on #717
I noticed it while reading the docs: https://specs.frictionlessdata.io/tabular-data-resource/
I assume changing it in fix README.md will fix the hyperlink in the docs.

[2021-01-18 19:09] peterdesmet opened #718 "How to define a profile that extends tabular-data-package?"
We are aiming to define a JSON Schema for camera trap data that builds upon `tabular-data-package`, i.e. adopting all the properties of tabular data package, but adding more specific ones for camera trap data. [This is similar to](https://specs.frictionlessdata.io/tabular-data-package/#specification):

It is unclear to me _how_ that is defined in the JSON Schema. In the [tabular data package json

[2021-01-28 15:35] hbruch commented on #218
When republishing inaccessible datasets, I started using json-ld/schema.org to make them findable e.g. via google dataset search. Json-ld and datapackage.json have much overlap, though not completely. Datapackages lend themselves more to an in depth description of the data and provides support to easily process the data (at least tabular data).

Would be nice to create a (basic) data package from

[2021-02-19 08:53] whalekeykeeper opened #719 "Schema error: constraint "maxLength" is not supported by type "any""
Hi,
after our project failed the automatic validation, according to the **properties** of **constraints** on the [Table Schema](https://specs.frictionlessdata.io/table-schema/#language) section in Frictionless Data Specs, I replaced "max-length" with "maxLength", "min-length" with "minLength". Then I tried to validate our data again but manually this time with `frictionless validate csv/datapackag

[2021-03-02 05:38] JamesWilmot opened #721 "views.json link broken on Data Package Views documentation"
Hello!
Trying to source the views.json schema referenced here: https://specs.frictionlessdata.io/views/
This entire project is incredible and looking forward to building some tooling around it.
-James

[2021-03-12 16:04] geoffreyaldebert commented on #712
Hi @roll , concerning #627 I made a remark and this issue should not be closed yet IMO.

Thanks for checking it.

Geoffrey

[2021-03-12 16:28] geoffreyaldebert commented on #712
I'm closing because it is now work with this type of implementation :

[code]

[2021-03-12 16:29] #712 closed

[2021-03-15 11:13] jeanpommier opened #723 "Can a Data Package reference other Data Packages as resources ?"
Hi,
I'm considering adopting Data Packages for a quite complex data structure, where I have nested structure and the need for metadata at different levels.
I'm a Data Package newbie, sorry if I'm asking silly questions. I not see any use case nesting Data Packages (i.e a Data Package, that, in its resources definition, references other Data Packages, stored in subdirectories of this data package).

[2021-03-18 18:18] peterdesmet opened #724 "Table schema for fixed-width tabular files"
👋 I'm dealing with an archive of tabular data that is organized as fixed-width text files:

[code]

I would like to describe this columns in a Table Schema. Is there a way in [Tabular Data Resource](https://specs.frictionlessdata.io/tabular-data-resource/) to express fixed-width tabular data? E.g. a property to define the start/end positions of the columns?

[2021-03-31 15:50] rufuspollock commented on #721
@JamesWilmot good point. I don't think that JSON Schema exists yet. Putting this on the prioritized backlog.

[2021-03-31 16:00] rufuspollock commented on #697
@roll do you want to start with a pull request to add this as a pattern?

[2021-03-31 16:38] rufuspollock commented on #698
@roll let's do this and deprecate the original option.

[2021-03-31 16:45] rufuspollock commented on #705
INVALID. This is an issue about datasets not for the specs. (Please feel free to re-open if important but prob as discussion in project repo 😄 )

[2021-03-31 16:45] #705 closed

[2021-03-31 16:46] rufuspollock commented on #693
@sglavoie can we use "organization". Would you be happy to do a quick PR to fix this.

[2021-03-31 17:57] sglavoie commented on #693
@rufuspollock Sure thing! PR sent: #726

[2021-04-04 05:37] roll commented on #684
OK. Thanks

[2021-04-04 05:40] roll commented on #698
@rufuspollock
Than, we also need to remove the dot from `resource.name` pattern `^([-a-z0-9._/])+$"` or use quotes like `"resource.name"."table"` I guess

[2021-04-04 05:41] roll commented on #697
Sure. I'll PR (can take some time though)

[2021-04-05 08:28] #693 closed

[2021-04-05 09:29] rufuspollock commented on #698
i like the quotes approach.

To be clear i'm not committed we do this. Current setup is verbose but explicit. However, if you are a big +1 on this i'm happy to go ahead.

[2021-04-05 10:55] roll commented on #698
@rufuspollock
TBH I would pause or close this one then.

Lately, I saw many user examples with the current notation so it seems people got used to it. So probably the additional value of this change will not be enough to balance the cost of the migration.

[2021-04-06 10:10] rufuspollock commented on #698
WONTFIX. As per discussion the change at this point does not worth the cost of migration so we will leave.

[2021-04-06 10:10] #698 closed

[2021-04-06 10:20] rufuspollock commented on #619
WONTFIX / INVALID. No longer relevant i think at this point.

[2021-04-06 10:20] #619 closed

[2021-04-06 10:26] #684 closed

[2021-04-06 10:28] rufuspollock commented on #539
FIXED (or INVALID).

[2021-04-06 10:28] #539 closed

[2021-04-06 10:30] rufuspollock commented on #535
@sglavoie could you implement this redirect from /simple-data-format/ => /tabular-data-package/ (i think you know how to do redirects in vuepress ... - if not let me know).

[2021-04-06 13:35] sglavoie commented on #535
@rufuspollock done in #728. The route `/simple-data-format` does not exist anymore, but the redirect is nevertheless in place if that's desirable.

* `simple-data-format` was renamed to `tabular-data-package` in 4d6e453a6ffdfef726c3802c63e77cb12a3c9262
* The pages related to `simple-data-format` were deleted in eb5561d7e8de775f549ff966e3a89f0e195e0025

[2021-04-07 09:36] #535 closed

[2021-04-20 11:40] IdrissaD opened #730 "Array format not validating unicode markers in json"
I try to validate a csv file against a table schema, and I realized that unicode indicators `u` were breaking the validation of my arrays.

Schema:
[code]

Value of `communes` field in my file: ```[{u'nom': u'Ispagnac', u'code_INSEE': u'48075'}]```

Error:
```type-error  Type error in the cell "[{u'nom': u'Ispagnac', u'code_INSEE': u'48075'}]" in row "2" and field "communes" at position "9": type

[2021-05-05 15:21] pratibhaw opened #734 "Merge request for one of the feature enhancement"
we noticed that the options decimalChar and groupChar were not working for number types. The reason being that the Json parsing of a Field is set to ignore all extra fields. We have added an annotation that passes all unknown fields into the options map.

Please merge the following code change: https://github.com/frictionlessdata/tableschema-java/pull/60

[2021-05-10 07:54] thbar opened #736 "Future possibility for delimiter-separated list for arrays (instead of JSON array)?"
I'm a colleague of @geoffreyaldebert, working on a French national CSV schema for "bikes counting" at the moment.

My understanding is that https://github.com/frictionlessdata/specs/issues/712 https://github.com/frictionlessdata/frictionless-py/issues/627 introduced a way to restrict allowed values in an array, which is neat.

In our case (based on input from future data producers and reusers), we

[2021-05-25 16:52] krassowski opened #739 "Ordered categories"
Is it possible (or would it be possible in the future) to encode information about ordered categorical values ("factors" in R) using frictionless data? As far as I understand it is possible to use `enum` for categorical data, but would it be also possible to specify the order of the categories, or use the order as in `enum` array but just signify in schema that a specific column should be loaded a

[2021-05-25 16:56] krassowski commented on #739
Oh, sorry this is a duplicate of https://github.com/frictionlessdata/specs/issues/156 from 7 years ago.

[2021-05-25 16:56] #739 closed

[2021-05-26 10:46] rufuspollock commented on #156
@krassowski we definitely want to do this - we are waiting on someone to craft a full pattern and then it could become part of a spec.

[2021-05-27 16:13] thbar commented on #736
FWIW, I have had some feedback from users who would possibly appreciate to have a non-comma separator (e.g. `|`), which is a "lower tech" way to achieve this and requires less escaping. I am not sure I want to encourage that, though. Ideally just a `,` as a separator would be quite coherent with the regular case.

Thanks for considering this, it would be great to have and would let us clean a few

[2021-05-27 16:20] thbar opened #740 "Could the validator reject "example" values not found in "enum" list?"
Given this partial spec:

[code]

I believe the example is not flagged as incorrect (I didn't check deeply, but based on https://github.com/etalab/schema-stationnement-cyclable/pull/13/checks?check_run_id=2686343583 which uses frictionless v4.7.1).

Ensuring the fact that the example is itself correct is probably something virtuous.

I'm curious what other here think about it?

[2021-06-05 13:58] drunkcod commented on #709
Out of curiosity which way is this leaning? "precision" or "format"?

Asking since I'm in a position where I'm pondering ways to augment my own datapackages with both the above "singe", "double", "infinite" numbers but actually even more important to me for integers (=> (s)int[8|16|32|64)

My thoughts thus far has been centered on making it custom formats since from what I understand unknown forma

[2021-06-06 09:36] roll commented on #709
@drunkcod
Currently, Frictionless Framework uses `field.floatNumber` (bool, default: False) - https://framework.frictionlessdata.io/docs/references/api-reference/#fieldfloat_number - similar to `bareNumber` notation - https://specs.frictionlessdata.io/table-schema/#number

No support from the specs yet

[2021-06-13 22:30] dtufood-kihen commented on #156
Can we expect this to implemented in the near future ?

[2021-06-15 13:12] peterdesmet opened #743 "Don't require Tabular Data Package to have `profile = tabular-data-package`"
Thanks to https://github.com/frictionlessdata/frictionless-py/issues/618, it is now possible to define a custom (community) data package **profile** that extends `data-package`. Like so (e.g. https://raw.githubusercontent.com/tdwg/camtrap-dp/main/camtrap-dp-profile.json):
[code]

A data package using to this profile would have:
[code]

And would validate against everything in `data-package` as wel

[2021-06-15 16:45] roll commented on #743
@peterdesmet
I had to fix it for Fiscal Data Package shipped with Frictionless. I think it needs to be fixed in the specs too

[2021-06-15 17:04] peterdesmet commented on #743
As in: don't make it required that `profile` is `tabular-data-package`?

[2021-06-15 17:05] roll commented on #743
@peterdesmet
Yes

[2021-06-17 11:57] krassowski commented on #645
Does the path need to be to a **JSON** file with schema, or schema in a yaml file is good too?

[2021-06-21 21:26] lwinfree opened #745 "update styling on specs site to match main site"
Currently, the styling on the specs site doesn't really match the main site. I think the quickest fix that would help a lot would be to change the hover/highlight color to the same orange as on the main site.

Like this:
<img width="429" alt="Screen Shot 2021-06-21 at 4 23 06 PM" src="https://user-images.githubusercontent.com/17657625/122829766-07fb0a80-d2ad-11eb-9d67-e96e1717cdb2.png">

instead o

[2021-06-24 19:18] lwinfree commented on #745
adding this related issue here (TL;DR - change all links to blue instead of orange/red?) https://github.com/frictionlessdata/website/issues/209

[2021-08-12 09:29] roll commented on #736
@AyrtonB
It must be a JSONSchema rule in `frictionless/assets/profiles/schema/general.json`

[2021-08-12 09:30] AyrtonB commented on #736
That makes sense, I'll do that

[2021-08-12 10:45] AyrtonB commented on #736
I think [this is](https://github.com/frictionlessdata/frictionless-py/blob/8943fb47268d429b0798f294db5de68d32d570b0/frictionless/assets/profiles/schema/general.json#L1220) the section which needs modifying
[code]

By adding `', '` as an option to `enum` I can successfully load my array fields when using:

[code]

I'm confused though as to how I can generalise this to allow unknown separator types.

[2021-08-12 11:02] AyrtonB commented on #736
I'll continue discussion around specifics of this implementation in the PR linked above

[2021-08-19 07:59] #745 closed

[2021-08-19 14:52] timrobertson100 commented on #291
+1 for Frictionless supporting Avro files

(nit: having the typo in this issue fixed would aid discoverability of it)

[2021-09-10 19:04] fjuniorr commented on #379
@rufuspollock and @roll did this ever make to (some version) of the specs?

I've noticed that if I read a data package with `frictionless.py` with a string value in the `hash` property it will convert it to an object and add a `hashing` property.

That is, this `datapackage.json`

[code]

After

[code]

is serialized as

[code]

I'm starting to use this in a [production context](https://github.com

[2021-09-13 13:33] rufuspollock commented on #379
@fjuniorr i don't believe this ever made it into the spec so believe we are still with single string value with optional prefix.

[2021-09-22 15:53] johanricher commented on #740
I really like this idea! The thing is, `example` is not even in the Table Schema spec yet: https://specs.frictionlessdata.io/table-schema/#field-descriptors

It's an informal extension that probably emerged when we wrote the first [SCDL schemas](https://git.opendatafrance.net/scdl/) back in 2018. Nowadays virtually all French table schemas (https://schema.data.gouv.fr/) have fields with `example`

[2021-09-29 09:58] pwalsh commented on #409
@roll @rufuspollock

I see https://github.com/frictionlessdata/frictionless-py/issues/627 has been referenced here but it solves a fundamentally different issue.

It would be great to see this original request added. It is very common that members of an array be same typed, and declaring it as part of table schema would allow:

- In the SQL driver, use of Array fields for backends that support it

[2021-09-29 10:00] pwalsh commented on #410
See my comment at https://github.com/frictionlessdata/specs/issues/409#issuecomment-930029124

Noting that this implementation maps well onto document-based data backends that support nesting (mongodb, Elasticsearch) and a version of this is already implemented in https://github.com/frictionlessdata/tableschema-elasticsearch-py

[2021-09-29 12:10] rufuspollock commented on #409
Happy to have PRs on this - or even start with a pattern and implement into say python. Remember the complex thing with the specs now is that one then needs all drivers to upgrade to be compliant.

[2021-10-05 06:58] AntoineAugusti commented on #740
Just opened a pull request to add `example` to the Table Schema specification https://github.com/frictionlessdata/specs/pull/753

[2021-10-13 19:33] Jerbrone opened #754 "Tra"

[2021-10-28 13:42] #754 closed, assigned to nobody

[2021-11-02 10:04] augusto-herrmann commented on #355
I think something like this would make sense, especially in cases where:

* some column names might be the same in every language or not translatable
* l10n is in progress and you would still like people to have access to a partial translation, but show the yet untranslated labels where unavailable

[2021-11-11 17:03] abers commented on #156
Is this something open for anyone to do? If so, what's required for a full pattern?

[2021-11-24 15:14] lwinfree opened #755 "fix minimal data resource example on data resource page"
From J Mitchel on Discord:

I'm reviewing the docs at https://specs.frictionlessdata.io/data-resource/#metadata-properties.
For a data resource, "name" is listed as a Required Property, but in the "minimal Data Resource" example at the top of the page, none is listed.

--> we need to update the example at the top

[2021-11-25 07:51] roll opened #756 "Schema/dialect should allow both object/string"
Hi @roll, I would like to reopen this issue. I did not encounter this issue with older versions of frictionless (v4.18.2) and the bug is not related to the custom profile. I've created a [minimal example](https://gist.github.com/peterdesmet/a5bb89fcfb930ad08e53175942ace50e):

1. When I use `"profile": "data-package"` in my `datapackage.json` then the validation works fine, **even when using a path

[2021-11-25 07:52] roll commented on #756
Hi @peterdesmet,

It's an issue with the JSON Schema in the specs. I will handle it

[2021-12-06 05:13] AFoletti opened #758 "Recursive resources"
I am trying to use the Recursive resources pattern as described [here](https://specs.frictionlessdata.io/patterns/#describing-files-inside-a-compressed-file-such-as-zip). However, I am unable to get such a datapackage validate over on [datahub.io](https://datahub.io/tools/validate).

The example snipped has some issues (missing "name", "bytes" as string) but even if those fixed the datapacakge (se

[2021-12-06 07:45] roll commented on #758
Hi @AFoletti,

I think it's just not supported by datahub.io currently cc @sglavoie

[2021-12-06 08:19] #756 closed

[2021-12-06 09:43] AFoletti commented on #758
Hi @roll many thanks for your answer. I would be happy to have a confirmation on that. At least I know I am using the pattern as it is meant to be used 😃
Could you maybe confirm me if the pattern is supported by the [GitHub Action](https://repository.frictionlessdata.io/)?

[2021-12-06 10:57] roll commented on #758
@AFoletti
I'm tagging @sglavoie to get a confirmation regarding datahub.io

In Frictionless Framework and Frictionless Repository we use a different approach but it's also an experimental feature:

[code]

[2021-12-06 12:04] sglavoie commented on #758
Hi @roll, hi @AFoletti. Unfortunately, I couldn't say as I am no longer overseeing the project. I suspect @zelima would have a good idea about this.

[2021-12-06 12:08] AFoletti commented on #758
Thanks! No stress on that one.

I personally find this approach much more elegant and easy to read than the recursive one. Nice to know, many thanks!

[2021-12-06 12:47] roll commented on #758
@AFoletti
Please share your feedback or problems if you run into any on https://github.com/frictionlessdata/frictionless-py. Once, it's adopted on software level we will propose this to the standards

[2021-12-13 06:47] #758 closed

[2021-12-13 09:32] peterdesmet commented on #292
My 2 cents: as a developer I like yaml very much as a human readable config format, but I agree with @pwalsh's comment in https://github.com/frictionlessdata/specs/issues/292#issuecomment-246169480: the importance of whitespace is not intuitive. Other than familiarity with a format, I'm not sure it offers that much benefit to the publishers, while placing quite a burden on implementors, with poten

[2022-01-17 09:34] peterdesmet opened #764 "Format and mediatype for CSV resources"
_Asked this on Discord, but no real consensus_

The [Data Resource specs](https://specs.frictionlessdata.io/data-resource/#optional-properties) defines:

extension for this type of resource.

It isn't entirely clear to me how these should be populated for non default CSV files:

filename | delimiter | format | mediatype
--- | --- | --- | ---
data.csv | , | csv | text/csv
data.txt | , | txt | text/

[2022-01-17 10:43] roll commented on #764
@peterdesmet
Thanks, I think I wasn't correct on Discord. I checked Python implementation and it supports the approach you describe

[2022-01-17 11:13] peterdesmet commented on #764
Great! Could you elaborate just a bit?

- `format` = extension of file?
- `mediatype` = always `text/csv` (irrespective of delimiter)?

[2022-01-17 11:20] roll commented on #764
@peterdesmet
It seems it's `text/tab-separated-values` for tab-separated values - https://en.wikipedia.org/wiki/Tab-separated_values

I can't find where MIME of Frictionless specs strictly standardizes it.

For example, is there `text/tsv` mediatype?

[2022-01-17 11:46] peterdesmet commented on #764
At least no `text/tsv` in https://www.iana.org/assignments/media-types/media-types.xhtml. I've updated my table above to reflect what we think is the recommendation.

[2022-01-17 14:45] #764 closed

[2022-01-24 10:31] rufuspollock commented on #86
@loleg that's great ... could you provide a brief summary of state and plans here?

[2022-01-30 11:27] tamaracha opened #767 "Suggestion: Schema for (multidimensional) array"
Hello,

I am working in the field of research data management at the university of Marburg (Germany), and the architecture of Frictionless Data looks very reasonable to me. We are facing the challenge of having to migrate lots of diverse clinical, neuroimaging, and behavioral data into a unified representation. I think this might be a desirable long-term goal, but it sounds more reasonable to desc

[2022-01-31 07:19] rufuspollock commented on #767
This would be very welcome. There isn't currently anything for n-dim arrays and that is useful.

[2022-01-31 16:00] gabrielbdornas commented on #755
Hi @lwinfree, maybe this could be closed because of the #757.

[2022-01-31 20:59] lwinfree commented on #755
yes thank you @gabrielbdornas! 😄

[2022-01-31 20:59] #755 closed

[2022-02-01 21:27] n0rdlicht commented on #86
Hi @rufuspollock, thanks for checking in.

Very happy to get some feedback on https://github.com/cividi/spatial-data-package#detailed-data-package-structure. A proof of concept viewer is implemented in [dfour](https://github.com/cividi/spatial-data-package-platform), deployed for example for simple web publication of client projects with [gemeindescan.ch](https://gemeindescan.ch), as a self publis

[2022-02-08 23:47] pschumm commented on #156
We are starting to use frictionless for several projects and to recommend it to others, and this issue is a key one for us. Given that, we're willing to help put together a "full pattern" as noted in the comment above. @rufuspollock, could you point me to an example of exactly what is needed here?

Based on the discussion above, I'd be keen to hear people's thoughts on the following:

1. As noted

[2022-02-15 13:53] rufuspollock commented on #156
@pschumm great to hear you are up for taking this forward - very welcome!

See examples at https://specs.frictionlessdata.io/patterns/ - code at https://github.com/frictionlessdata/specs/tree/master/patterns

Yes, absolutely. Let's take (option of) simplicity for users over (enforced) storage efficiency for sure.

I think your analysis is spot on and i think worth including this in the introductio

[2022-02-16 10:38] datagistips opened #771 "A proposal to improve geographic/spatial specifications in TableSchema"
Hello

🌐 On OpenData portals, we observe a significative proportion of spatial data.

[TableSchema](https://specs.frictionlessdata.io//table-schema/) tends to become the standard of standards. I personally like it a lot 👍

It is used on the French [schema.data.gouv.fr](https://github.com/datagistips/geo4TableSchema/blob/main/schema.data.gouv.fr)

🙁 But TableSchema misses some specifications for sp

[2022-02-16 10:45] datagistips opened #772 "Add `wkt` to field types"
Hello

In TableSchema, you can specify geometry field types as `geojson` or `geopoint`

But from my own experience, `wkt` strings are more commonly used to store geometries in a table than geojson strings.

Let's notice that `wkt` is used in [frictionless-geojson](https://github.com/cividi/frictionless-geojson) project.

For me, `wkt` format deserves to be taken seriously taken into account (and [

[2022-04-08 11:38] shashigharti opened #782 "Link to elasticsearch datatypes opens wrong page"
The link to "Elasticsearch types" in data types page(https://specs.frictionlessdata.io/table-schema/#title)
takes to elastic search home page "elastic.co".

Is it related to this page "https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-types.html" instead?
![elasticsearch](https://user-images.githubusercontent.com/5582809/162428318-ccc2644a-a811-454d-91b9-b0d9f63f2e2c.png)

[2022-04-08 22:24] lwinfree commented on #782
Here is the content page with the link you can change via a PR: https://github.com/frictionlessdata/specs/tree/master/table-schema#types-and-formats When you open a PR in this repo, please mention this issue. That way, when we merge the PR, this issue will automatically close too. (Again, there is no rush to fix this :-) ) Thanks!

[2022-04-11 20:13] #782 closed

[2022-04-12 02:34] shashigharti commented on #782
Thanks! @lwinfree.

[2022-04-12 16:56] lwinfree opened #784 "fix graph images on homepage"
On this page https://specs.frictionlessdata.io/#data-package-specs-suite (code: https://github.com/frictionlessdata/specs#readme)

<img width="1186" alt="Screen Shot 2022-04-12 at 11 54 05 AM" src="https://user-images.githubusercontent.com/17657625/163014373-18640925-ff96-4999-b1bb-214e878e4735.png">

I'm not sure when this error started, I just noticed it. I merged some PRs from dependabot yester

[2022-04-12 17:00] lwinfree opened #785 "investigate dependabot alerts"
hi @aivuk can you please look at the https://github.com/frictionlessdata/specs/security/dependabot & merge/fix as necessary? Thanks!

[2022-04-13 09:47] shashigharti opened #786 "Typo in TEDDINET blog page"
**Typo**: posisbe, avialable in
**Blog Link**: https://frictionlessdata.io/blog/2017/12/19/dm4t/#creating-a-data-package-using-datapackage-pipelines

[2022-04-19 14:46] roll opened #787 "Require JSONSchema for resource.data to be an array for tabular resource"
# Overview

According to the standard in written form - https://specs.frictionlessdata.io/tabular-data-resource/#json-tabular-data

Here is a fix on the software level - https://github.com/frictionlessdata/frictionless-py/pull/1036/files - but I got confused on how we build JSONSchema for the specs to achieve the same here

[2022-04-25 11:51] roll opened #788 "Show "not found" in the search box if there are no results"
# Overview

Steps to reproduce:
- https://specs.frictionlessdata.io
- type "bad" in the search box
- [expected] "not found"
- [actual] nothing

[2022-04-28 07:51] aivuk commented on #784
The problem happened because of how the mermaid is integrated with the vuepress, the static site generator behind the specs website. I tried multiple ways to make it parse the mermaid diagram code, because vuepress is generating inside `<pre><code>` blocks. In older version of mermaid you could pass a selector, but in most current versions this doesn't work anymore. In the end I did need to do a b

[2022-04-28 07:51] #784 closed

[2022-04-28 15:12] aivuk commented on #785
Sadly we can't merge debendbot pull requests because most of the problems exist because of libraries that we can't update, otherwise we would need to update vuepress, the static site generator that we use, from the version 1.2.0 to 2.0. This is not possible without a lot of work, because some of the plugins that we use doesn't work on vuepress 2 and we would need to update their codes.

[2022-04-28 20:03] lwinfree commented on #785
thanks for looking into this @aivuk! I'll close this now as WONTFIX

[2022-04-28 20:03] #785 closed

[2022-04-30 13:31] ipimpat commented on #156
@pschumm I'm in the same situation, I would also be happy to participate and help in where I can.

The lack of a full pattern for storing categorical data prevents my research group from adapting Frictionless.

All the scientist in my group uses primarily SPSS and we have a lot of SAS datasets too, and there for full pattern for "mapping" between those tools/data formats to Frictionless would defi

[2022-05-01 18:47] pschumm commented on #156
Thanks @ipimpat and @krassowski for the nudge. FWIW, we're in a similar situation needing to support workflows using both software packages that support "value labels" (e.g., Stata, SAS and SPSS) as well as packages with support for categoricals or similar (e.g., Pandas and R). Thus, our plan is not only to propose an addition to the frictionless standard, but to create the necessary packages/plug

[2022-05-02 14:35] rjgladish commented on #156
FWIW,
On the mapping front, I've been considering the value of an enumeration
option that uses an object instead of an array to define the enumeration. I
had decided that I didn't think the potential for a breaking change
was worth the benefit (for my purposes) because rdfType could be used to
indirectly specify the set of enumerated values (although that is an
external definition).

Although I am

[2022-05-02 15:19] ipimpat commented on #156
I'm very open to collaborate.

[2022-05-15 06:32] roll opened #790 "Support path to resource descriptor in data packages?"
# Overview

https://frictionlessdata.slack.com/archives/C0362US1U3G/p1652096032617629

It's a user request to support resource referencing e.g.:

[code]

[2022-05-17 18:29] Rethink2050 opened #791 "Urgent Car Request"

[2022-05-18 11:12] ivbeg opened #792 "JSON lines / BSON and other non-flat data formats"
Hi! I am working on ETL and data platform with NoSQL as primary data formats. Most data is JSON lines, BSON and Parquet converted from XML, JSON and extracted from REST API.

I would like to add data package specification as one of ETL destinations. But I can't find how to add NoSQL schemas into data package. So our team re-created data packaing logic implemented for NoSQL. Here are examples of pa

[2022-05-31 00:29] ptsefton opened #793 "Is there support for addressing worksheets within a spreadsheet?"
The Table Schema spec mentions spreadsheets, but makes no mention of the fact that spreadsheet formats (usually?) include multiple tables/worksheets - is there a way to describe a  table in a spreadsheet/workbook?