[2016-02-01 15:50] pwalsh commented on #223
@danfowler I just gave a very clear use case, that we really should implement in OpenSpending in order to ensure we always have source data available to rebuild databases that are derived from the datastore. As OpenSpending is already the biggest potential deployment of Data Package to date, is that not a good example?

[2016-02-01 15:55] pwalsh commented on #223
@danfowler @rgrp I am *definitely* happy enough if you still decide this is irreversible, but in such a case, for reasons listed above, OpenSpending (and even other data stores like the coming reboot of the Data Package Registry) would likely still implement a local path for a URL to ensure availability of data. In such cases we could store this path on a field called `cache` or something to make

[2016-02-03 08:52] danfowler commented on #228
If this were a separate key, then +1 `parts` for the reasons @jpmckinney suggests

I am +1 on overloading `path` / `url` (not `data`*).  We already have a pattern that allows `primaryKey` to be either a string representing a single value or an array of multiple values.  This could be extended to `path` / `url` (with a side benefit of retaining backwards compatibility for data packages with single-

[2016-02-03 09:47] rgrp commented on #167
WONTFIX. Agreed that `required` defaults to false and that absence indicates false.

One question: given the discussion in this issu I wonder if we want something explicitly stated in the spec? If so I can open a new issue. If not we can just leave as is. Opinions from @vitorbaptista @pwalsh etc welcome :-)

[2016-02-03 09:47] #167 closed

[2016-02-03 09:49] roll commented on #167
I had no doubts `fields[].constraints.required` is `false` by default the way it's written now.

[2016-02-03 11:55] danfowler commented on #237
+1 @mfenner @karissa on requiring `id` (`MUST`) while also keeping `name` for backwards compatibility. I suppose this means that `name` should, going forward, be a `SHOULD` property?

One comment, if `id` is required to be a UUID, why not just explicitly make the field name `uuid`?  I also like the `other_ids` approach, and suggest an object like so:

[code]

[2016-02-03 12:18] mfenner commented on #237
I like what @danfowler said. Not sure I prefer `id` or `uuid`, can be convinced both ways.

[2016-02-03 14:19] rgrp commented on #132
@mfenner any further thoughts? /cc @danfowler

I am increasingly thinking that "bundling" a data package into one file (compressed) is an important use case and would love your suggestions here.

[2016-02-03 14:30] rgrp commented on #237
@danfowler @mfenner @pwalsh (and everyone else)

I emphasize the constant principle of simplicity.  Yes, we can have a bunch of other ids. But: for what purpose *right now*?

Everything we add to the spec is extra cognitive load for users and implementors. Remember we can always have extensions of the spec as separate mini-specs -- **and** you can add your own fields at the moment as long as they

[2016-02-03 14:35] vitorbaptista commented on #167
I agree with @roll. I don't think we need to do anything more related to this issue, the spec is clear as it is :+1:

[2016-02-03 14:42] rgrp commented on #228
* Naming: @jpmckinney great suggestion re `parts`.
* Overloading vs distinct name: @danfowler + @pwalsh - i am starting to think we could go for the array approach on `path` and `url`.
* Stripping headers: I think we want an explicit boolean property so that is not something left to guessing by external tools (though such tools are welcome to check / guess)

@all: really welcome your vote / view o

[2016-02-03 14:45] pwalsh commented on #228
+ 1 overloading for `url`, `path` *and* `data`

I add `data` because it should have the same API as `url` and `path` IMHO.

[2016-02-03 15:13] mfenner commented on #237
I advocate that ìd` MUST be present, and to always use a `uuid`.

In my view `id` is essential if you want to handle more than a handful of datasets. Imagine for a example the use case of an R script analyzing 5 datasets with weather data from 5 different locations. And then try to rerun that script 6 months later, when files have moved around, might have changed, etc. I would argue that a require

[2016-02-03 15:16] mfenner commented on #132
@rgrp sorry for not following up on this. I want a standard zip compression, and hadn't found the time to spec out the details.

Bundling a data package into one file is an important use case for me.

[2016-02-03 18:27] rgrp commented on #223
@pwalsh very sensible questions. I do have thoughts:

* "source" vs "path to the data": you can use the `sources` property primarily defined on data package on resources. This `sources` property can be used to point to other "source" version of the data whilst url / path / data point to the actual primary version stored with this data package
* "archived / backup" copies: I think this is a definit

[2016-02-03 18:37] pwalsh commented on #132
For reference (although not directly related to a *spec* for compression) we went ahead and added zip support to the recently upgraded Python lib for DataPackage, based on very clear use cases in the CKAN integration, and, in general, that it is sensible and reasonable :). @vitorbaptista developed and led on that initiative.

For reference:

* https://github.com/okfn/datapackage-py/blob/master/dat

[2016-02-04 07:28] pwalsh commented on #223
* TBH I never thought of `sources` like that, and while it def. works, it feels like too much information for this use case (sources has the same footprint as `resources`, essentially).
* For the use case I outline, I agree, let's not overload `path`, `url`, `data` with this (so: let's close this ticket again), but also let's not use `archives` either, as we already have a convention for `archive`

[2016-02-04 08:42] danfowler commented on #228
@pwalsh for consistency's sake, I agree, but then I think we might have to revisit `data` because it acts so differently when compared to `path` and `url` (e.g. `data` can already be an array).

[2016-02-04 08:49] danfowler opened #242 "Clarify value of "data" attribute on a resource"
Reading this part of the spec, I was a bit confused:

It seems to say, in order:
1. value of `data` can be any type of data
2. value of `data` must be string
3. value of `data` can be any type of data (either array or object or string)
4. value of `data` (from later examples) can be array or string

[2016-02-04 08:52] pwalsh commented on #228
@danfowler

In Tabular Data Package: the payload from a file (via `url` or `path`) is an array, so conceptually it is the "same". For DataPackage in general, pretty much the same principle would apply (items in an array, but not necessary that each item is also an array).

In any event, it doesn't seem to me that `data` really behaves differently on this level (`path` and `url` are pointers to "da

[2016-02-04 09:56] rgrp commented on #223
* `sources` is more limited than a resource in that it only 3/4 properties I think
* we have no convention for `archive` yet in DP afaik. We have a convention for the `archives/` **directory** but no property in the datapackage.json.
* I like cache idea and we should open an issue for that i think

[2016-02-04 09:56] rgrp commented on #223
FIXED. Re-closing as i think this resolved for now.

[2016-02-04 09:56] #223 closed

[2016-02-04 09:58] rgrp commented on #132
@mfenner i imagine this can be *super simple*. Would you be able to start a draft and drop it in an issue here?

@vitorbaptista useful to get outline of what you did.

[2016-02-04 14:36] danfowler commented on #225
@rgrp Given the broad agreement on keeping the hash-or-string pattern, I think we can close this.

With respect to aligning `sources` and `contributors`, I now think that there is nothing critical to do. And given that, like you said, they *are* referring to fundamentally different things, it is probably wise not to tie them together as they might diverge in the future.

[2016-02-04 15:29] danfowler opened #243 "Locally caching remote or inline resources via "cache" key"
As of `1.0.0-beta.15`, only one of `path`, `url`, or `data` is allowed on a given resource.  In discussing this, it was suggested that [it is useful to have a local path](https://github.com/dataprotocols/dataprotocols/issues/223#issuecomment-152474274) to which to download a remote (`url`) or inline (`data`) resource so that non-datapackage-aware tooling can access.  As a result of discussion in #

[2016-02-04 15:37] pwalsh commented on #243
Big +1 on `cache`.

Neutral on the description of what implementations should do. What an implementation should do, in this case, is likely highly specific to the requirements of the implementation, and not an issue for the spec to address.

[2016-02-04 17:08] vitorbaptista commented on #132
The requirements for my ZIP file loading were to be able to load both ZIPs that follow the pattern:

and also

This is because we wanted to support the ZIP files generated by GitHub (i.e. https://github.com/datasets/gdp/archive/master.zip), which have all contents inside a folder.

The actual code checks that the ZIP file has only and only one `datapackage.json` file and loads it. All paths in the

[2016-02-04 18:58] mfenner commented on #132
+1 Makes a lot of sense.

[2016-02-04 23:51] demyanrogozhin commented on #132
I just hope you awere of ZIP filename encoding problems: http://marcosc.com/2008/12/zip-files-and-encoding-i-hate-you/

Lot of users still stick to windows-1251 (cyrillic) or SHIFT_JIS (japanese).

Maybe it would be good idea to pick archive format that doesn't have such desing flaw (if such format exists)?

[2016-02-05 04:33] tfmorris commented on #132
That blog post is from 2008, is barely coherent, and seems focused more on
the tools than the format.

What do you recommend instead of ZIP?

[2016-02-05 10:52] rgrp commented on #132
@mfenner are you happy to draft a mini-spec here? I imagine it could be just a few paragraphs saying e.g.

- We use zip
- datapackage.json must be at "base" of the zip
- any issues about "referencing" within the zip
- zip file naming conventions (if any)

[2016-02-05 12:51] vitorbaptista commented on #132
I wouldn't limit it to `datapackage.json` only at the base of the zip for the reasons I mentioned before (https://github.com/dataprotocols/dataprotocols/issues/132#issuecomment-179949441). I would suggest we either:

1. Support `datapackage.json` either at the base of the zip or in a top-level folder;
2. Support `datapackage.json` only at a top-level folder (i.e. the contents of the ZIP must be in

[2016-02-05 14:48] amercader commented on #132
I think is better to be explicit in this case and limit the options for people. A single `datapackage.json` at the base of the zip or in a top level folder is easy enough to understand and to code, so my vote goes to 1

[2016-02-05 14:50] sabas commented on #132
Option 1 would enforce the rules used by the ```datasets``` datapackages,

[2016-02-06 13:42] demyanrogozhin commented on #132
@tfmorris I propose 7zip as its open-source, provide better compression ration and UTF-8 file-names.

Despite 2008 is far away, problems with i18n in filesystems is the same - ZIP file created on PC with Korean locale and contain Korean in filenames will be unreadable gibberish after unZIPing on PC with different locale.
ZIP allows usage of different encoding for filenames, but doesn't contain inf

[2016-02-12 19:10] aubergene commented on #243
How about storing the ETAG or some other hash of the document from the last time it was retrieved?

[2016-02-14 20:07] ppKrauss commented on #218
+1 vote  to this issue!

-----

For nowadays (not far future),  there are some directive or new Dataprotocols convention to express semantic in *fields*?  (`resources/schema/fields` at  [tabular-data-package stanard](http://data.okfn.org/doc/tabular-data-package))... Example:  the W3C's  [`propertyUrl`](https://www.w3.org/TR/tabular-metadata/#cell-propertyUrl) and [`aboutUrl`](https://www.w3.org/T

[2016-02-15 15:23] danfowler commented on #132
For reference, BagIt's serialization specification work doesn't actually mandate a given format, just rules for (un)zipping behavior:

https://tools.ietf.org/html/draft-kunze-bagit-13#section-4

[2016-02-21 12:26] rufuspollock opened #245 "Mimetype for datapackage.json"
Propose to add a section "MediaType and File Extensions" to Data Package spec containing the following:

[code]

We could look also to register an official mimetype e.g.

[code]

/cc @rossjones

[2016-02-22 11:14] rossjones commented on #245
Sounds good, and would definitely be useful for discovery.  I guess if we use think in a link rel, dpm (and other tools) could point directly at the (for instance) dataset page and find the link to the package.

[2016-02-22 13:15] amercader commented on #245
Is this referring to just the `datapackage.json` file (eg is that what the `rel` links would point to)? If it's the Media type for the JSON file then it probably makes more sense to use a JSON vendor media type, eg:

[code]
If it's a zip or some other resource, then a custom one would make sense, but note that `x.` or `x-` media types [are frown upon](https://en.wikipedia.org/wiki/Media_type#Unreg

[2016-02-22 13:21] rossjones commented on #245
@amercader You're right, vnd is probably more appropriate until its registered, but I'd hope that would be quick enough that it wasn't a major problem :)

[2016-02-25 09:55] rgrp commented on #216
OK, I think we should introduce `units` and `factor`. Re `units` the question I would have is to understand any difference between QUDT and dataprotocols units spec.

@danfowler could you take a quick look at QUDT and the units spec and see if you can identify any differences.

[2016-02-25 11:23] danfowler commented on #216
@rgrp I can take a look.

[2016-02-25 21:37] dr-shorthair commented on #216
I would suggest handling currency separate from units of measure, but in the same overall framework along with controlled vocabularies and coordinate reference systems. These are all 'reference systems'.

The special thing about currency is that conversion factors are time-dependent, and the changes are large. This does not apply to typical uom.

There is also some time-dependency in both spatial

[2016-02-29 16:01] scls19fr commented on #238
+1 also see https://discuss.okfn.org/t/datapackage-for-3-dimensional-arrays-and-maybe-more/2107/2

[2016-02-29 17:49] rgrp commented on #97
OK, we're about to implement something here because it is really important for consuming data in many cases e.g. R.

@Stiivi do you have any recommendations based on your experience here.

[2016-02-29 17:56] pwalsh commented on #97
@rgrp

We already have strings that can be considered as `null`: http://dataprotocols.org/json-table-schema/#field-types-and-formats

So, would it not be cleaner to add `nullable` as a property (`nullable: true || false`), and then, IF a field is nullable, check it is of declared type or null.

I understand that does not exactly cover the full use case for `missing_amount` as declared in the origi

[2016-02-29 18:01] rgrp commented on #97
@pwalsh hmmm the type `null` is, i assumed, for a specific field being entirely null (a bit unusual but possible). I also need to parse the distinction between missing values and simply "".

[2016-02-29 18:03] rgrp commented on #156
Just to flag we're probably about to make some progress on this and to highlight the pandas approach:

http://pandas.pydata.org/pandas-docs/stable/categorical.html

[2016-03-04 19:56] akariv opened #246 "Add option to specify the decimal separator character for `number` types in JTS"
Both `,` and `.` are commonly used throughout the world (reference: https://en.wikipedia.org/wiki/Decimal_mark#/media/File:DecimalSeparator.svg), and not specifying which decimal separator is used creates ambiguity (e.g. '1,500' can mean "one and a half" or "fifteen hundred").

We should be able to add to the format definition an indication for which decimal separator is used. I can see two option

[2016-03-05 19:35] pwalsh commented on #246
+1, and +1 on new attribute `decimalSeparator`.

[2016-03-06 20:19] Floppy opened #247 "Multiple URLs for resources"
**As a data consumer, if a primary URL for a data resource is unavailable, I want to be able to use another to fall back on.**

This could either be the same protocol but a different host (HTTP on an S3) or a different protocol that may be available instead (FTP, IPFS, etc).

As a bonus, a data consumer could choose their preferred source URL based on geolocation, preferred protocol, etc, and not

[2016-03-07 05:54] pwalsh commented on #243
@rgrp I think I'd want to modify this, that `cache` can be a `path` or a `url`. WDYT?

[2016-03-07 05:56] pwalsh commented on #243
@aubergene about ETAG or hash of document it serves a different need IMHO. The need for a cache comes from the possibility of a resource hosted elsewhere becoming unavailable.

[2016-03-07 05:59] pwalsh commented on #242
I read it as: what `data` is is dependant on what *type* of data we are wrapping in the resource object. It is worded awkwardly, I agree, but it is hard to express in a generic manner. Might be better to be specific on this in profiles, like the `tabular` profile should also have `data` which are arrays.

[2016-03-07 05:59] pwalsh commented on #245
+1 for @amercader

[2016-03-07 06:04] pwalsh commented on #247
I'm not sure about this. It opens a hole for errors and complexity in implementation: should implementing code check that the multiple urls are really the same? Based on what logic would the decision to take one URL over another be based?

About the geolocation use case you mention: I get the idea but to actually execute on that you'd need much more information than just multiple URLs. The use cas

[2016-03-07 06:04] pwalsh commented on #225
@danfowler @rgrp are we closing this?

[2016-03-07 06:06] pwalsh commented on #228
@rgrp @danfowler any moves towards resolution on this issue?

[2016-03-07 06:08] pwalsh commented on #221
@brew would you like to make a PR on the spec to help clarify this? Otherwise, can we move to close this issue?

[2016-03-07 06:10] pwalsh commented on #218
@ppKrauss could you provide an example here?

[2016-03-07 06:13] pwalsh commented on #213
@rmhrisk any further thoughts here? Even starting with a short example of a spec for signing data packages, and/or a description of the publication flow including signing, could be really useful.

[2016-03-07 06:16] pwalsh commented on #208
@rgrp shall we move on this? One thought is that, in order to full map jts types to all the csvw data types, we actually need to combine format + type. So, I'd say making a single change to the JTS spec that provides a complete mapping of csvw data types -> jts format+type would be a good PR that several of us could review.

[2016-03-07 06:16] pwalsh commented on #209
https://github.com/dataprotocols/dataprotocols/issues/208#issuecomment-193119625

[2016-03-07 06:19] pwalsh commented on #216
@rgrp @danfowler any progress here?

@dr-shorthair great points. I'm wondering, though, if the conversion aspects you highlight are relevant for the spec itself (rather than relevant for potential applications of the spec).

[2016-03-07 06:21] pwalsh commented on #204
@danfowler @rgrp can we move to clarify this? UTF-8 encoding and alternate separators are so important to the application of CSV and the data protocol specs in general, that we should be explicit in how we diverge from RFC4180.

[2016-03-07 06:22] pwalsh commented on #207
Hi @cadorn no, it does not. I'm personally -1 one on such an implementation detail landing in the spec.

@danfowler @rgrp WDYT?

[2016-03-07 06:23] pwalsh commented on #199
@danfowler this is an easy fix. Can you please do it.

[2016-03-07 06:24] pwalsh commented on #188
@rgrp @danfowler any comments on this? My opinion is still the same as the above comment. I think if we are not acting on this, we can close the issue.

[2016-03-07 06:25] rmhrisk commented on #213
I have thought about it but did not want to waste my time if there was no interest.

There are two approaches that can be taken here, one is to adopt the [EU ASiC standard](https://www.etsi.org/deliver/etsi_ts/102900_102999/102918/01.01.01_60/ts_102918v010101p.pdf) which lets  you put arbitrary data in a zip file and put a signature on it.

The other is to use [JSON Web Signatures](https://tools.i

[2016-03-07 06:25] pwalsh commented on #187
@danfowler can this be closed?

[2016-03-07 06:31] pwalsh commented on #213
@rgrp @danfowler @amercader

@rmhrisk we are definitely interested :). I think the only think is whether it becomes part of the core spec or not. Now that we are starting to build out infrastructure around data packages, it has become more relevant to my own thinking on the implementation of data package registries, for example.

From the options you mention, I'm a big +1 on JSON Web Signatures fo

[2016-03-07 06:33] pwalsh commented on #161
Closing as @brew made the PR and it has been merged.

[2016-03-07 06:33] #161 closed

[2016-03-07 06:34] pwalsh commented on #154
@samperd I'm also keen to hear about this, if you went in any particular direction.

[2016-03-07 06:36] pwalsh commented on #150
@hubgit ( @rgrp @danfowler )

I'm interested to have this as part of CSV dialect. In [GoodTables](https://github.com/okfn/goodtables) there are config options for this as part of a validation run over a CSV file. To declare the behaviour as part of the CSV spec is appealing.

[2016-03-07 06:38] pwalsh commented on #134
@rgrp @danfowler I think `fields` is fine, and there is no clear benefit in a change to `columns`. I suggest we close this issue.

[2016-03-07 06:39] pwalsh commented on #126
@rgrp @danfowler this is open for quite a while. Either we make this breaking change, or we close the issue IMHO. I'm -1 on the change.

[2016-03-07 06:42] pwalsh commented on #46
@rgrp @danfowler @jpmckinney

We are well beyond this discussion by now. I think we've got as much from JSON Schema as we'll get into the JTS spec by now. Can this issue be closed?

[2016-03-07 06:44] pwalsh commented on #152
@rgrp @danfowler an easy thing to introduce. @danfowler I suggest you make a PR.

[2016-03-07 06:47] rmhrisk commented on #213
IMHO I think it is most valuable if it is specified as part of the standard or explicitly refferenced from it. Ill work on a sample based on js-jose in the next few weeks. Do you have a sample package I can use as a test?

[2016-03-07 06:51] pwalsh commented on #213
@rmhrisk agree on explicit reference to a signing spec from the main dp spec.

For example data packages, you can try any of:

* https://github.com/openspending/fiscal-data-package-demos (a number of dps here - one in each directory)
* https://github.com/rgrp/dataset-gla (may be interesting as it includes extra stuff in the package, like the `scripts` directory. question: do we *only* sign the `da

[2016-03-07 06:57] rmhrisk commented on #213
Simplest thing to do is to sign the referenced "resources"."path" and place its signature in the datapackage.json This would not cover the metadata, of course, signing the meta-data is interesting ill need to think about the best way to do that in this case.

[2016-03-07 07:20] pwalsh commented on #213
@rmhrisk ok, so you have a signature on each resource.

[2016-03-07 07:24] rossjones commented on #247
I like the idea of alternative_urls and I think it comes from a pretty solid use-case, and recent experiences.  When the original url isn't available, because it times out, or is 404, having alternative URLs gives the user the option to try one of those instead.

For our particular use-case on data.gov.uk, it would be good for us to be able to reference the original source as well as our local arc

[2016-03-07 07:25] pwalsh commented on #247
@rossjones the exact use case you describe here is one I am experiencing, and this is why we are discussing a `cache` property: https://github.com/dataprotocols/dataprotocols/issues/243

[2016-03-07 07:41] rossjones commented on #243
I'd be really keen to support url as an option for the cache, even though it opens up a can of worms where the cached copy (of file or url) could potentially be out of date. Although it complicates thing, I agree with @aubergene that having a content-hash for the cache would be useful in determining if it is out of date - which may or may not be acceptable, but at least the user would know.

[2016-03-07 07:47] rossjones commented on #225
@pwalsh I'll close it, seems like @danfowler is happy enough that it's done, and I'm happy enough that it's been answered.

[2016-03-07 07:47] #225 closed

[2016-03-07 07:47] pwalsh commented on #225
thanks @rossjones

[2016-03-07 08:11] rmhrisk commented on #213
Yes, basically each resources.path probably also has a resource.hash and a single JWS signature goes over the whole datapackage.json.

[2016-03-07 08:12] pwalsh commented on #213
@rmhrisk ok, sounds good.

[2016-03-07 08:22] rufuspollock opened #248 "[research] Go Package Management"
This is a research issue for collecting research on go's approach to package management.
- go get command: https://golang.org/src/cmd/go/get.go
  - https://golang.org/src/cmd/go/vcs.go
- godep - https://github.com/tools/godep
- [go 1.5 vendoring experiment links on go wiki](https://github.com/golang/go/wiki/PackageManagementTools#go15vendorexperiment)
  - [Discussion thread on google groups](https

[2016-03-07 08:24] rgrp commented on #126
WONTFIX. We will not make this change. It was largely to try and seek compatibility with w3c spec but that diverged in lots of other ways.

[2016-03-07 08:24] #126 closed

[2016-03-07 08:28] rgrp commented on #134
WONTFIX. Again like #126 this was largely to support compatibility with w3c spec and that has diverged quite broadly so little benefit here.

[2016-03-07 08:28] #134 closed

[2016-03-07 08:36] rgrp commented on #150
+1 on this as a nice addition.

I think list of options is:

* `ignore`: Ignore blank lines
* `endOfInput`: Treat a blank line as the end of the input file
* `error`: a complete blank row signifies and error and should terminate processing?
  * is this a duplicate of the constraints?
* `zeroFields`: Treat a blank line as a row with zero fields
  * What does this mean?
* `oneEmptyField`: Treat a bl

[2016-03-07 08:37] pwalsh commented on #150
@rgrp GoodTables can ignore blank rows, and ignore ragged rows (in both cases, instead of raising and exception).

[2016-03-07 08:38] rgrp commented on #246
I think this is a simple useful change.

My only concern is that we are describing "input format parsing" in the schema. We already sort of do this for dates so not a huge change. What is important is to distinguish this from "display format" information e.g. this field is percentage - otherwise we can end up with confusion (IME from recline).

[2016-03-07 08:43] rgrp commented on #207
WONTFIX.

@cadorn I get the usecase behind this but i think, as pwalsh points out, that there is a *lot* of implementation detail hidden in this (and it seems less a constrain than something about behaviour on insert to a given column etc).

Where I can imagine this coming from is attempting to serialize DB structures to JSON Table Schema.

On this front, remember that JTS like Data Package allows

[2016-03-07 08:43] #207 closed

[2016-03-07 09:06] hubgit commented on #150
This is what PHP's CSV parser does - a blank line is parsed as `[null]` (an array with one column containing `null`)

This is an alternative to the above, avoiding the `null` column.

I suppose they're both describing the parser behaviour more than the data, so debatable whether they should be included in a CSV dialect.

[2016-03-07 09:08] hubgit commented on #150
Maybe there should also be:

`startOfInput`: Treat a blank line as the start of the input file (for when the metadata header is at the top of the file). Sometimes this would be covered by a `headerRows` integer, but if that's not a fixed number then the data might instead be found after one or more blank lines.

[2016-03-07 09:09] akariv commented on #246
I thought this spec only defined constraints on the data itself, without any specific reference to displaying the data. Anyway, opening a PR.

[2016-03-07 11:15] rgrp commented on #246
@akariv yes, exactly - i generally do **not** want presentation info in the spec.

[2016-03-07 11:18] rgrp commented on #150
@hubgit thanks for the clarification. I guess my sense is that "oneEmptyField" and "zeroFields" are a bit odd in that if you have e.g. headers then I'd just say an empty row means that all fields are empty rather than zero or one. I wonder if we could just have: an `empty` option which means treat the row as valid but empty (and the parser can determine what they mean by "empty").

[2016-03-07 11:26] rgrp commented on #245
OK, so i guess the new proposal is:

[code]

Question: do we add the +json. My sense is that you are not *always* pointing to the datapackage.json itself (e.g. you may be pointing to the directory etc). Given this we can't always add the `+json` - but should we add an extra line like:

[code]

Final comments please and then this will go in :-)

[2016-03-07 11:27] pwalsh commented on #245
@rgrp LGTM

[2016-03-07 11:38] #152 closed

[2016-03-07 11:39] rossjones commented on #245
@rgrp am ambivalent about +json but otherwise looks good.

[2016-03-07 11:41] rgrp commented on #46
FIXED / WONTFIX. @pwalsh i think you are right - at this point we are unlikely to get that much more alignment and we have a fair amount (e.g. reuse of types etc).

@jpmckinney if you have any thoughts here or think we should reopen please say!

[2016-03-07 11:41] #46 closed

[2016-03-07 11:44] rgrp commented on #187
@pwalsh i guess we should do a couple of things like move items under `/reference/` and announce this in the newsletter and tweet (even if a bit late).

We will certainly then close this asap.

[2016-03-07 11:52] rgrp opened #250 "Merging path and url for resources"
At the moment we have `path` and `url`. I originally had this to make it super easy for tool implementors (no lists of web protocols to match against `http://, https://, ftp://, etc).

At the same time it adds cognitive complexity to the spec and for publishers and confusion about whether one could use both #223 #232

The approach would be probably going forward just to have `path` and define like

[2016-03-07 11:56] rgrp commented on #188
@pwalsh this seems to me like notes for implementors - making me think we do need a patterns or primer section for this kind of thing. We sort of have this here already: http://data.okfn.org/doc/publish-faq.

I am going to label this as such now and will raise and issue generally about the FAQ / Patterns / Best Practice stuff.

[2016-03-07 11:58] pwalsh commented on #250
+1.

Easy enough to implement code and check if we have a protocol scheme or just a plain old path to file.

[2016-03-07 13:08] rgrp commented on #204
@pwalsh @scraperdragon what do we think of changing the start of the CSV section to the following:

[code]

[2016-03-07 13:30] pwalsh commented on #204
@rgrp LGTM

[2016-03-07 14:01] danfowler commented on #199
@pwalsh I can do

[2016-03-07 14:35] rgrp commented on #199
@danfowler i've self-assigned and i'm working on this so i've got this one ;-)

[2016-03-07 14:41] rgrp commented on #243
OK, this seems fairly sensible and straightforward. Only question is whether cache is an object or a single path value. Object would be something like:

[code]

[2016-03-07 14:47] rgrp opened #251 "Geo types should allow for metadata like reference coordinate systems"
We have two geo types: "geopoint" and "geojson" in JSON Table Schema http://dataprotocols.org/json-table-schema/#field-types-and-formats

I'm wondering whether we should support some additional metadata such as reference coordinate systems.

/cc @dr-shorthair

[2016-03-07 14:47] pwalsh commented on #243
+ 1 `"cache": "path-to-cached-file"`

-1 on `hash` and `etag` for cache as part of spec.

[2016-03-07 14:48] pwalsh commented on #251
@amercader may also have some insight.

[2016-03-07 14:52] rossjones commented on #243
Our recent look at 60k files we have archived showed < 50% had an etag, so it may not actually be that useful.

Agree the hash can be calculated by the client, but where the cache is a URL I need to fetch it first - the useful thing with the hash and lastCached date here is determining if it actually IS out of date.  If the hash doesn't match the primary and/or the date doesn't match my expectatio

[2016-03-07 14:56] #204 closed

[2016-03-07 14:57] rgrp commented on #162
@paulfitz is this ready to be closed or should it stay open?

[2016-03-07 15:12] amercader commented on #251
GeoJSON (and by extension TopoJSON) allows to define the CRS as part of [its spec](http://geojson.org/geojson-spec.html#coordinate-reference-system-objects) so it's probably better to rely on this and take that concern out of JTS.

I'm not sure how much value adds a `geopoint` field type as opposed to having two `number` fields with `longitude` and `latitude` format respectively.

[2016-03-07 16:29] jpmckinney commented on #46
I agree that we've probably gone as far as we can on this. Thanks!

[2016-03-07 17:20] paulfitz commented on #162
@rgrp I implemented this in daff https://github.com/paulfitz/daff/pull/17 and it did prove handy. Forgot to propose an update to spec though - will do that asap, thanks for reminder.

[2016-03-07 18:56] #187 closed

[2016-03-07 18:59] rgrp commented on #170
WONTFIX / INVALID. @whyvez I'm closing as I was not quite sure what you were proposing and this has been open for a while. The general issue of more complex constraints is an interesting one but would be a separate issue.

[2016-03-07 18:59] #170 closed

[2016-03-07 18:59] rgrp commented on #164
@edwindj @paulfitz can this be closed?

[2016-03-07 19:06] rgrp commented on #219
WONTFIX. Think this is a nice idea and one we may revisit (e.g. collecting together a set of schemas) but one we won't address right now.

@whyvez thanks for the suggestions and please re-open if you think there is further discussion here.

[2016-03-07 19:06] #219 closed

[2016-03-07 19:07] rgrp commented on #67
DUPLICATE (now) of #216

[2016-03-07 19:07] #67 closed

[2016-03-07 19:08] rgrp commented on #76
@paulfitz are we done can we close now?

[2016-03-07 19:10] rgrp commented on #87
@danfowler / @pwalsh i think this is worthy of being its own mini-spec. @danfowler could you take a first stab at drafting something and submitting a pull request. Suggestions:

* Name: data-package-profiles
* Contents:
  * Define a Data Package Profile
  * Reference the primary registry
  * Document how it would work

Questions:

* Profiles vs bare JSON Table Schemas - do we distinguish, is the l

[2016-03-07 19:14] pwalsh commented on #87
@rgrp since my last comment, the registry now includes all schemas, so jts and profiles now: https://github.com/dataprotocols/schemas#json-schemas-for-data-protocol-formats

it is also served from http://schemas.datapackages.org/registry.csv

[2016-03-07 19:20] rgrp commented on #251
@amercader great - i know they were adding something there. Re geopoint its a reflection of its relative commonality but agree that one that 2 different columns is also common.

[2016-03-07 19:21] rgrp commented on #242
@danfowler the logic was that either the data is a JSON structure or its a string whose format is given by the format string (e.g. data was a string of CSV with `format: csv`. Does that make sense? Is there any suggested wording improvement we could do?

[2016-03-07 19:23] pwalsh commented on #188
@rgrp +1

[2016-03-07 19:24] solidsnack commented on #76
Please, please.

[2016-03-07 19:30] paulfitz commented on #76
Agreed, the die is cast.

[2016-03-07 19:30] #76 closed

[2016-03-07 21:10] dr-shorthair commented on #251
Not so fast: there was notional CRS support in the original GeoJSON, but on a closer look it was realised that it was confusing, so as of about 2 years ago it is deprecated. This is made clear in the IETF Draft. GeoJSON is really only supposed to be used with CRS84 (i.e. WGS84 but with RH axis order) .

From: Adrià Mercader [mailto:notifications@github.com]
Sent: Tuesday, 8 March 2016 2:12 AM
To:

[2016-03-08 01:56] ppKrauss commented on #218
@pwalsh,  Is a [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) concept based on *end-points* that are [cool URLs](https://www.w3.org/TR/cooluris/), to use in [URI-templates](https://www.w3.org/TR/tabular-metadata/#uri-template-properties).  Well known examples, are the so-called *URN resolvers*,

* `http://dx.doi.org/{DOI}`  where the placeholder `{DOI}`  is a [DOI](https://e

[2016-03-08 04:56] pwalsh commented on #218
@ppKraus thanks. What I meant was, an example of a datapackage.json or a JSON Table Schema portion that demonstrates your suggestion.

[2016-03-08 11:30] rgrp commented on #243
@rossjones ok so etag can be dropped. I guess my question here would be to do a progressive enhancement:

* Right now: add a simple `"cache": "path"`
* If it looks like storing the hash is pretty useful to several people then we can add that later (this can be backwards compatible by allowing simple string or object as value for cache)

@pwalsh one aside is interaction with cache and `parts` idea

[2016-03-08 11:31] Floppy commented on #247
`cache` is interesting, but the use case here is where the client hasn't accessed the data before, but the source has gone away. The internet is unreliable, especially in less-developed areas of the world :)

I admit the geolocation example is a stretch and would take lots of other knowledge to use, but you can easily imagine having a standard mirror list for data sources in different CDN location

[2016-03-08 11:40] pwalsh commented on #247
@Floppy sure, I get it. I'd argue that this use case - mirroring - definitely is not something that is relevant to the spec. Let's see what @rgrp and @danfowler think though.

[2016-03-08 12:44] rgrp commented on #247
@Floppy there is no reason that cache could not be a url as well as a path so it *could* provide some fallback.

I also note there are things that can become "extension" specs but are not in core just like we have separate data-package-identifier spec.

[2016-03-08 13:01] rgrp opened #253 "Resources array MUST be present (even if empty)"
I am consider making the `resources` entry a requirement for a valid datapackage.json - though allowing it to be the empty array.

[2016-03-08 13:02] rgrp commented on #76
w00t!

[2016-03-08 13:05] pwalsh commented on #253
+1

[2016-03-08 13:22] rgrp commented on #245
OK, the change has gone in to the spec.

Final step before closing is to register this with IANA as per https://tools.ietf.org/html/rfc6838#section-3.2 - @danfowler can you look into what is required here.

[2016-03-09 09:23] akariv commented on #97
Jumping in this discussion, I also vote for a `nullable` property (or an opposite `required` property) which indicates if the value is allowed to be empty.
Essentially it determines the behaviour in cases where the value doesn't validate *AND* it is also empty-ish (usually I'd consider a string made of only whitespaces to be empty). If the field is required, then we would raise an exception. If it

[2016-03-17 13:20] rgrp commented on #199
I've just deleted for the moment. Do people think we should have appendix @pwalsh @danfowler

If we had an appendix would look like:

## Application to Specific Data Types

This specification is intentionally silent on the type or structure of the data
that can be included in a data package. This allows data packages to include
any kind of data.

At the same time, there is significant value in spe

[2016-03-17 13:26] danfowler commented on #87
@rgrp I am going to try to work on this over the next sprint.

[2016-03-17 13:27] danfowler commented on #199
@rgrp no mention of "profiles"? I think I would like to do the mini-spec for profiles (https://github.com/dataprotocols/dataprotocols/issues/87) and link to that from this appendix.

[2016-03-17 13:29] pwalsh commented on #199
@rgrp +1 on appendix.

[2016-03-18 15:12] #199 closed

[2016-03-19 20:01] rgrp commented on #199
@pwalsh i guess my question is how much the "RFC" spec should link out vs having this info as part of the overall site or intro to data packages. I also need the profiles stuff to be ready to do that link :-)

[2016-03-21 14:18] danfowler opened #254 "Add commentChar to CSV-DDF"
There are CSVs that exist in the wild that begin with some number of commented lines:  [example](https://portal.lternet.edu/nis/dataviewer?packageid=knb-lter-vcr.25.31&entityid=32a020479d23312012444a5b4ff81658) (45MB).

To support these kinds of files, we might want to have a new attribute as part of the dialect description: `commentChar`.

See also: https://github.com/frictionlessdata/tabulator-p

[2016-03-22 06:11] rgrp commented on #77
Excerpting key stuff from that vega-lite thread here:

### Feb 4

https://github.com/vega/vega-lite/issues/512#issuecomment-179735332

@domoritz let me try and set out the logic again a bit more clearly:

* vega / vega-lite is a system for specifying **visualizations**
* to create visualizations you normally have (at least) the following 3 components
  * general-metadata - e.g. title of graph, cre

[2016-03-22 06:39] danfowler commented on #253
+1

I can draft this and also update the schema.

[2016-03-23 08:31] danfowler commented on #144
@rgrp shall we close in favor of #237?

[2016-03-23 10:52] rgrp commented on #144
DUPLICATE of #237

[2016-03-23 10:52] #144 closed

[2016-03-23 10:58] rgrp commented on #253
@danfowler i've already done this - just need to push.

[2016-03-23 11:21] rgrp commented on #250
Questions:

* Do we change to a new name e.g. `location` - this is **breaking**!
* How do implementors distinguish fully qualified urls from (relative) paths?

My sense if we do do this, approach would be:

* Merge to `path` and allow it to be a full url (makes semantic sense: "path to the resource file")
* Deprecate url
* Require implementors to do some regex'ing to distinguish urls from relative

[2016-03-23 11:35] rgrp commented on #243
OK so something like:

[code]

Only remaining question is whether this is a pattern or in formal spec (idea being we may leave a standard pattern and add to spec later if interest is large enough - want to keep spec as streamlined as possible).

Logic for pattern is this more for consumers than publishers (publishers would rarely implement ...).

[2016-03-23 11:55] rgrp commented on #208
WONTFIX. Adds complexity - KISS!

[2016-03-23 11:55] #208 closed

[2016-03-23 11:55] rgrp commented on #209
WONTFIX. Adds complexity - KISS!

[2016-03-23 11:55] #209 closed

[2016-03-23 12:24] danfowler commented on #246
Copying from #249

+1 @akariv.  To add to the discussion, I will point out that having `format` be a string or an object puts JSON Table Schema into greater alignment with W3C CSVW for the number format: http://w3c.github.io/csvw/syntax/#formats-for-numeric-types .

We can go further and rename `decimalSeparator` -> `decimalChar` and `thousandsSeparator` -> `groupChar`*

[code]

\* http://stackove

[2016-03-23 12:43] #253 closed

[2016-03-23 15:40] rgrp commented on #254
@danfowler can you write out here the specific language change you would add and how it would work?

[2016-03-23 16:03] pwalsh commented on #254
On reflection, I'm -1. This is not at all related to csv dialect. At best, it is a pattern to support in tools like tabulator.

[2016-03-25 13:41] danfowler commented on #254
Agreed. Closing.

[2016-03-29 08:16] roll commented on #97
`required` + `nullable` + etc - it starts to be messy. Doesn't it?

For now we have list of values considered to be `not a value` (empty string is discussed here now - https://github.com/frictionlessdata/jsontableschema-py/pull/56):
[code]

We could just allow to extend this list like:
[code]

Implementation will be simple for current `jsontableschema-py` for example.

[2016-03-29 10:43] danfowler commented on #87
@rgrp @pwalsh So with our working implementation of profiles, any given Data Package has only one unversioned profile.  And all inheritance from any other profile (e.g. `fiscal` > `tabular`) is specified directly in the JSON Schema that defines the profile.

And so, would a simple `profile` key whose value is a string identifier for the profile in some registry (as suggested earlier by @stevage (h

[2016-03-29 10:56] pwalsh commented on #87
@danfowler

I don't follow.

What do you mean by:

    all inheritance from any other profile (e.g. fiscal > tabular) is specified directly in the JSON Schema that defines the profile.

And, what problem are you solving by adding `profileRegistryURL` to the spec?

[2016-03-29 11:43] danfowler commented on #87
@pwalsh [earlier](https://github.com/dataprotocols/dataprotocols/issues/87#issuecomment-120386906) in the thread @rgrp says this:

But in describing how a Data Package publisher can specify a profile for their Data Package, we can just keep it simple and suggest adding a single property (e.g. `"profile": "fiscal"`) and it is up to the maintainer of that profile to ensure that, if she suggests it i

[2016-03-29 11:47] pwalsh commented on #87
Ok, so on point 1, no, the JSON Schema for a profile (which is really just an implementation detail, or, if you like, a representation of the spec) does not implicitly or explicitly imply any inheritance, so I still don't understand what you mean there.

On point 2, well, I get the idea, but there is not actually any dependency between the spec and the core registry (the specs do not say, for exam

[2016-03-31 07:33] danfowler commented on #87
@pwalsh

1. OK, so in describing how to create a profile, I'll leave out anything about inheritance.  A profile for a data package stands alone.  Its representation can be a JSON Schema.
1. OK, but the specs don't say anything about profiles yet.  Once we go down the path of providing names for profiles, don't we have to talk about how those names might be resolved?  This could all go in a mini-sp

[2016-04-02 12:14] rgrp opened #255 "[discuss] Data Transform specs"
https://github.com/vega/vega/wiki/Data-Transforms

[2016-04-04 14:54] danfowler commented on #156
@rgrp I'd like to flag that support for remote "controlled vocabularies" comes up pretty often.

I have two thoughts:

1. This issue should probably be tagged spec-json-table-schema.
2. The `foreignKeys` approach suggested by @djvanderlaan is actually recommended by [W3C CSVW](https://www.w3.org/TR/2016/NOTE-tabular-data-primer-20160225/#h-enumeration-reference)

[2016-04-04 16:06] roll opened #257 "JSON Table Schema: Null type or not a value?"
I was working on `jsontableschema-py` and a SQL integration and I've noticed that in JTS `Null` is a type not a `not a value` (like in SQL).

But every type from spec - http://dataprotocols.org/json-table-schema/#field-types-and-formats - could be a type of a field (because of tabular nature vs object nature). In this context `Null` is more `not a value` than a dedicated type because field can't h

[2016-04-05 08:07] danfowler commented on #87
@pwalsh @rgrp @stevage @jpmckinney drafting a description of profiles here: https://github.com/dataprotocols/dataprotocols/blob/add-profiles-documentation/data-package-profiles/index.md

I think the next section in this doc could be a template for writing such a profile (https://github.com/dataprotocols/dataprotocols/issues/196)

[2016-04-05 13:40] stevage commented on #87
A few comments on what you have there:

- it refers to writing "a small specification", but FDP is pretty big. Is talking about what's needed "at a minimum" actually helpful?
- are the three italicised questions meant to be section headings for the profile? If not, are they just "things that your profile should address at some point"? I'd suggest that providing a template might be more useful, esp

[2016-04-07 15:08] danfowler commented on #87
Thanks for the comments, @stevage.  To your points:

1. This is a good point.  I suppose FDP is probably at one end of the complexity spectrum for Data Packages, and that most will be far simpler.  But I suppose this can be informed by the use cases people actually have for Data Packages.
1. Also an excellent point.  I was meaning to add a template afterwards anyway, but perhaps replacing these ge

[2016-04-18 15:53] akariv commented on #246
@rgrp what is the next step here?
This will become a blocker pretty soon.

[2016-04-18 20:51] rufuspollock opened #258 "Remove currency property on number in JTS"
I am considering removing the `currency` property on the `number` type as I am unclear on its exact use e.g.:
- how should this be parsed or is parsing "undefined" other than that this is a currency (does that just mean strip all non-numeric characters
- are you supposed to be able to determine the currency

I believe it was introduced by @pwalsh here: https://github.com/dataprotocols/dataprotocol

[2016-04-18 21:03] rgrp commented on #246
FIXED. See

Note: tried to align as much as possible with W3C. Somewhat simpler and e.g. no support of per-mille (just percentage).

Also did not implement full pattern stuff. I feel it is quite complex and difficult to grok (based on my experience). Happy to have +1's for it (probably a separate issue). If we did it would be something like allowing this for format string:

[code]

[2016-04-18 21:03] #246 closed

[2016-04-19 10:42] rgrp commented on #257
DUPLICATE. @roll I agree and we should remove `null` as a type. This is being dealt with in #97 and we will implement there.

[2016-04-19 10:42] #257 closed

[2016-04-19 10:47] rgrp commented on #97
OK, let me summarize the state of play:

* We will implement a `missingValue` property on all fields. Exact form tbd but likely as per https://github.com/dataprotocols/dataprotocols/issues/97#issuecomment-190307675
* `nullable` will not be implemented as duplicate of `required` (though we will need to note this in semantics for parsers that required=true => no null values)

This is going to go in

[2016-04-19 10:47] rgrp commented on #245
@danfowler can you please update here on your research (if any) 😄

[2016-04-19 10:49] rgrp commented on #251
WONTFIX.

@dr-shorthair this was very useful clarification. For the present, i'm going to leave this as a WONTFIX but can re-open if people think this would be an important addition.

[2016-04-19 10:49] #251 closed

[2016-04-19 10:54] rgrp commented on #150
@hubgit any final thoughts before this goes in (including on my last comment).

[2016-04-19 11:52] hubgit commented on #150
@rgrp I think `ignore`, `empty` (default?), `end` (and possibly `start`) sound reasonable, though I haven't used them  enough in practice to say for sure.

[2016-04-24 15:17] akariv commented on #246
@rgrp one comment - it's not clear right now from the wording what exactly should `currency` be - a boolean? a string?
In case we opt to leave this property and not remove it as #258 suggests, we should have a better definition for its value.

[2016-04-25 11:07] rgrp commented on #246
@akariv good question :wink: Can you put comments on currency in #258 - even though that is about removal find to have comments like this plus comments to keep and define better.

[2016-04-27 21:53] rgrp commented on #77
Update: an in progress test implementation using vega and vega-lite is going on here https://github.com/okfn/datapackage-render-js

[2016-04-27 23:15] domoritz commented on #77
Thanks for the update. Also, check out https://github.com/vega/vega-embed. We use it whenever we want to render vega/ vega-lite charts on the web.

[2016-04-28 09:11] rgrp commented on #77
@domoritz thanks and already planning to use that. I've also posted an overview of what we're trying to do here which you may find interesting: https://discuss.okfn.org/t/data-packages-views-graphs-maps-tables-etc/2667

[2016-05-10 10:14] pwalsh opened #260 "Remove `fmt:` prefix for date formats"
I added it to the spec as a way to handle date formatting... but it is pretty ugly and does not feel right. We can probably use `constraints.pattern` to achieve the same, and possibly document some patterns for common date formats.

[2016-05-11 10:38] roll commented on #260
`constraints.pattern` :+1:

[2016-05-13 08:48] rgrp commented on #260
@pwalsh hmmm - i am not sure this is in contraints - basic parsing and checking constraints seems to me different things and though we could use `constraints.pattern` it would be a bit of an abuse. What about:

[code]

i.e. we introduce `pattern` attribute and a `pattern` option for `format`.

[2016-05-19 09:09] rgrp opened #261 "[jts] clarify that boolean values are not case sensitive"
Someone asked where `TRUE` and `FALSE` were valid as well as `true` and `false`.

Answer is yes and we should add short clarification in docs.

[2016-05-19 09:24] rgrp commented on #150
I am just recording that I am hesitating a bit on this one. Looking at various parsers these do not seem to be very common options and add a fair amount of complexity to something implementing CSV DDF - it also seems to be extending beyond a pure dialect description to something about how the data is formatted.

My thoughts is that we might write this up as a pattern rather than something in the p

[2016-05-19 10:05] rgrp opened #262 "[jts] Remove `null` data type"
Not clear what `null` data type is for - when would you have a field that was *always* null and even if you did why not just set it as string and let it always be null.

[2016-05-19 10:22] akariv commented on #262
Agree. I think that `null` is in fact a value and not a datatype at all, no?

[2016-05-19 10:49] rgrp commented on #97
OK here is the proposed new text. @Stiivi @pwalsh @akariv @KrisKusano

[code]

[2016-05-19 10:52] pwalsh commented on #262
What was the reason we had it in the first place?

[2016-05-19 11:09] akariv commented on #97
@rgrp I think it's a little too complicated and still somewhat ambiguous.

First of all, it's important to state that the `missingValues` is only relevant in cases where `required==false` (as if the value is required, it can't be missing anyway).

Then we simply state that `missingValues` override what is considered to be a "missing value" in the context of the `required` constraint. See the langu

[2016-05-19 11:42] rgrp commented on #97
@akariv good feedback.

I should say i definitely think this is going in based on feedback so far - it is a common item.

Re the definition of: "An empty string is considered to be a missing value." in current def of required. That would be moved out and we'd reference `missingValue`.

[2016-05-19 11:47] rgrp commented on #262
@pwalsh I do not know ;-)

[2016-05-19 11:48] roll commented on #262
I had the same question - https://github.com/dataprotocols/dataprotocols/issues/257

[2016-05-19 12:00] rgrp commented on #156
Options:

* Introduce `categorical` type
* Use "enum" in constraint
  * categorical is both less and more than a constraint. Yes, it does require that the data is in the list but it can have labels as well as codes and my have an order.
* Foreign Key references to another table.
  * Seems a bit painful (you need a separate table) and requires the FK stuff.
* Ignore

My sense is that we do option o

[2016-05-19 12:10] #261 closed

[2016-05-19 12:10] #262 closed

[2016-05-19 12:23] akariv commented on #97
OK. I guess that as long as it's clear that `required` and `missingValues` are tightly coupled, it doesn't really matter who refers to whom.

[2016-05-20 19:20] djvanderlaan commented on #156
@rgrp What do you mean with option 1? Is that the introduction of a `categorical` type? If so, are you planning to store the categories in the datapackage?

I don't think it is necessary to introduce a separate type for categorical variables. In the CSV-file the data is stored as a `string`/`integer`. Applications that aren't able to handle categorical variables can still read and use the variable

[2016-05-20 20:26] rgrp opened #263 "[meta] Migrating dataprotocols.org to frictionlessdata.io and Open Knowledge Labs"
I want to propose the following evolution of the Data Protocols materials and effort:

* Migrate Frictionless Data / Data Package specs to be clearly part of the Frictionless Data project at specs.frictionlessdata.io
* All other Data Protocols specifications and materials to specs.okfnlabs.org

No material will be lost and we will continue the process just as before in the two separate locations.

[2016-05-23 11:39] danfowler commented on #263
One small consideration is whether Labs still uses the "brand" *Data Protocols*.

[2016-05-23 15:51] rgrp commented on #263
Heads up, that given +1s so far we'll likely start actioning some of this in the next few days.

[2016-05-24 13:53] danfowler commented on #263
PR for updating specs.okfnlabs.org: https://github.com/okfn/specs/pull/1

[2016-05-25 13:06] hubgit commented on #150
That's fair enough - I imagine it could be handled fairly easily by a client, outside of the CSV parser, by simply ignoring everything before or after the first empty row.

[2016-05-26 05:22] patcon commented on #216
Great discussion! Just wanted to chime in that I think this would be helpful for CSV columns as well :)

[2016-05-26 06:05] patcon opened #264 "Allow CSV resource schema to be string"
It seems that the base spec allows a resource's `schema` to be an object or a string, but the jsontable and tabular data spec insists that it be an object.

Would it be reasonable to allow this to be a string? It would help keep the individual resource objects small when there are many separate resources (ie different years) with the same columns.

http://data.okfn.org/tools/validate?url=https%3A%

[2016-05-27 17:29] Butterwell commented on #97
As part of the missingValues example I suggest including "\"\"", to highlight the otherwise confusing case where there is a explicit **,"",** rather than implicit **,,** empty string in the csv:

    "missingValue": ""
    "missingValue": "-"
    "missingValue": ["Nan", "-"]
    "missingValue": "\"\""

[2016-06-06 04:11] nyurik opened #265 "Tabular JSON format for Wikipedia collaboration"
Hi, I am currently developing a tabular data format for Wikipedia (ability to store tables of data on Wiki pages), and you might be interested in participating. Thanks!

https://phabricator.wikimedia.org/T134426

[2016-06-07 08:54] rgrp commented on #265
@nyurik great to hear about this. I would encourage taking a good look at:

JSON Table Schema: http://dataprotocols.org/json-table-schema/

I'd definitely recommend adopting that model for describing headers and types rather than rolling your own if you could.

In addition for the overall structure you could adopt the ["resource" part of a (Tabular) Data Package model][resource].

[resource]: http

[2016-06-07 10:49] rgrp opened #266 "[research] Listing "profile" like mini-standards"
* http://www.omgstandard.com/techspec.php - municipal geodata

### OMG Standard

Required Location Details

Unique ID - Identifies the location so you can update it later if needed. Example: "26", "342ax", "DJWU-339832-KS"
Name - Descriptive short title of the location/marker. Example: "Assault with a Weapon (2 counts)", "City Cafe - Rating B+", "John Doe Smith - Unregistered"
Address - Street add

[2016-06-07 19:35] nyurik commented on #265
@rgrp thanks, lets continue the discussion in https://phabricator.wikimedia.org/T134426.  Do you want to keep this issue open so that others may notice it?

[2016-06-08 06:00] pwalsh commented on #265
Hey @nyurik I'm working on the specs with @rgrp and I'll jump in on the other thread too. We'll leave this open for a while, sure.

[2016-06-08 06:10] pwalsh commented on #220
@rgrp as we now have #237 shall we close this issue?

[2016-06-08 09:48] rgrp commented on #220
DUPLICATE. Closing now in favour of the proposal and discussion in #237.

[2016-06-08 09:48] #220 closed

[2016-06-14 14:52] pmackay opened #267 "Broken link on json-table-schema page"
The `Web-Oriented Data Formats ` link (http://dataprotocols.org/data-formats/) in this section http://dataprotocols.org/json-table-schema/#appendix-related-work is broken.

[2016-06-19 07:45] Kkloss opened #268 "What's the relationship between dataprotocols and frictionlessdata.io, if any?"
I haven't spent too much time but it seems to be like dataprotocols and frictionlessdata.io are both trying to solve the same problem (define standards and tooling for working with open data). At first glance, I can't tell if there is any relationship between the projects but if there isn't one, can someone answer the following?

1) What are the differences between the two projects? When would I u

[2016-06-20 14:17] danfowler commented on #268
Hi @Kkloss, sorry for the confusion.  You are right in noticing that Data Protocols and Frictionless Data are trying to solve the same problem!  In fact, the specifications that make up our Frictionless Data project are currently being managed on the [Data Protocols repo](https://github.com/dataprotocols/dataprotocols).  However, not all of the Data Protocols specs count toward our vision for Fric

[2016-06-22 04:58] Kkloss commented on #268
Ahhh.....makes sense. It wasn't obvious at first glance and I missed the other issue, so I couldn't tell that they were related. But glad to hear you guys are working on cleaning things up.

Do you have an ETA on when this might be done?

[2016-06-23 17:14] rgrp commented on #268
DUPLICATE of #263

[2016-06-23 17:14] #268 closed

[2016-06-24 13:09] danfowler commented on #267
@pmackay thanks for spotting; will fix in the next update!

[2016-06-24 13:41] danfowler commented on #263
@paulfitz @pwalsh @jpmckinney @rgrp @jobarratt This is currently in progress.

[2016-06-27 12:30] #267 closed

[2016-07-01 15:22] danfowler commented on #164
This issue was moved to okfn/specs#3

[2016-07-01 15:22] #164 closed

[2016-07-01 15:32] danfowler commented on #149
This issue was moved to okfn/specs#4

[2016-07-01 15:32] #149 closed

[2016-07-01 15:35] danfowler commented on #111
This issue was moved to okfn/specs#5

[2016-07-01 15:35] #111 closed

[2016-07-01 15:38] danfowler commented on #98
This issue was moved to okfn/specs#6

[2016-07-01 15:38] #98 closed

[2016-07-05 23:30] danfowler commented on #263
@paulfitz @pwalsh @jpmckinney @rgrp @jobarratt I think we can close this.

[2016-07-05 23:30] #263 closed

[2016-07-09 07:30] ivotron commented on #250
For use cases where the data can't be fetched (e.g. too big), one would still like to retrieve a `datapackage.json` that has a URL pointing to where the data resides. Would this issue (merging `path` and `URL`) cover this use case?

[2016-07-10 04:59] pwalsh commented on #250
@ivotron yes, that issue is covered right now, and would not be removed by the proposal in this issue.

[2016-07-12 08:30] pwalsh commented on #264
@patcon a string, as in, the URL to a JSON Table Schema definition?

[2016-07-12 08:46] pwalsh commented on #260
@rgrp i see. It might be a bit confusing to have both `pattern` and `constraints.pattern` though?

@roll @vitorbaptista @akariv @amercader any thoughts?

[2016-07-12 08:48] pwalsh commented on #258
@rgrp so, are you suggesting that implementing code may do things like strip known currency symbols, or other string handing for patterns often found in data with monetary units, but we just leave it out of the spec entirely?

@akariv because we handle this, and other, cases with monetary units in OpenSpending, what do you think?

[2016-07-12 08:49] pwalsh commented on #255
Would this not be better ties to a views spec? `views` -> `transforms`?

[2016-07-12 08:51] roll commented on #260
Using `pattern` for both could be nifty move.. But also confusing?

[2016-07-12 08:53] pwalsh commented on #250
So @rgrp I'm in agreement with your points:

- Merge to path and allow it to be a full url (makes semantic sense: "path to the resource file")
- Deprecate url
- Require implementors to do some regex'ing to distinguish urls from relative paths

Additionally, [`cache`](https://github.com/frictionlessdata/specs/issues/243) should be implemented, and follow the same rules. (worth mentioning here for t

[2016-07-12 08:55] pwalsh commented on #247
I'm moving to close this issue:

- mirroring does not need to be an explicit part of the spec
- `cache`, when it lands, can be abused for a similar purpose
- implementors can add custom properties to solve the use case if needed.

[2016-07-12 08:56] pwalsh commented on #245
@danfowler could you please report here any findings

[2016-07-12 08:57] akariv commented on #260
We had the same issue with numeric values.
There we opted to have custom properties (`decimalChar` and `groupChar` iirc).
For the sake of consistency, we should do the same here and create a property called `dateFormat` (or similar) with the format string.

[2016-07-12 08:58] pwalsh commented on #243
@rgrp as mentioned in other issues, I'm partial to this being in the spec.

[2016-07-12 08:58] pwalsh commented on #242
@danfowler what do you think we can do to improve this?

[2016-07-12 09:00] pwalsh commented on #238
@rgrp and all

I'm into this idea of course, but I'd rather see how this plays out with a `views` spec. Happy to leave this open for a while though while views gets worked on.

[2016-07-12 09:01] akariv commented on #258
I pretty much agree with you both.

I think we should keep it in the spec but only as a 'hint' for the implementation with no other measures in the spec itself (e.g. implementation might decide to be more lenient when parsing 'currencies' and not 'defaults' when encountering non-numbers in the input)

[2016-07-12 09:03] roll commented on #260
But it will lead to `dateFormat`, `timeFormat` etc? For every type supporting currernt `fmt:`?

[2016-07-12 09:13] roll commented on #250
`tabulator` has just `path` for anything and `scheme` and `format` to explicitly describe path kind.

[2016-07-12 09:17] pwalsh commented on #237
@rgrp and all

I'd like to move to solving this asap - it comes up all the time, and the discussion here shows that a one size fits all approach will be hard to get consensus on, even though, in principle, we all want the same thing, being: a reliable way to uniquely identify a package.

My take on all of the above is:

### explicit part of spec

- `name` a must, not unique, human readable title (

[2016-07-12 09:22] pwalsh commented on #236
@rgrp what do you think about reinstating this?

[2016-07-12 09:27] pwalsh commented on #228
@rgrp

where should we take this now? With `path` and `url` becoming just `path`, overloading `path` to be an array of parts is still the simplest option to me.

[2016-07-12 09:27] pwalsh commented on #221
hey @brew would you mind doing a PR for this?

[2016-07-12 09:30] pwalsh commented on #216
@rgrp do you ant to move forward on this?

[2016-07-12 09:31] pwalsh commented on #213
Hi @rmhrisk are you still interested in this?

[2016-07-12 09:34] akariv commented on #260
@roll yes - you could call it `stringFormat` then it would be the same for all date/time types

[2016-07-12 09:34] pwalsh commented on #96
@rgrp is this relevant anymore? From the age and some of the points, I'm inclined to close as out of date.

[2016-07-12 09:35] pwalsh commented on #146
@rgrp I'm +1 on this.

[2016-07-12 09:36] pwalsh commented on #97
@rgrp do you want to make a PR on this?

[2016-07-12 09:38] pwalsh commented on #105
@rgrp @akariv @roll

What do you think about this? AFAIK, in OpenSpending right now we use an `integer` type for years, for example. this would be more explicit

[2016-07-12 09:40] pwalsh commented on #103
@rgrp I think by now, we've accepted (implicitly) that a data package can have any additional properties the creator desires. So, we either reconsider that explicitly, or close this as WONTFIX. WDYT?

[2016-07-12 09:41] pwalsh commented on #109
@rgrp interesting. wondering if there is a conversation to pickup here?

[2016-07-12 09:43] pwalsh commented on #113
@rgrp

interesting, this relates to some recent issues (`cache`).

Do you want to take on the documentation suggestion you made here, or, discuss them together?

[2016-07-12 09:49] pwalsh commented on #120
@rgrp I'm not sure this is worth keeping open? Or, perhaps this is potentially a concern for a DP registry, and not for the spec/package itself?

[2016-07-12 09:51] pwalsh commented on #121
@rgrp @roll @amercader @akariv

Thoughts on making hints for indexes explicit in the JSON Table Schema spec?

[2016-07-12 09:53] pwalsh commented on #129
I think this is now covered by `enum`.

For reference, https://github.com/frictionlessdata/specs/pull/191 https://github.com/frictionlessdata/specs/pull/179

[2016-07-12 09:53] #129 closed

[2016-07-12 09:54] pwalsh commented on #124
@rgrp can we move to close this?

[2016-07-12 09:54] pwalsh commented on #131
Sounds reasonable.

@rgrp WDYT?

[2016-07-12 09:56] pwalsh commented on #132
@mfenner are you still interested to work on a mini spec for this?

[2016-07-12 10:01] pwalsh commented on #137
@rgrp is this worth opening up again?

[2016-07-12 10:04] pwalsh commented on #138
This is nice but I'd rather see some actual use cases before even considering it. @rgrp for interesting issues like this, would you prefer we keep them open "indefinitely", or, to acknowledge that the idea lost momentum, close, and only reference or re-open if it comes up again?

[2016-07-12 10:05] pwalsh commented on #150
I'm suggesting we close this as a nice idea and WONTFIX: implementors can do it, but let's keep it out of the spec. @rgrp are you ok with that?

[2016-07-12 10:06] akariv commented on #105
I'm +1 for the suggestion.

[2016-07-12 10:11] akariv commented on #121
I agree that indexes are used for optimisation in a certain use case, and do not describe the data.

On the other hand, uniqueness does describe the data - and should be part of the constraints IMO.

I would possibly go with adding a new constraint (`uniqueWith`?) which would be defined on one field and would include names of other fields in the schema which, when combined, provide unique n-tuples

[2016-07-13 16:18] patcon commented on #264
No, sorry, a string as in a reference to a key in the "schemas" hash elsewhere in the json:
https://raw.githubusercontent.com/peel-datasets/land-tenure/master/datapackage.json

[2016-07-14 16:36] glarrain opened #270 "[jts] outdated JSON Table Schema definition (cross-repo bug report)"
(I reported this in https://github.com/dataprotocols/schemas/issues/48 but since it affects this repo too, I decided to cross-post it here as well)

While JSON Table Schema field type `duration`was added to the spec on Nov 19, 2015 @ 1.0.0-pre10 (see #210), it is not present in https://github.com/dataprotocols/schemas 's [json-table-schema.json](https://github.com/dataprotocols/schemas/blob/cdc10c

[2016-07-15 18:01] vitorbaptista commented on #250
Sorry if this was discussed before. We've agreed on removing the `base` path on https://github.com/frictionlessdata/specs/issues/232, however there are some relative paths being described here. How does the path resolution would work with this proposed change? Consider both the cases when a datapackage is remote (e.g. `http://somewhere.com/datapackage.json`) and local (e.g. `/home/vitor/data/datap

[2016-07-18 18:42] pwalsh commented on #250
@vitorbaptista I think, always relative to the directory that contains `datapackage.json` for local filepaths, and, remote resources should always be fully qualified URLs.

[2016-07-19 09:27] vitorbaptista commented on #250
So, imagine we have this `datapackage.json`:

[code]

If this datapackage is at http://example.org/datapackage.json, its resource would be at http://example.org/data/foo.csv. If it's in /home/vitor/foo/datapackage.json, the resource would be at /home/vitor/foo/data/foo.csv. All good. Now, consider this other datapackage:

[code]

This resource then doesn't depend on the path for the datapackage it

[2016-07-19 09:29] pwalsh commented on #250
@vitorbaptista those examples are correct as I understand it, but still:

    If those examples are correct, we will always have to download the resources from their URLs, even if the datapackage is inside a ZIP file.

Not quite sure what you are getting it here.

[2016-07-19 11:38] rgrp commented on #250
@pwalsh relative paths work for remote urls too - that's really important. In both cases you'd compute relative to the datapackage.json base directory.

@vitorbaptista your examples are correct and 👍  to @pwalsh comment.

Note: I'm really thinking explaining this stuff will go in the patterns or FAQs section on the fd.io site (we could add to the spec but it gets kind of bulky).

[2016-07-19 11:44] rgrp commented on #270
DUPLICATE. First big thank-you for posting @glarrain.

I'm going to close here as DUPLICATE of the schemas issue you have raised and focus on the fix there - but good to cross-post so we are aware.

[2016-07-19 11:44] #270 closed

[2016-07-19 14:52] vitorbaptista commented on #250
@pwalsh Consider the second example:

[code]

Also consider that we have the files in the local filesystem:

[code]

Then I open `python` and try to load this, as such:

[code]

Where should `datapackage.DataPackage` look for the datapackage's resources?

Going through its `resources` array, it'll only find `{ "path": "http://example.org/bar/data/bar.csv" }`. As far as I can see, there's no (easy)

[2016-07-19 17:28] rgrp commented on #250
@vitorbaptista it should load the value of path which is the url.

[2016-07-19 17:49] vitorbaptista commented on #250
@rgrp So if a `datapackage.json` has a resource with a full URL in its `path`, the resource should always be downloaded from the Internet, even if we have the data locally, right?

Sounds fine to me, just making sure this was the intended behaviour.

[2016-07-19 18:07] rgrp commented on #250
@vitorbaptista yes.

[2016-07-19 18:08] rgrp commented on #264
JTS would always be an object because it is a spec which defines that object.

Tabular Data Package should inherit Data Package but the "target" of schema must always be a JTS - either "inline" (the default) or via any of the Data Package reference routes.

[2016-07-28 00:51] danfowler commented on #264
@pwalsh @rgrp

The Data Package spec defines that the `schema` on a resource can be one of three things: (a) a string which is a URL pointer to a schema* (b) a string which is a reference to a schema defined in a `schemas` object in the same `datapackage.json` (as in the above example) or (c) an "inline" schema object like JSON Table Schema (what we typically expect).

  http://specs.frictionlessd

[2016-07-28 06:25] pwalsh commented on #264
@danfowler yes, thanks.

@rgrp I think we should remove, at least for V1, the various options for setting a `schema`. It is too flexible. I'd prefer something simple and explicit: `schema` property on a resource can be an object (the schema) or a url (to a schema object as json).

[2016-07-28 15:09] icklecows commented on #237
+1 Using DOIs as the identifier - we already create this globally unique identifier, and using UUID would require additional development as it's not already in use in our system.

Whatever is decided, name is very awkward for us - any identifier is better as a necessity than name.

[2016-07-28 21:42] rgieseke commented on #216
Would that look something like the following?

[code]
[…]

[2016-08-02 15:17] danfowler opened #273 "Host Fiscal Data Package at specs.frictionlessdata.io"
http://fiscal.dataprotocols.org/

- [ ] ~~FDP spec issues are merged with general spec issues (and tagged as FDP)~~
- [ ] FDP spec becomes directory within frictionlessdata/specs repo (/fiscal-data-package/)
- [ ] Preserve FDP examples directory and expand to include (Tabular) Data Package examples
- [ ] Redirect http://fiscal.dataprotocols.org/ -> http://specs.frictionlessdata.io/fiscal-data-pack

[2016-08-02 16:19] danfowler opened #274 "GitHub URL for Data Package should resolve to raw datapackage.json"
[Data Package Identifier spec](http://specs.frictionlessdata.io/data-package-identifier/) suggests this resolution:

| GitHub URL |  Resolves to |
|---|---|
| http://github.com/datasets/gold-prices | https://github.com/datasets/gold-prices/blob/master/datapackage.json |

But this is not the actual raw JSON URL.  Rather, the resolution should work like this:

| GitHub URL |  Resolves to |
|---|---|

[2016-08-03 08:49] rgrp commented on #274
@danfowler do you want to patch this (and also sort out the formatting in the bottom section of this spec!)?

[2016-08-03 15:49] rgrp commented on #264
@pwalsh if you want to change the current definition of `schema` property let's open a new issue and debate. I know that the functionality it offers is pretty valuable to some people - at same time it does add complexity ...

@danfowler for now we definitely should correct so that TDP simply says target of schema property must be a JTS. Can you do a PR for this?

[2016-08-03 20:59] danfowler commented on #274
Happy to!

[2016-08-04 17:04] danfowler opened #275 "Remove JTS Transmission spec"

[2016-08-05 07:29] rgrp commented on #275
Agreed. Suggest we move content as markdown to okfnlabs specs issue tracker there for discussion (rather than just deleted).

[2016-08-05 07:32] rgrp commented on #273
Should we have a "profiles" section here on fd.io site? FD.io might be better ... /cc @pwalsh

[2016-08-05 07:33] rgrp commented on #131
@sabas i am not sure what the exact requirement is here. Also can we include linear TSV within the CSV Dialects or not? If we could then it is already included ...

[2016-08-05 07:41] sabas commented on #131
Reading again the spec
http://specs.frictionlessdata.io/tabular-data-package/#csv-files
I see that refers the CSVDDF spec for cases when the comma isn't used, so probably it is already dealt in the current spec...

[2016-08-05 08:13] pwalsh commented on #273
I think fiscal data package should be on FD.io like the others. I see no point in linking to it on the current location.

[2016-08-05 09:31] roll commented on #250
`format` field is already available so what about `scheme` field? Sometimes there could be a need to set a scheme explicitly. And implementations could be able to pass this `path,format,scheme` as it is to tabulator.

[2016-08-05 20:05] wfdd opened #276 "Accepted formats of data-package resource schemas"
I've been trialling distributing my [Cypriot-parliament dataset](https://github.com/openpatata/openpatata-data/tree/export) as part of a data package and hit a bit of a snag when the Python data-package library assumed the input was tabular and attempted to validate my JSON Schema as a JSON Table Schema.

This had me doubting whether nested data structures are supported and I turned to the spec.

[2016-08-05 21:18] danfowler commented on #273
Cool.  We move the Fiscal Data Package spec to specs.frictionlessdata.io/fiscal-data-package/ linked from the main page under "profiles" section.

- [ ] FDP spec becomes directory within frictionlessdata/specs repo
- [ ] FDP spec issues are merged with general spec issues (and tagged as FDP)
- [ ] Announcement made on OpenSpending channels
- [ ] Preserve FDP examples directory and expand to includ

[2016-08-06 19:18] roll commented on #137
Sounds as a real over-complication for the spec implementations.

[2016-08-06 19:20] roll commented on #146
:+1:

[2016-08-06 19:26] roll commented on #154
I don't think it should be a part of the core dp spec. It really depends on implementations and for some supporting something like this could be used custom fields.

[2016-08-06 19:45] roll commented on #236
also related to https://github.com/frictionlessdata/specs/issues/146

[2016-08-06 19:54] roll commented on #242
Agreed with @danfowler - it's confusing.

[2016-08-06 20:19] roll commented on #243
I'm a little bit confused of this proposal. Consider data package:

[code]

What an implementation should do on a concrete user machine after `dp = DataPackage('http://example.com/datapackage.py')`? I'm not sure how this cache_path could help handling caching. If it's an implementation decision how to provide caching then just `cacheable` flag on dp/resource level will be enough.

---

Also I'm no

[2016-08-08 17:14] roll opened #277 "How to represent a long integer in json-table-schema?"
@pmackay commented on 17 Jun:

[2016-08-09 03:04] Hypercubed commented on #260
IMO, if I understand this issue correctly, it would be nice to `format` and `pattern` in the properties in the fields.  Then it would be easy to then to treat `format: "fmt:%Y"` as an alias for:

[code]

[2016-08-09 08:34] rgrp commented on #216
@rgieseke yes - that is correct. Your `unitSystem` is an addition by you I assume? And is `unit` a reference to the dataprotocols units spect or a different one?

[2016-08-09 08:34] rgrp commented on #216
@pwalsh next steps here would be:

- Deciding what exactly to add. e.g. `factor` and `units
- Deciding where to add it - I'm thinking this is more of a pattern or extension rather than core ...

[2016-08-09 08:45] rgrp commented on #260
@Hypercubed good suggestion.

@pwalsh I'd like to make a choice here soon. I think I'm a definite -1 (or, at least, -0) on overloading `constraints.pattern` - i want to keep validation and parsing separate conceptually and practically.

This basically leaves us with this as the proposal:

[code]

We could rename `pattern` to `stringFormat` if we wanted (and easy on that one if anyone has views).

[2016-08-09 08:48] rgrp commented on #277
@pmackay / @roll what is the use case for representing a long integer? Is this in exactly serializing from e.g. SQL or in some other situation?

I ask because I have various thoughts here.

- One obvious option is to add long integer (and a miscellany of other types) to the JTS type list. I'm -0 to -1 on this because we lose a lot of simplicity and there's always another type we have not thought o

[2016-08-09 09:03] rgrp commented on #247
WONTFIX / DUPLICATE. Closing as per above discussion. Think we can cover some of this with caching in #243 and general case is a bit too general (benefits are not outweighed by costs of additional complexity in spec).

[2016-08-09 09:03] #247 closed

[2016-08-09 09:04] rgrp commented on #221
INVALID. I'm closing as invalid as i think this is more of a comment in a "guide for implementors" than something in the spec. Happy to have it re-opened or get a PR if folks feel differently.

[2016-08-09 09:04] #221 closed

[2016-08-09 09:09] rgrp commented on #250
OK, I think this is ready to go in. It is a breaking change so I think I will need to add an actual warning to the spec mentioning that to support data packages created under earlier version of the spec implementors should convert url to path.

Welcome final +1 / -1 as this is a significant change (please put these as explicit comments rather than emoticons on this comment!)

/cc @pwalsh @paulfitz

[2016-08-09 09:15] akariv commented on #260
Re the aside: I would say that quarter / month / year are actually
different types (along with time and date), as they refer to different time
resolutions than date (which basically points to a single calendar day).

On Tue, 9 Aug 2016 at 11:45 Rufus Pollock <notifications@github.com> wrote:

[2016-08-09 09:16] rgieseke commented on #216
@rgrp Yes, sorry I mis-remembered `units` and `unitsSemantic`. Why would it be `units` as plural though?

[2016-08-09 09:38] rgrp commented on #276
@wfdd could you post a link to your `datapackage.json`so I can take a look. A schema does *not* have to be JSON Table Schema - JTS is required only if the data package is a tabular data package.

[2016-08-09 09:39] akariv commented on #250
Sorry for joining this discussion so late, but I seem to be missing something. I realise that this PR is the result of very long discussions in various threads - but when trying to compare the proposed change vs. the current state, I get this:

In the current state, we have:
 - `url` - absolute path to resource
 - `path` - relative path to resource
(only one of these attributes can appear)

In the

[2016-08-09 09:46] wfdd commented on #276
[Here](https://github.com/openpatata/openpatata-data/tree/export-test) you are.

[2016-08-09 09:51] rgrp commented on #276
@wfdd any chance you can get that pretty printed ;-)

[2016-08-09 09:57] roll commented on #250
Do we handle `cache` in this proposal?

[2016-08-09 10:09] wfdd commented on #276
yep, done.

[2016-08-09 10:12] akariv commented on #250
Not in this specific change, but based on @pwalsh 's comment I understand
that this is the final intention.

On Tue, 9 Aug 2016 at 12:58 roll <notifications@github.com> wrote:

[2016-08-09 10:41] rgrp commented on #113
DUPLICATE / INVALID. I've moved this to https://discuss.okfn.org/t/emerging-patterns-workflows-for-data-packages-2014/3398 as this is for discussion not a specific spec item.

@pwalsh not sure re the doc question you raised but can chat about this.

[2016-08-09 10:41] #113 closed

[2016-08-09 10:43] rgrp commented on #154
INVALID / WONTFIX. Closing as inactive for some time and no specific action. @samperd if you do have an update on what happened at your end we'd be keen to hear.

[2016-08-09 10:43] #154 closed

[2016-08-09 10:48] rgrp commented on #146
@jpmckinney @pwalsh I'm -1 on this because of hassle in actual implementation. I can usually recommend a license ID especially if simple e.g. ODC-PDDL or CC-BY[-3.0] etc. cf here approach in node where there is a conventional list of license ids.

I get this does add complexity for consumers / processors so it is a trade-off. My instinct for the present is wontfix but it is something we could revi

[2016-08-09 10:49] rgrp commented on #105
I just made a similar comment in #260 - i note that in the xsd spec you have gYear, gYearMonth.

[2016-08-09 10:51] rgrp commented on #131
INVALID / FIXED. (Probably already supported).

[2016-08-09 10:51] #131 closed

[2016-08-09 10:57] roll commented on #250
So may be we should to handle this both (path/url and cache) as one change to provide a complete solution? As @akariv has suggested.

[2016-08-09 11:01] roll commented on #243
Also really related to https://github.com/frictionlessdata/specs/issues/250
And I suppose it's important to resolve this both as soon as possible because it affects implementations.

[2016-08-09 11:26] roll opened #278 "Links to headers"
The specs website lacks an ability to create a link to the header:
http://specs.frictionlessdata.io/data-packages/ (only using table of contents).

I suppose it's important for spec/docs documents because people need to link concrete paragraphs.

Example:
https://docs.djangoproject.com/en/1.10/#first-steps
![spec](https://cloud.githubusercontent.com/assets/557395/17514824/83900db0-5e3d-11e6-8d77-4

[2016-08-09 13:38] jpmckinney commented on #146
Hmm, but we can't code-list all possible licenses. Node can do it because there are only so many reusable open source licenses. With open data, for instance, there are many, many jurisdiction-specific licenses. I don't see why we would want to take on responsibility for adding a code for each of them - and early enough that people don't just invent their own.

[2016-08-09 14:12] rgrp commented on #150
WONTFIX. As per above discussion.

[2016-08-09 14:12] #150 closed

[2016-08-09 14:17] rgrp commented on #276
OK, I am now clear. To answer your question:

- Having a JSON schema as the value of the schema key in a Data Package resource **is** entirely valid (and exactly the kind of use we should see)
- If Data Package validator is throwing an error on this, that is a bug we should address (a bug probably caused by assuming the schema is JTS by default).
- Adding support for the schema being JSON schema s

[2016-08-09 14:21] rgrp commented on #250
@akariv whilst it is conceptually simpler for the "experts", for many users there is confusion about which of the two to use and when to use them (or whether both can be used at once - see the issues referenced in the description). Also people get confused whether to use `path` or `url` for stuff online, or whether they can use `url` offline. Having one value I hope will reduce this confusion a bi

[2016-08-09 14:25] rgrp commented on #137
WONTFIX. Closing as wontfix for now.

I think that:

* This is perhaps more a part of the work on a "compression" model for data packages #132.
* Generally: I echo some of @Stiivi concerns re complexity.
* Probably a "pattern / FAQ": I can see the use case but think this is best as a "pattern" proposal for now. I'm marking it as a pattern of FAQ and though closing think this should be migrated to

[2016-08-09 14:25] #137 closed

[2016-08-09 14:27] rgrp commented on #273
@danfowler @pwalsh who is assigned on this? I'll let you decide that one :-)

[2016-08-09 14:29] rgrp commented on #105
Updated this issue description to be specifically about gYear and gYearMonth

[2016-08-09 14:30] rgrp commented on #124
FIXED. I've moved the two points from @jpmckinney re gYear and gYearMonth to https://github.com/frictionlessdata/specs/issues/105

[2016-08-09 14:30] #124 closed

[2016-08-09 14:35] wfdd commented on #276
But then what if we actually wanted to validate the resource?  How do we know when to use JTS or JSchema?  Should it be done implicitly, i.e. by testing whether it validates either as JTS or JS, or should the _type_ of schema be included among the metadata?

[2016-08-09 14:55] pwalsh commented on #276
@rgrp @wfdd

So:

1. Data Package format does not specify schema this way or that
2. [Tabular Data Package](http://specs.frictionlessdata.io/tabular-data-package/) specifies schema as JSON Table Schema

In the absence of a `profile` property, I agree that your datapackage, @wfdd , should be parsed as a plain Data Package, and not as a Tabular Data Package. However, it looks like the Python lib det

[2016-08-09 15:02] roll commented on #276
Also think we need to mark it as a bug.

But I have other question which was bothering me lately - we have data package and tabular data package (with some very strong rules to match) but there is nothing about tabular resource concept.

[2016-08-09 17:37] wfdd commented on #276
@pwalsh

Does such a property exist?  Ctrl-F brings up nothing in the spec.

[2016-08-09 18:08] pwalsh commented on #276
@wfdd not in the spec, but extensively discussed: https://github.com/frictionlessdata/specs/search?q=profile&type=Issues&utf8=✓

[2016-08-09 18:46] danfowler commented on #278
Header ids are automatically generated by the Markdown processor (e.g. http://specs.frictionlessdata.io/data-packages/#recommended-fields)

We can add something like the below js to linkify those headings based on those ids:

[code]

Source: https://github.com/jekyll/jekyll/issues/2690#issuecomment-153697263

[2016-08-09 18:59] glarrain opened #279 "JSON Table Schema: default value of field constraint `required`?"
In JTS, field constraint `required` is optional:

However, it is not explicit what to assume if that constraint declaration is not present. If it was just a keyword, perhaps it would be safe to assume that when present, consider that a value is required for every row, and if not, the it is not required. But that is not the case since it may be set to true or false.

[2016-08-09 20:41] roll commented on #278
@danfowler
Or it could something like anchor-js - http://bryanbraun.github.io/anchorjs/

[2016-08-09 20:42] wfdd commented on #276
Okay, so that hasn't landed yet.  Wouldn't treating anything without a `profile` as an unseasoned data package be pretty majorly backwards-incompatible?  What happens when 2+ 'resources' can consume the same format and no `profile`'s been specified?  An array of objects in JSON or YAML could conceivably be interpreted as a tabular resource, for instance; a CSV could contain JSON values.  Does it e

[2016-08-10 08:39] rgrp commented on #276
@roll please open a separate issue about "resource" being a separate spec (if you feel it is justified) - that is essentially what you are asking about (and it is something i have thought about).

@wfdd please comment on this in the main profile issue #87 - i'm going to close this issue as the question is resolved here :-)

[2016-08-10 08:39] rgrp commented on #276
INVALID. Nothing to fix here! Move along now.

[2016-08-10 08:39] #276 closed

[2016-08-10 21:19] danfowler commented on #278
Yes let's do that.

[2016-08-11 08:17] roll commented on #279
Hi @glarrain!

- default behavior is when there is no explicitly specified constraint -> field is not required
- user could specify constraint `required` explicitly with value `False` -> field is not required
- user could specify constraint `required` explicitly with value `True` -> field is required

[2016-08-11 11:13] roll opened #280 "Make field names unique for JSON Table Schema?"
Spec says:

For example for implementations it just breaks an ability to return data as keyed rows. Because if there could be two fields with the same name implementation behavior is just undefined.

PS.
Current `datapackage-py` (Python implementation) e.g. returns keyed rows just I suppose ignoring this situation in the specification.

[2016-08-11 11:58] pwalsh commented on #280
+10000

[2016-08-11 13:03] rgrp commented on #280
@pwalsh @roll so the question is what happens if you have data with this? If you enforce this you either:

- Require that all source CSV files have columns with unique names (plenty of violations in the wild)
- Require some way to connect the field to the original column and/or generate field names in obvious way when you do e.g. JTS generation (obviously we have ordering of the fields so you coul

[2016-08-11 13:06] rgrp commented on #279
INVALID. Closing - this was a clarifying question that has been answered rather than an issue or suggestion for the spec. Adding faq label as maybe something for an FAQ.

[2016-08-11 13:06] #279 closed

[2016-08-11 13:08] rgrp commented on #146
@jpmckinney but we have only so many open licenses - and we do have https://github.com/okfn/licenses. So I think it is ok for this - it makes it easier for *quite* a few cases whilst allowing url in general (my guess is most open data is covered under a fairly few licenses).

Also what do we think about allowing license to be a url as well as an id?

[2016-08-11 13:09] rgrp commented on #243
OK, the blocker here will be someone drafting some specific suggested language. I'm +1 on having this - either in core spec or an extension. Language should be drafted as markdown and posted here in a comment or in a gist.

[2016-08-11 13:10] rgrp commented on #216
@rgieseke `units` was a typo which I have corrected - should be `unit`.

[2016-08-11 13:12] rgrp commented on #242
Without specific language suggestion from @roll or @danfowler I am going to close this (and we can re-open). I get that some people have confusion but I'm a bit stumped on better language and this seems minor (that would be helped by some clear examples ...).

[2016-08-11 13:14] rgrp commented on #236
@pwalsh yes agreed on reinstating. Need to action this now.

[2016-08-11 13:30] rgrp commented on #97
@Butterwell just to check - would not "" in a CSV become the simple empty string after parsing?   I guess that raises a question of when you apply the missing value test (after or before parsing the source file). In general, I imagine these tests being applied *after* loading from source file into whatever language or system you are using.

(I note that in the sample text I talk about comparison b

[2016-08-11 13:33] rgrp commented on #138
WONTFIX - certainly for now. Closing as per @pwalsh. If anything, this is more of an FAQ discussion at present IMO.

[2016-08-11 13:33] #138 closed

[2016-08-11 13:37] roll commented on #280
So if price for `require that all source CSV files must have columns with unique names to be described by valid JSON Table schema` is to big we can do anything here..

[2016-08-11 13:42] rgrp commented on #120
INVALID. Musing not an issue.

[2016-08-11 13:42] #120 closed

[2016-08-11 13:44] rgrp commented on #103
@pwalsh i think the point here is thinking about if there is any best practice way to indicate extensions and how we manage conflict over namespaces ...

The issue is I'm not sure of exact way forward. I am inclining to wontfix but I'd be interested in any thoughts from @Stiivi (or anyone else) on best practice here and best way forward.

[2016-08-11 13:47] #97 closed

[2016-08-11 14:33] rgrp commented on #255
@pwalsh not sure what you mean exactly. Transforms are independent of views though commonly used with them ...

[2016-08-11 14:34] rgrp commented on #275
@danfowler are you happy to action this one?

[2016-08-11 14:34] rgrp commented on #238
WONTFIX. I'm going to close as wontfix for now and we can re-open if there is interest / need.

[2016-08-11 14:42] jpmckinney commented on #146
@rgrp Just in Canada, I've collected 35 unique, jurisdiction-specific open data licenses, and only two are in that repository.

I don't see what's special about a short ID (a canonical URL is just a long ID). Anyway, let's at least allow URL values.

[2016-08-11 15:18] pwalsh commented on #243
@roll `cache` can be local path or url, just like `path`, so `path` and `local_path` are not an option.

[2016-08-11 15:19] pwalsh commented on #243
@rgrp I'm away for 2 weeks, but yes it would be great to have a draft. Also, I'm +1 on have `cache` as an optional property in the core spec, not as an extension.

[2016-08-11 15:23] rgrp commented on #258
@pwalsh i was saying that there was a lot of stuff undefined at present and given the level of ambiguity this creates I suggest removing this from the spec entirely until we have a proper approach (perhaps related to units effort).

[2016-08-11 15:23] rgrp commented on #96
INVALID. Now out of date / obsolete.

[2016-08-11 15:23] #96 closed

[2016-08-11 15:25] rgrp commented on #280
@roll could you elaborate? Are you answering that question or posing it? The point I was raising was: are we willing to impose this sort of requirement on users? I include to "no" but I'm not sure and I'm less clear on the benefit to implementors such as yourself. One option is to make this a SHOULD and for tools to throw an error if they see a schema with fields with duplicate names.

[2016-08-11 15:29] rgrp commented on #228
OK I will start a WIP on a draft text - thoughts welcome

[code]

[2016-08-11 15:39] roll commented on #243
@pwalsh
if 'cache` is url - what should it mean for implementations?

+1 for core spec

[2016-08-11 15:47] pwalsh commented on #243
@roll some of the info is lost as it is spread out over other issues (eg: https://github.com/frictionlessdata/specs/issues/223#issuecomment-177813753 ).

However, bottom line is:

- datapackages can have resources on remote servers. remote servers, or the resources themselves, can disappear.
- to deal with the case where a remote resource much disappear, some system much keep a copy. how, or what

[2016-08-11 19:12] Butterwell commented on #97
Sure. After parsing. And so the onus is on the source implementation to parse ,"", and ,, separately if that is information that needs to be preserved. In that case I was suggesting, make ,"", be "\"\"" and ,, be "", but there is no particular reason for that to be the encoding at parse time.

[2016-08-11 19:13] roll commented on #280
@rgrp
I've meant if it's real important to describe this "bad" csv files using JTS than we can't require field names to be unique. So for implementations to have it unique is better but it's not a thing making implementations impossible of course.

[2016-08-13 01:14] Stiivi commented on #103
Best practice is to keep the standard structure strictly non-polluted and to have a designated place/property to store all extensions in without any restrictions. Let it evolve, observe and potentially include in the standards. If others fight over a namespace in the "extensions" space, then it is their problem, not standard's problem, they should be aware of it and should resolve it. That space i

[2016-08-15 19:04] steko opened #281 "Support for observational error measurements in data"
Hey all, based on a discussion with @danfowler I'm submitting this proposal to add support for observational error measurements in data, a rather common occurrence in scientific datasets. I can't draft a full spec at the moment but I hope others will chime in with comments from their specific experience. Examples below are archaeology-based.

While the idea came out in the context of data packages

[2016-08-17 14:43] djvanderlaan commented on #281
I am working mainly with statistical output tables (unemployment figures an such) where we sometimes also have the uncertainty. However, most often this is specified using a lower and upper bound of the confidence interval. We currently code this in the variable names (e.g. "measurement_lb" and "measurement_ub") and it has been on our todo list for a while to encode this in the meta data. So +1.

[2016-08-18 12:06] danfowler commented on #264
@rgrp can do

[2016-08-18 12:10] danfowler commented on #264
@rgrp Actually, TDP is pretty clear throughout that the schema should be JTS.

[2016-08-18 17:37] danfowler commented on #275
Actioned

[2016-08-19 08:08] #278 closed

[2016-08-19 08:21] danfowler opened #284 "Re-add drop-down menu for specs"

[2016-08-19 09:44] danfowler commented on #278
This is done.

[2016-08-19 16:33] #275 closed

[2016-08-19 17:43] danfowler commented on #284
Closed in https://github.com/frictionlessdata/specs/commit/45d9fcdaf943f47e04ebc1ab1246d72d41705156

[2016-08-19 17:43] #284 closed

[2016-08-22 06:40] rgrp commented on #264
@danfowler right but the point was to emphasize that although the schema property target must be JTS that target can either be inline or "out of line" as per parent Data Package spec.

[2016-08-22 06:42] rgrp commented on #281
@steko @djvanderlaan i think this is a perfect candidate for a "pattern" proposal. A pattern is something that would offer a suggestion of how to solve a particular problem - in this case linking error information to main measurement - without being a formal spec.

[2016-09-01 16:56] danfowler commented on #273
@rgrp @pwalsh currently doing/planning

[2016-09-05 15:55] #274 closed

[2016-09-06 03:06] rgbkrk opened #289 "Mimetype for JSON Table Schema"
What would the media type for the JSON Table Schema be? Example:

[code]

Maybe something shorter like:

[code]

[2016-09-07 04:55] danfowler commented on #245
Here's our form: http://www.iana.org/form/media-types

Also relevant to: https://github.com/frictionlessdata/specs/issues/289

[2016-09-11 06:35] rufuspollock opened #290 "Compressed resources"
Idea: describe resource compression. This would allow compression to be "ignored" in describing format and e.g. allow a tabular data package to include compressed CSV not just plain CSV.

Why? In much data management especially with larger dataset compressions is important for economies of storage and transmission. At the moment, data file compression is not explicitly supported by the specificati

[2016-09-11 06:54] rgrp opened #291 "Research: Arvo format"
http://avro.apache.org/docs/current/

Not that similar: focused on optimizations especially designed for HDFS (e.g. block size).

## Schema

## Types

https://avro.apache.org/docs/1.8.1/trevni/spec.html

[code]

[2016-09-11 07:37] rufuspollock opened #292 "Yaml as well as JSON for Data Package descriptor files"
Idea: allow data package descriptor files to be in yaml as well as json.

Why: yaml is easier to create and read for ordinary people. JSON is easy to get wrong.

Why not: adds complexity for all implementors of tools as they need and additional format.

I'm creating this for discussion. Very tentative idea atm.

Subissues:
- https://github.com/frictionlessdata/specs/issues/663

[2016-09-11 08:52] pwalsh commented on #292
I'm neutral on this.

We programmers like to think TAML is easier for ordinary folk, but in my experience the importance of whitespace in YAML is actually a killer for ordinary folk - it is just a different type of problem to that of JSON.

However, I personally think YAML is a fine format, and supporting it as a first class citizen *seems* a reasonable choice, except in the browser where adding a

[2016-09-11 09:29] Hypercubed opened #293 "Add a `$schema` key, or similar, to Table Schema so it is machine identifiable"
This will help distinguish JSON Table Schemas from other types of JSON schema files.

See [The "$schema" keyword](http://json-schema.org/latest/json-schema-core.html#anchor22)

[2016-09-11 09:38] Hypercubed opened #294 "Consider adding a key to distinguish resource types to Data Package specification"
According to the Data Package specification, it "does NOT impose any requirements on their form or structure and can therefore be used for packaging any kind of data." [source](http://specs.frictionlessdata.io/data-packages/#specification).  For arbitrary non-tabular data the JSON Schema maybe the best choice for validation.  However, the Tabular Data Package spec, a subset of the Data Package spe

[2016-09-11 17:17] roll commented on #294
For libraries are a real problem that there is no clear indication for tabular resources. Let's say tabular resource must have schema attribute which is jts schema (here needed #293) or attribut tabular: true.

[2016-09-12 00:07] Hypercubed commented on #294
I guess the flow right now is:

If the resource has a schema, and that schema does not have a $schema key, then tabular data and JSON Table Schema are assumed.

Resonable assumptions, but strange to define an object by what it is not.

[2016-09-12 02:08] Hypercubed opened #295 "Consider support for JSON References"
As discussed in #293 we should consider adding a `$schema` tag to the JSON Table Schema spec to distinguish between JSON Schema and JSON Table Schemas.  Subsequently, I suggest that the Data Package spec support specifying JSON Schemas for arbitrary data.  To do this I believe the Data Package spec should include support for [JSON References](http://json-schema.org/latest/json-schema-core.html#anc

[2016-09-12 07:33] roll commented on #294
@Hypercubed
There is no rule that `schema` should be JSON Schema so checking for missing `$schema` will not work.

[2016-09-12 08:17] Hypercubed commented on #294
@roll Good point.  More the reason this and #293 should be considered.

[2016-09-14 09:56] roll opened #296 "Should maximum/minimum have the same fmt/pattern?"
I suppose it's correct:

[code]

And it's not correct:

[code]

Should be clarified in spec (which one is correct).

For implementations the same format for both is much more preferable way (because minimum/maximum could be cast using the same approach as value). And for now python version acts based on snippet #1 workflow.

[2016-09-16 06:58] rgrp commented on #293
@Hypercubed good point. In the basic case how does one tell whether the `schema` value is a JTS or a simple JSON schema.

As discussed on chat one option is to look to the profile. However, that might not help where you have resources of different kinds in the same package.

We've thought for a while that the profile registry might include a registry both of DP profiles and Schema profiles (includ

[2016-09-20 09:13] roll opened #297 "Are primary and foreign keys on the right level of abstraction?"
# Overview

For now primary and foreign keys are part of JSON Table Schema spec. There is strong reasoning why I suppose - like self-referencing, ability to create just one csv file with FK to "somewhere" etc. May be just easier to put it here.

But for implementations honestly it really badly breaks normal situation with level of abstractions. For example to follow this spec perfect JTS lib shoul

[2016-09-20 09:36] sirex commented on #297
I like current [JTS Foreign Keys specification](http://specs.frictionlessdata.io/json-table-schema/#foreign-keys) and I would expect foreign keys to be part of a resource or table definition. It looks logical.

Regarding implementation, I think, libraries that work on single resource level, should ignore foreign keys, because they reference other resources and that is out of library scope.

But hi

[2016-09-20 09:41] roll commented on #297
@sirex
But you say almost the same what I've said - we have a situation when we ignore it on table level (Stream->Table->Resource->Datapackage) and use it on resource level. So why it's attribute of table not resource?

[2016-09-20 09:42] pwalsh commented on #297
I think it is critical to the spec: PK and FK are critical to the context of a **table**.

[2016-09-20 09:47] roll commented on #297
@pwalsh
Table or resource? For example we have just one csv file with defined FK. It's like to have one SQL table without a database as a context.

[2016-09-20 09:53] pwalsh commented on #297
@roll honestly, I'm not sold on there being a practical distinction between `Table` and `Resource`, for our needs.

[2016-09-20 10:24] roll commented on #297
@pwalsh
On the last iteration of work on python libraries I've found that this distinction like a key to solve some problems that was like unsolvable without this abstraction:

[code]

For example resources have names but tables (atomic csv files) just can't have names (not filenames of course=) because there is no namespace for it.

As example:

[code]

Extracting resource2 JTS (we want to descri

[2016-09-20 10:39] sirex commented on #297
@roll I see resource and table to be the same thing and my idea, to do the separation in the implementation not in specification, by just ignoring `foreignKeys` for jts level libraries.

Since resource can be anything, not just tabular data, then `foreignKeys` will not make sense for other resource types except tabular data.

Also, there is possibility to have schema outside of resource:

[code]

[2016-09-20 10:50] roll commented on #297
@sirex
You're right that it's tied to schema. But when your lower level things depends on higher-level things (jts has reference to dp) it's also a bad thing. Seems no perfect solution here. In SQL spec everything OK related to this problem because there is no separate specification for table.

[2016-09-20 10:53] sirex commented on #297
@roll, in that case, maybe foreign keys should point to jts schemas, no to data packages?

[2016-09-20 10:54] pwalsh commented on #297
well, JTS lib doesn't need to depend on DP lib.

JTS lib just needs "something" to tell it the table/resource that is being referenced.

If it has a defined API for this, then DP just needs to *follow* that API, but it does not mean that JTS lib *depends* on the DP lib.

[2016-09-20 10:59] roll commented on #297
@sirex
What do you mean? My main point about difference between table and resource (aside it's too different specs) that resource has name but table hasn't. So we could reference only resources in datapackage context.

@pwalsh
So should it be somehow explained in specification? Like without datapackage context this, this and this will be completely ignored? For now it's not clear.

[2016-09-20 11:01] pwalsh commented on #297
@roll I guess we should talk about this more, in the coming days. For me, it is not a specification issue at all, but rather an implementation issue. However, I agree that the specs need work in this area anyway.

[2016-09-20 11:07] roll commented on #297
@pwalsh
Yea great. Just wanted to raise it because from my experience there are 2 week point in specs:
- this level of abstraction break (may be is ok as you said with proper explanation in spec and impls)
- tabular data package instead of mechanism to define tabular resources

[2016-09-20 12:58] sirex commented on #297
In https://github.com/frictionlessdata/specs/issues/297#issuecomment-248268307 comment I was saying that for example here:

[code]

reference points to an external data package, so this makes circular dependency between two specs.

To fix that, reference could point directly to a JTS schema instead of data package resource.

For example, `datapackage` and `resource` should be replaced to something

[2016-09-23 14:05] danfowler commented on #228
Here's an example in the wild from @GregoryRhysEvans of the `path`-as-array approach.  Knowing nothing else about this, this seems to prove out the intuitiveness of the approach.

https://gist.github.com/GregoryRhysEvans/7c07337abbefd64ac06562d4e5a54243

[code]

[2016-09-26 19:51] danfowler commented on #292
Agreeing here that both YAML and JSON are easy to get wrong.  Probably worth keeping an eye on the popularity of [CSVY](http://csvy.org/) as a method of applying JSON Table Schema as YAML frontmatter to a CSV file.

[2016-09-26 19:56] danfowler commented on #294
I can point out here that the idea of combining tabular and non-tabular data in a single Data Package tends to come up often, most recently in a [call with the Open Archaeology](https://discuss.okfn.org/t/pilot-frictionless-data-in-archaeology/3440/8?u=danfowler) where they might have a use case for packaging tabular and geospatial data together.

[2016-09-27 12:03] rgrp commented on #292
WONTFIX.

OK. If yaml is not really easier I think I'm going to close this as WONTFIX for now. It imposes additional costs on implementors without making it much easier for publishers.

Definitely open to reconsider if raised in future.

[2016-09-27 12:07] rgrp commented on #277
@roll ping.

[2016-09-27 12:18] danfowler commented on #277
Remembering now that I got this exact request during my initial presentation at SciDataCon but didn't catch the questioner.

[2016-09-27 12:19] danfowler opened #298 "Proposed Revisions"
_From @waylonflinn on September 21, 2016 17:40_

@danfowler requested that I get more involved here. I caution him to be more careful what he asks for, in future.

This is a short list of items that have come up as I worked through needs at [dataship](https://dataship.io). Some involve changes for consistency, some are extensions.
### `sources`

For consistency rename `web` to `url`. This is about

[2016-09-27 12:19] danfowler commented on #298
Thanks @waylonflinn!  These all seem sensible.  In fact, the `license` -> `licenses` change is already pretty much agreed: https://github.com/frictionlessdata/specs/issues/236

Can we bring the rest of these issues over to the https://github.com/frictionlessdata/specs/issues issue tracker?  You can raise them individually.  Thanks again, and this is a super great time to raise them!

[2016-09-27 12:22] danfowler commented on #298
@waylonflinn moving as is from the `dpm` issue repo for more discussion, but we should split out the issues

[2016-09-27 12:52] roll commented on #277
@rgrp
We need to check with @pmackay here, because I've just technically moved it to proper issue tracker.

[2016-09-27 12:54] rgrp commented on #213
WONTFIX. I'm closing for now.

Definitely important. However, will wait on greater interest and someone with concrete suggestions on implementation and will reopen at that time.

[2016-09-27 12:54] #213 closed

[2016-09-27 12:57] rgrp commented on #265
@nyurik ping ;-)

[2016-09-27 12:59] rgrp commented on #265
@danfowler wonder if this issue should move to general FD issue tracker since more about outreach and collaboration ...

[2016-09-27 13:01] rgrp commented on #298
@waylonflinn this is great. I think we do want separate issues for each item and then we close in favour or them.

For record I think i'm +1 on pretty much all of these.

[2016-09-27 13:01] danfowler commented on #290
Perhaps @GregoryRhysEvans has a thought here?

https://gist.github.com/GregoryRhysEvans/7c07337abbefd64ac06562d4e5a54243

[2016-09-27 13:06] jpmckinney commented on #260
In terms of naming, we're dealing with printf format strings, so would `formatString` make sense - or is there reason to believe it would be confusing?

Not really the place for this question, but what was the rationale for `groupChar` versus `thousandsChar`?

[2016-09-27 13:09] pmackay commented on #277
My apologies for not replying on this sooner. The scenario I was working with was wanting to define a table schema for address data that contains [UPRNs](https://www.ordnancesurvey.co.uk/business-and-government/help-and-support/products/addressbase-technical-faqs.html), amongst other things to interact with the Spark API (see [datatypes](http://spark.apache.org/docs/latest/api/python/pyspark.sql.h

[2016-09-27 13:10] danfowler commented on #213
Dropping here with no intention to re-open except to say that this came up on the discussion forum as well: https://discuss.okfn.org/t/signed-data-packages/3514/2

[2016-09-27 13:10] jpmckinney commented on #105
I don't consider 'year-month' a unit. It's a date format. I prefer either adding named `format` values or using `pattern`/`formatString` as described in #260.

[2016-09-27 13:13] jpmckinney commented on #228
@rgrp's [suggestion](https://github.com/frictionlessdata/specs/issues/228#issuecomment-239196982) looks fine to me.

[2016-09-27 13:20] jpmckinney commented on #289
I don't think the [Vendor Tree](https://tools.ietf.org/html/rfc4288#section-3.2) (`vnd.`) is appropriate here. I think we need to use the Standards Tree, so maybe `application/table-schema+json`.

[2016-09-27 14:27] akariv commented on #260
Re your second question - because not everyone uses it to separate
thousands.

On Tue, Sep 27, 2016, 16:06 James McKinney <notifications@github.com> wrote:

[2016-09-27 14:48] Stiivi commented on #105
@jpmckinney `year-month` is a very common analytical concept as is uniquely specifies point on a date/time dimension at a `month` level of the `year-month-*` hierarchy. It is also used as key-forming unit on derived aggregates at the given level. In this case it is very different from just being a format.

[2016-09-27 15:06] jpmckinney commented on #260
What groups is it separating?

[2016-09-27 15:17] danfowler commented on #260
@jpmckinney http://stackoverflow.com/questions/15286545/why-is-the-thousands-separator-called-the-grouping-separator

[2016-09-27 15:31] nyurik commented on #265
@rgrp hi, sorry for not replying earlier, tabular (and other) data on wiki will be my priority starting next week. There are some minor cleanups needed, but otherwise I feel pretty good about the spec and implementation. I have been thinking about i18n stuff some more, as we might want to allow an alternative interface for localizers - TBD. Switching back to phabricator :)

[2016-09-27 15:51] rgrp commented on #265
@nyurik so did you adopt tabular data package / json table schema?

[2016-09-27 15:56] rgrp commented on #245
@danfowler can you prep the info for a submission and we review.

[2016-09-27 16:04] nyurik commented on #265
Hm, you should be able to create an account, or even easier - create an account in Wikipedia and login into phabricator via openauth.  As for the spec - I am trying to get it more in line with what you have - I will be putting finishing touches on it once I start back on that project

[2016-09-27 16:09] rgrp commented on #265
@nyurik i had an account - hence i commented earlier. It was a challenge of getting access account.

@nyurik would it be great if we could fully align as it would allow us to share tooling 😄

[2016-09-27 16:25] danfowler opened #300 "Remove master branch?"
- Not sure why it would be needed anymore
- Could potentially lead to confusion (though in this case, it is not default branch): https://github.com/openspending/fiscal-data-package/issues/162
- Still the source for this: http://dataprotocols.readthedocs.io/en/latest/json-table-schema.html

[2016-09-27 16:38] nyurik commented on #265
Strange, we really should fix that - phab is our primary communication tool, both inside and outside the WMF.  And yes, it would be good to be able to reuse tools. We could schedule a voice chat sometime later this week or early next (everyone interested are welcome to join), and iron out the spec.

[2016-09-27 17:08] rgrp commented on #300
@danfowler can we remove the readthedocs site ...

[2016-09-27 17:08] rgrp commented on #300
Then we can look at doing this.

[2016-09-27 17:15] pwalsh commented on #295
I think JSON Reference support is useful.

I think we should consider this for a post v1 feature of the specs.

[2016-09-27 17:18] pwalsh commented on #293
I see the use case. I'm not sure this is an issue for the specs themselves, but rather one for implementing code.

I think the utility of this in JSON Schema is for disambiguation between different versions of the spec.

If we realise we need this for JSON Table Schema after a v1, then surely we should look at the same implementation.

[2016-09-27 17:23] jpmckinney commented on #105
@Stiivi All the current units are real units of measurement. The units of measurement for time are seconds, minutes, etc. but not with respect to any particular anchor.

YYYY and YYYY-MM only make sense given the anchor of 0 at roughly 2016 revolutions of the Earth around the Sun ago. They are not units, at least not in the same sense as the others.

[2016-09-27 18:21] danfowler commented on #300
@rgrp can't seem to access the project in the system to delete. maybe a consequence of the repo rename?

[2016-09-27 19:33] danfowler opened #304 "Add LICENSE.md and remove from site template"
Currently: "Licensed under CC Attribution license v3"

https://github.com/frictionlessdata/specs/blob/45d9fcdaf943f47e04ebc1ab1246d72d41705156/_layouts/container.html#L124

[2016-09-27 19:38] danfowler commented on #304
Related: https://github.com/openspending/fiscal-data-package/issues/159

[2016-09-27 20:29] danfowler opened #305 "Create Specs Working Group GitHub team"
- [x] Create Specs Working Group GitHub team

Use @frictionlessdata/specs-working-group to message members of the working group.

[2016-09-27 22:19] #273 closed

[2016-09-28 05:57] rgrp commented on #132
Having read the BagIt approach I think they got it pretty much right.

My only question would be about step 3 - we could have instead that you do it in the datapackage directory so that the datapackage.json is at the root of the archive file. However, my guess is that bagit creators thought about this.

Next steps:

* Create a data-package-identifier draft
* Port the BagIt approach in there with a

[2016-09-28 06:37] rgrp commented on #250
OK. I think we want to move this forward.

* @akariv i see your point about `path` being guaranteed to be relative. The challenge is people end up using both url and path sometimes and there is some confusion. As someone actively using this in the wild your views are very important so please reiterate if this would be a real issue in your opinion.
* `cache` is **unrelated** to this change IMO. It

[2016-09-28 08:47] roll commented on #250
@rgrp
awesome

No plans to introduce `scheme` keyword in terms of path=[scheme]://path-core.[format] to have an explicit ability to force exact schemes?

[2016-09-28 09:09] roll commented on #300
@danfowler just FYI now github allows to serve static site from master branch. So may be better to get rid of `gh-pages`.

[2016-09-28 10:05] rgrp commented on #250
@roll what is use case for implementors? How hard is it to work out scheme.

[2016-09-28 11:14] roll commented on #250
@rgrp
Scheme is inferrable from `path` with no problem so I mean optional explicit `schema` options as we have for `format`.

`tabulator` from born support explicit `schema` (loading) and `format` (parsing) options. But it's mostly been done because of some nice symmetry in schema-format parts of path (an url analogy). But also on implementation level it's important to have ability to ensure what

[2016-09-28 11:30] roll commented on #250
Just to clarify what I mean - consider there is filesystem supporting many letters drive names - `path: drive://path.csv`. In this case implantation just fail with `UnknownScheme` error but if publisher will provide `path: drive://path.csv, scheme: file` it will be correctly opened as a local file. I suppose thing to investigate in a future.

[2016-09-29 20:10] danfowler commented on #156
Linking to most recent request for this feature here: https://discuss.okfn.org/t/can-you-add-code-descriptions-to-a-data-package/3532

[2016-09-29 20:14] #305 closed

[2016-09-30 06:28] rgrp commented on #265
@nyurik great suggestion for a chat - sorry somehow missed this in my notification queue when you posted. The person we might want there is @pwalsh or @danfowler and i'm not sure about availability today - but i could do afternoon. You could ping on the chat channel here and we can arrange https://gitter.im/frictionlessdata/chat

[2016-09-30 06:29] rgrp commented on #293
@pwalsh this is not disambiguating different versions of same spec so much as different uses of `schema` attribute: e.g. for JTS or for simple JSON Schema (when describing JSON data).

[2016-09-30 06:30] rgrp commented on #304
@danfowler it should be in both places ...

[2016-09-30 06:30] rgrp commented on #300
@danfowler i'll let you liase with sysadmin to get access to RTD and when that is done we can look at resolving this appropriately.

[2016-10-01 10:27] rufuspollock opened #306 "dataFormat property on Data Package and/or Data Package Resources"
Currently have `format` which is the file format e.g. `csv`, `xml` etc - essentially the mimetype written more crudely.

What about giving an indication of the data format - in an informal, free text way. This could be on Data Package and/or Data Package Resources.
## Examples
### MARC XML

I have bibliographic data in [MARC](https://www.loc.gov/marc/bibliographic/) XML:

[code]
### GTFS

[code]

[2016-10-01 11:16] roll commented on #280
NOTHING TO DO HERE

[2016-10-01 11:16] #280 closed

[2016-10-07 17:57] rgrp commented on #295
Generally a +1 though may be post v1 as @pwalsh suggests.

[2016-10-07 18:08] rgrp commented on #294
Would Data Package profiles help address this: #87 ?

[2016-10-09 16:19] waylonflinn commented on #250
:+1:

[2016-10-09 16:33] waylonflinn commented on #243
+1

[2016-10-09 16:44] waylonflinn commented on #250
I have a question about an edge case. Does the following seem correct?

When a path doesn't have a protocol descriptor but starts with '/', it SHOULD be treated as an absolute path referring to the root of the resource from which the datapackage is accessed.

### Example
datapackage at `http://www.example.com/user/foo/datapackage.json`
 contains:
[code]

The resource `bar` will be found at `http:/

[2016-10-10 09:12] rgrp commented on #250
@waylonflinn great question - and i've actually worked on a draft here and came up with exactly this case. I'm coming to the view that you do not allow absolute paths without a scheme - only relative paths (and also no `../`). So basically any path is:

* EITHER a url
* OR: a relative path (which is interpreted relative to the directory in which `datapackage.json` is found

This also addresses sec

[2016-10-10 09:23] roll commented on #250
HTTP, zip etc uses `/` as a pointer to root of container. Is it an option also for us?

[2016-10-10 10:09] roll commented on #294
I support this issue more about just resources. Consider just plain datapackage (no profiles) - but some resources still could be tabular. Now libraries do error-prone guessing about nature of resource.

[2016-10-10 12:45] waylonflinn commented on #250
@rgrp Thanks for giving this some thought and coming up with a reasonable answer.

Having the absolute path (`/`) available definitely helps my use case. Is it possible to change this?

[2016-10-10 13:57] rgbkrk opened #307 "Provide JSON Schema for JSON Table Schema"
For validation (and code generation), I'd like to see [JSON Schema](http://json-schema.org/) for the JSON Table Schema.

/cc @ellisonbg @captainsafia

[2016-10-10 14:04] danfowler commented on #307
Hi @rgbkrk @ellisonbg @captainsafia we have JSON Schemas for JSON Table Schema (and Data Packages) in this repo:

https://github.com/frictionlessdata/schemas

JSON Table Schema: https://github.com/frictionlessdata/schemas/blob/master/json-table-schema.json

[2016-10-10 14:06] rgbkrk commented on #307
Ohhhhh it's in schemas, not specs.

[2016-10-10 14:06] #307 closed

[2016-10-10 14:06] rgbkrk commented on #307
Thank you.

[2016-10-10 14:12] danfowler opened #308 "Highlight location of JSON Schemas better"
e.g. "You can find a JSON Schema for validating your JSON against this specification here: github.com/frictionlessdata/schemas/..."

[2016-10-10 14:17] danfowler commented on #307
@rgbkrk no worries! I created an issue for myself to make it clearer.

[2016-10-10 19:20] roll opened #309 "Make datapackage.resources[].name required?"
We have required:
- datapackage.name
- datapackage.resources[].schema.fields[].name

I don't think requiring also `datapackage.resources[].name` will be a problem for publishers but for implementations current optional nature of this field is a big problem. Consider export/import to SQL - without a name resource is like a SQL table without a name. Now we use hacks like using path to replace a name

[2016-10-10 19:42] roll commented on #297
@sirex
This makes sense but kinda complex and use pointing to schema (description) instead of resource (dataunit).

To clarify my point. Imagine I start specs in this area from scratch:
- I use `jsontableschema` for types and constraints
- I use `datapackage` as it is
- I add `TabularResource` section to the datapackage spec saying:

`Tabular Resource` is a resource which:
- MUST have `schema` att

[2016-10-11 06:12] pwalsh commented on #309
Related to https://github.com/frictionlessdata/specs/issues/237

I think whatever solution we do there, we should do here too

[2016-10-11 14:27] muehlenpfordt opened #310 "Implementation of JSON Table Schema at Open Power System Data"
Hi everyone, @frictionlessdata/specs-working-group

@danfowler suggested that I present here how we are planning to implement the JSON Table Schema at [Open Power System Data](http://data.open-power-system-data.org/) .

Below is an en example from the Time series Data Package in YAML-format. Any criticism or suggestions for improvement are welcome:

### GIST version

https://gist.github.com/rgrp/3

[2016-10-12 13:03] muehlenpfordt commented on #264
@pwalsh: I see you questioned whether option (b) as defined by @danfowler

should remain part of the specs.

On behalf of the project [Open Power Systtem Data](http://data.open-power-system-data.org/), I can say this: Some of our datapackages include the same content in a CSV and an XLSX file, We find that option (b) useful, as it allows us to just define a schema once and use it for both `resourc

[2016-10-12 18:14] pwalsh commented on #264
@muehlenpfordt ok, got it.

@rgrp maybe we need to consider https://github.com/frictionlessdata/specs/issues/295 for v1, which is a generic solution to the problem of referencing properties in the same object, thereby removing the type of special-casing that bothers me in the current spec, as described here.

[2016-10-13 21:17] danfowler opened #311 "Create v1.0 milestone with current issues tagged "blocker""
https://github.com/frictionlessdata/specs/issues?q=is%3Aissue+is%3Aopen+label%3Ablocker

@roll

[2016-10-14 09:21] roll commented on #311
@danfowler
+1)

[2016-10-14 10:38] rgrp commented on #311
@danfowler i already have this milestone and it is called current: https://github.com/frictionlessdata/specs/milestone/1 ;-)

BTW: regarding setup of the labels and milestones on the specs repo can you please always ping me. If i am the coordinating editor I would like to be able to organize the repo as we need - whilst staying in line with whatever is needed for waffle etc.

[2016-10-16 11:36] rgrp commented on #250
@waylonflinn really useful feedback. BTW why do you want "root paths" i.e. `/...`?

Lesson for me: people definitely want to retain allowing `/` as a starter in paths. I'm ok with that.

Does anyone want to allow `../` paths? I think not though it could be a bit complex to start having these rules in the spec. Maybe more of a thing for "notes for implementors".

For security conscious implementors

[2016-10-16 13:21] pwalsh opened #312 "IETF submission"
cc @danfowler

A placeholder for everything related to IETF submission. Will also be relevant for the working group.

We want to submit three standards:
- Data Package
- Tabular Data Package
- JSON Table Schema

The standards process: https://www.ietf.org/about/standards-process.html
RFC editor site: http://www.rfc-editor.org/rfc.html
Another tutorial: https://www.ietf.org/edu/documents/tutorial76

[2016-10-19 06:44] roll commented on #250
In my opinion a secure recommendation for implementors will be `option to enable absolute/dotted pathes disabled by default`

[2016-10-19 15:44] rgrp commented on #297
I would like to move to close this issue.

Valuable discussion but if i read it correctly I do not think there is now anything outstanding in terms of a specific proposed change or an immediate bug with the specs. Let me know if any objections.

[2016-10-19 15:48] rgrp commented on #310
Great. I've inlined into the comment for easy reference (when i clicked on the link you had i ended up downloading the file ...)

Quick questions:

- Any thoughts on the YAML and/vs JSON question - see #292
- I see you have `alternative_formats` which look like various different computed versions of the same file. That looks really interesting. Could you elaborate a bit there.

[2016-10-19 16:45] roll opened #314 "Remove datapackage reference from jsontableschema foreign keys for v1?"
# Overview

For now jsontableschema contains cyclic-link with datapackage specification - http://specs.frictionlessdata.io/json-table-schema/#foreign-keys - to allow cross datapackage linking.
## Pros
- allow general referencing mechanism (somewhere in the internet)
## Cons
- allow general referencing mechanism instead of focusing on data integrity inside the data package
- no implementations for

[2016-10-19 16:48] roll commented on #297
@rgrp
I've extracted a specific idea from this discussion - https://github.com/frictionlessdata/specs/issues/314

[2016-10-20 07:29] roll commented on #311
@rgrp
So pinging you) We had a discussion about it after first WG meeting. There are `blocker` label and `Current` milestone for now. In my opinion and @danfowler for people how watch the specs progress without context or notes too hard to understand what both mean. Something like `specs-v1` milestone could be more descriptive for the wide auditory.

[2016-10-20 08:46] rgrp commented on #311
@roll sure - i don't mind a rename, it is duplication that is my concern. I certainly would avoid having a label *and* a milestone as we will just get confused. Realistically we don't yet quite know what v1.0 has but it seems reasonable to call it that. My preference is def the milestone and use the labels for other stuff => can we delete blocker label and we can rename Current milestone to v1.0 o

[2016-10-20 08:46] rgrp commented on #297
INVALID / WONTFIX. See previous comment. See #314 for specific suggestion.

[2016-10-20 08:46] #297 closed

[2016-10-20 08:55] roll commented on #311
cc @pwalsh

About the knowledge what will be in `v1` - I suppose issues included to this milestone could mean - should be decided before v1 not related to be included or excluded.

[2016-10-21 10:13] cyberbikepunk commented on #308
@danfowler I fully support this issue. t's impossible to find the actual schema files just by browsing the website. There should be a link to https://github.com/frictionlessdata/datapackage-registry-js/tree/master/schemas, somewhere obvious.

[2016-10-21 22:25] danfowler commented on #308
@cyberbikepunk Great!  This is the canonical location for the location of the schemas: https://github.com/frictionlessdata/schemas

[2016-10-22 01:15] danfowler opened #315 "Moving missingValue to the resource level"
From @muehlenpfordt:

originally: https://github.com/frictionlessdata/schemas/issues/57#issuecomment-255138858

[2016-10-26 09:11] rgrp commented on #308
@danfowler can you action listing this somewhere e.g. a navbar item + front page. If we got fancy we'd put this in the frontmatter of individual specs and add a link in the spec document to the schemas.

[2016-10-26 10:50] roll opened #316 "Limit csv lineTerminator to three standard options"
Here is original discussion - https://github.com/frictionlessdata/datapackage-py/issues/58

In a few words python builtin csv parser and other implementations break lines on either `\r\n`, `\r` or `\n` and it cannot be changed.

[2016-10-27 10:35] bruth opened #317 "dataDependencies object group order"
I came across this sentence in the spec:

referring to this block:

[code]

I read this as "the order of the keys in the `geo-boundaries` object is significant". Is this correct? If not, then it would be helpful to clarify that statement. If this _is_ correct, then this would be problematic since the order of keys in JSON objects is not guaranteed (it is not part of the spec).

[2016-10-27 16:13] danfowler commented on #236
Can I assume that we will have both `license` and `licenses` where `license` can be a string or an object and `licenses` will be an array of such values?

@frictionlessdata/specs-working-group

[2016-10-27 16:27] roll commented on #236
It's kinda against currently used pattern - why not license string or array?

[2016-10-27 16:49] danfowler commented on #236
@roll

`license` can be an object also:

[code]

The pattern would match `author` (string or object) and `contributors` (array of author-like values)

[2016-10-28 16:08] danfowler opened #318 "Improve readability of code blocks"

[2016-11-03 16:29] jheeffer opened #319 "Add clarity about fields order and completeness"
Hi!

In current [JTS spec](http://specs.frictionlessdata.io/json-table-schema/#schema) two things are not explicitly stated which I think should be:

1. the order of elements in `fields` array must be the order of fields in the csv file
2. the number of elements in `fields` array should be exactly the same as the number of fields in the csv file

[2016-11-04 00:01] muehlenpfordt commented on #310
You can now find an actual Data Package including the full JSON-file on our [website](http://data.open-power-system-data.org/time_series/).

The alternative formats are indeed different computed versions of the same file, available for download under "Alternative file formats" on that same website. The idea is to provide different formats that had been requested by our users.

[2016-11-07 19:22] rgrp commented on #319
@jheeffer excellent points and simple clarifications that we could add. Scheduling for next iteration.

[2016-11-10 08:15] pwalsh commented on #290
@rgrp

I'm +1 on this. I think we can support `gzip` and `bz2`, and then only consider other formats if the community of implementors requests.

I don't think this needs a lot of discussion to get a PR for v1: it does not impact any backwards compatibility, and compressed data is an extremely common use case.

[2016-11-10 08:16] pwalsh commented on #290
any comments on this from the @frictionlessdata/specs-working-group ?

[2016-11-10 08:21] pwalsh commented on #250
@rgrp do you have a PR in the wings for this? I think the wording for the spec should be quite straight forward. I think we should also have a set of clear examples alongside that that addresses some of the above points.

Again here, I think in the various places this has been discussed, there is general agreement that it simplifies the prep of a data package for a publisher, and reduces ambiguity

[2016-11-10 08:25] pwalsh commented on #243
@rgrp and others, any further comments on this?

I note that calling it `cache` has possibly led to a small amount of confusion above (e.g.: cache invalidation). I don't think we need to change the terminology because of this, rather, we have to ensure it is worded in a way that corresponds with usage in spoken English, rather than as a programming construct.

I'm happy to do the PR on this one.

[2016-11-10 08:32] pwalsh commented on #237
@rgrp @frictionlessdata/specs-working-group

On reflection, I think my last suggestion is ridiculous, as by trying to please every opinion, it serves no one particularly well.

I'm starting to swing towards what I think is the view of @rgrp being that the spec does not need a unique identifier as part of it: it is a platform-specific concern (federated or otherwise).

What we could do is reserve `

[2016-11-10 08:33] pwalsh commented on #228
@rgrp I think this is solid and extremely useful. Can you do a PR and let's take it from there?

[2016-11-10 08:36] pwalsh commented on #260
@rgrp you are assigned here. I think we need to fix this. Do you want to do a PR, or shall we discuss further?

[2016-11-11 01:29] jpmckinney commented on #290
Looks good. Let's use `gzip` not `gz` since the media type is `application/gzip`. Similarly `bzip2`

[2016-11-11 01:44] jpmckinney commented on #243
I may be misunderstanding.

It seems to me like any tools reading data packages may want to handle caching in their own way - down to where they store the cached file. Imagine a tool that reads remote CSVs into a database. The database already serves as a cache. There's no need to store the remote CSV as a local file at the path described by `cache`. What's the harm in letting each tool handle its

[2016-11-11 02:00] jpmckinney commented on #237
I'm not sure where the proposal for `name` landed. At the top @rgrp describes a fairly complex process of assigning names that is much more labor-intensive than generating a UUID, which you can do online if you happen to be generating IDs manually.

If, as @pwalsh writes, we're tending towards not having any unique identifiers, then I'm in favor of eliminating `name`, which is very confusing.

If

[2016-11-11 12:11] rgrp commented on #236
I'm wondering if we should adopt npm / package.json approach for multiple licenses which is:

[code]

See https://docs.npmjs.com/files/package.json#license

[2016-11-11 17:11] joehand commented on #237
This seems like a good compromise. Global uniqueness will be hard to guarantee and only meaningful within the datapackage space. Allowing the `id` to be a platform specific unique id will make it easier to use datapackages in those platforms. This would allow id's such as:

[code]

[code]

These IDs will be resolvable within the platform but also meaningful when viewing the datapackage outside tha

[2016-11-11 17:43] yetzt commented on #236
@rgrp the npm approach has some problems. the rely on spdx, which doesn't cover most open data lienses, and their fallback is "SEE LICENSE IN $FILENAME", which defies the purpose of machine-readability. also there's "UNLICENSE" and "UNLICENSED" which mean two diametral things. so please: don't.

[2016-11-13 07:33] pwalsh commented on #243
hey @jpmckinney

By cache we mean alternative path.

`path` as an array can't be used for this, as we are overloading `path` as an array for data distributed across multiple files https://github.com/frictionlessdata/specs/issues/228

But actually, you've just articulated the best and most clear reason why `cache` *can't* be part of the spec itself - the entire use case for this, from myself and re

[2016-11-16 12:13] rgrp commented on #311
@roll @pwalsh can we get this resolved - it is a simple process matter ;-)

I've stated what I'd like to have ...

[2016-11-16 12:37] pwalsh commented on #311
I also personally prefer milestones as, in contra to most of the OKI team, I'm not that big a fan of waffle.io (which requires use of tags).

I'll set up the milestone now ( cc @roll )

[2016-11-16 14:38] roll commented on #311
So:
- milestone - https://github.com/frictionlessdata/specs/milestone/1
- `blocker` is removed

This issue seems done.

[2016-11-16 14:38] #311 closed

[2016-11-16 16:39] rgrp opened #320 "[jts] Data types are case insensitive"
Propose that data types are case insensitive.

So `gYear` is same as `gyear`, `dateTime` is same as `datetime` or even `DATETIME`

[2016-11-16 16:52] jpmckinney commented on #320
What's the benefit? I feel that this creates opportunities for errors in implementations (e.g. if an implementer misses this fact and reads/processes packages using a case-sensitive dictionary).

[2016-11-17 06:42] roll commented on #243
I'm +1 for any spec simplification opposite to complication.

[2016-11-17 10:51] rgrp commented on #320
@jpmckinney good question. The reason I thought about this was having new data types `gYear` in #105 . If we don't do case insensitive I'm wondering whether i should change `gYear` to `gyear` for consistency (??).

[2016-11-17 10:57] #105 closed

[2016-11-17 10:58] rgrp commented on #105
FIXED. Implemented `gYear` and `gYearMonth` following xmlschema-2

[2016-11-17 11:05] rgrp commented on #265
@nyurik any update on the structure? It would be great to align this and tabular data package spec. Please ping on channel or let us know how to reach you to have a chat ...

[2016-11-17 11:06] rufuspollock opened #321 "Create a Patterns / FAQ section"
A section on the site for "Patterns": ways of using or extending the specifications to solve a particular issue. For example, handling caching of resource data #243,

Some patterns may even evolve into specifications if they prove important and robust enough.

Question: patterns and FAQs. Patterns and FAQs are often pretty similar: a pattern is a solution to a FAQ. Do we want to formally merge thi

[2016-11-17 11:08] rgrp commented on #315
WONTFIX. I can see that there could be some benefit but ultimately it seems to me missingValue is better defined per field rather than per resource and the logic of both per field and per resource is quite complex.

[2016-11-17 11:08] #315 closed

[2016-11-17 11:10] rgrp commented on #316
@roll I'm interested in doing this but I would need some certainty that these really are the only options that turn up in the wild. I also know that some libraries allow you to specify any character e.g. this standard node one http://csv.adaltas.com/parse/.

Personally, I would feel this is something for implementors rather than the spec: if you find a line terminator you can't support then you sh

[2016-11-17 11:11] rgrp commented on #243
Removing from v1 milestone as now a pattern item.

[2016-11-17 12:43] rgrp commented on #250
OK, here's a specific proposal for the text change:

[code]
# fully qualified url
"path": "http://ex.datapackages.org/big-csv/my-big.csv"

# relative path
"path": "examples/my-csv.csv"

`data`: (inline) a field containing the data directly inline in the
  `datapackage.json` file. Further details below.
[code]

[2016-11-17 13:34] rgrp commented on #237
@joehand @pwalsh good suggestions. Next steps are now clear:

- Separate issue about creating `id` field - which is up to users to make unique
- Separate issue about making `name` non-required and more flexible (it is basically there for registries)

[2016-11-17 13:47] rgrp commented on #156
Will implement with `categorical` type.

[2016-11-17 13:53] rufuspollock opened #322 "Move site to fd.io/specs/"
Why?

* Everything in one obvious place

Actions

* [ ] Make sure links use base url style (for jekyll)
* [ ] Move location
* [ ] Implement redirects
* [ ] Apply theme

[2016-11-17 13:54] rgrp commented on #321
AGREED today to implement this on the `/specs/` site.

[2016-11-17 14:26] jpmckinney commented on #320
We currently have `datetime` instead of XML Schema's `dateTime`. We also have `geojson` instead of `GeoJSON`. Since the type values are pulled from many sources (XML Schema, JSON Schema, HTML 5, etc.) I think it's okay to lowercase them all.

[2016-11-17 14:37] roll commented on #309
@rgrp
I've got that implementations could live without resource name using e.g. `resource-<index>` (important for sql export). So based on #237 it could be closed as WONTFIX. WDYT?

[2016-11-17 21:21] domoritz commented on #77
Just a few updates. We decided to drop vega-embed with Vega 3 and Vega-Lite 2. Vega 3 will be released very soon. Vega-Lite 2 will be released early next year.

[2016-11-18 13:41] rgrp commented on #309
@roll i guess i am in two minds and I would love some input from others. Is there something pending on this at your end?

[2016-11-18 15:29] glarrain opened #323 "[jts] Which kind of data is allowed in field type `object`?"
I'm sorry if this reads as a silly question but I've been working with JTS for a while and I've just realized there is room for misinterpretation regarding JSON Table Schema's field type `object`.

Per the specification:

http://specs.frictionlessdata.io/json-table-schema/#object

That means it takes JSON object (`{}`), array, string, `true`, `false`, `null.

Since `any` is for any of the JTS fiel

[2016-11-18 15:42] rgrp commented on #250
@waylonflinn note we are planning to disallow `/` at the start of paths as paths must be relative or fully qualified url. Do you have any comments on this - i note you had required `/` being permitted for URLs. If you could provide details on your use case that would be valuable.

[2016-11-19 05:21] roll commented on #309
@rgrp
No

[2016-11-21 05:28] nyurik commented on #265
Hi @rgrp, yes, I am thinking of launching it fairly soon - https://commons.wikimedia.org/wiki/Commons:Village_pump#Launching_shared_maps_and_data_on_Commons -- see the modifications I have made, and feel free to experiment with it at https://commons.wikimedia.beta.wmflabs.org/wiki/Data:Sample.tab
Let me know if you think any urgent changes are needed.

[2016-11-21 05:30] nyurik commented on #265
P.S. I began writing documentation at https://www.mediawiki.org/wiki/User:Yurik/Tabular - feel free to correct or improve it if you want

[2016-11-28 13:19] #250 closed

[2016-11-28 16:56] patcon opened #324 "[Discussion] Better aggregate metric for dataset comparison"
## Context

The City of Toronto has led the way in Canada with it's initial creation of its data portal and its dataset offerings. In recent years, the open data community has felt that there's been some stagnation in the City open data policies, and the departmental embrace of the underlying principles. There is renewed debate in Toronto about how the City can do better.

During these conversatio

[2016-11-30 10:23] rgrp commented on #265
@nyurik does it build off tabular json format or is it ab initio? From what I can see it is fairly different ... (I do not think it has changed much since my original comments 6 months ago)

So the urgent changes would be to see if we could still converge in some way 😄

As I said it would be great to have a chat about this. I hang out here https://gitter.im/frictionlessdata/chat and would be happy

[2016-11-30 10:35] rgrp commented on #322
@danfowler any update on this?

[2016-11-30 10:52] #320 closed

[2016-11-30 11:02] rgrp commented on #236
@yetzt good points and going to do that.

Re licenses repository see also https://github.com/okfn/licenses

[2016-11-30 11:26] rgrp commented on #236
Proposal:

* `license` is the term
* Can have one or multiple values
* Simple default of a string.

[code]

[2016-11-30 20:04] jpmckinney commented on #236
My preference is for the simple string version to be a URL. A URL is an identifier.

The docs seem to have had `id` where it is now `type`. `type` would make sense if we allow values like `other` and `notspecified`, which don't *identify* a license, but describe its type.

That said, I personally find "licenses" like `other-pd` to be confusing, because they aren't licenses! I've seen data catalogs

[2016-11-30 23:00] nyurik commented on #265
@rgrp a few questions/comments:
* why is your second example uses triple array?  Shouldn't it be `[ ["x","y","z"], ["a","b","c"] ]` for a two row, 3 column table?  Your example uses `[[[...],[...]]]`
* I don't want to have a top level "title", because that implies a single language being "main", while all others being "translations" (e.g. "title@es"). Our construct (named "info", but we can rename

[2016-12-01 09:28] rufuspollock opened #325 "[dp] Simplify Schema Referencing and Loading"
Currently Data Package schema property allows for 3 options:

- Inline: schema is provided as value of schema property inline as some kind of JSON object e.g. a JSON Table Schema
- Out of line but inside the data package: value is a key referencing an entry in this datapackage.json `schemas` property. This supports having shared schemas across resources within a single datapackage.json
- Remote re

[2016-12-01 09:45] rgrp commented on #264
FIXED.

To summarize the issue here as it got a bit confused: TDP was **not** clear that `schema` follows Data Package spec in allowing the value of schema property to be specified both inline and out of line. This has now been corrected. (Tabular Data Package was clear that `schema` value had to be a JSON Table Schema.)

Note: #295 etc is something different and can be considered quite separately

[2016-12-01 09:45] #264 closed

[2016-12-01 09:47] rgrp commented on #295
@Hypercubed could you give a bit more detail on how you anticipate this working in the spec and being interpreted by tools.

[2016-12-01 09:48] rgrp commented on #310
@muehlenpfordt any thoughts re #292 and YAML vs JSON?

[2016-12-01 09:49] rgrp commented on #310
FIXED / INVALID. Closing as this was a FYI issue not a bug or feature proposal.

@danfowler possibly better to have these FYI items on the forum in future :-)

[2016-12-01 09:49] #310 closed

[2016-12-01 10:37] rgrp opened #326 "[tdp] Make the header row in the CSV optional"
Given we have a header information in the JSON Table Schema should we allow this to be left out.

Relevant to #228 - in terms of logic of concatenating files.

[2016-12-01 12:27] rgrp commented on #228
The one remaining question is what to do with headers:

* https://github.com/onyxfish/csvkit/issues/188 - csvkit supports `--no-header now`
* Postgres COPY command as used in Redshift has "ignoreheader" as a number which is number of rows to skip: http://docs.aws.amazon.com/redshift/latest/dg/copy-parameters-data-conversion.html#copy-ignoreheader

My sense here is that in Data Package behaviour is

[2016-12-01 12:37] pwalsh opened #327 "Split out a resource spec"
`Resource` deserves a spec of its own.

[2016-12-01 12:43] pwalsh opened #328 "Create spec as data structure for writing to RFC, other formats, etc"

[2016-12-01 12:44] #228 closed

[2016-12-01 12:54] pwalsh opened #329 "JSON Table Schema foreign key problem"
Note for me to fill out later:

primary key can be a composite, but foreign key has to be a single field (to check, came up in other conversation)

[2016-12-01 12:58] #260 closed

[2016-12-01 16:44] roll commented on #296
@rgrp
@pwalsh
Clarification is pretty desired for v1.

Current implementations now work like written in the first example so I hope we will write it to the spec.

[2016-12-01 16:47] roll commented on #309
@pwalsh
Any decision will be cool (implementation OK to have it non required)

[2016-12-01 16:47] roll commented on #242
@rgrp
We have also this opened (too our `data` discussion)

[2016-12-01 16:49] roll commented on #314
@pwalsh
Version-1 candidate in implementation mind.

[2016-12-01 16:58] roll commented on #327
It's a big one. If it will be implemented - for implementation really important concept of `TabularResource`. It should be described.

[2016-12-01 18:50] rgrp commented on #42
So, I've thought quite a bit about this and I generally agree with @akariv approach:

[code]

I've updated the main description of the issue with a relatively full spec based on this.

Welcome comments from @frictionlessdata/specs-working-group

## Research

- JSON-LD: http://json-ld.org/spec/latest/json-ld/#string-internationalization
  - Has approach we have here plus some other more subtle opti

[2016-12-01 18:53] rgrp commented on #265
@nyurik

- Re the triple array: good spot and that was a bug I have now corrected
- Re the title point:
  - Renaming to title would be good
  - I take your point about not wanting to select one specific language. The route we are proposing going for i18n in #42 allows for either a simple `title` if only one language or exactly follows your structure in the case of multiple languages 😄  👍  🎱  (and

[2016-12-01 19:10] rgrp commented on #265
{
    "description": {"en": "Some good fruites for you", "es": ... },
    "schema": {
       "fields": [
          {
            "name": "label",
            "title": { "en": "My fancy title for this field", "fr": "Mon title"},
            "type": "string",
          },
          {
            "name": "value",
            "type":  "number"
          },
          {
            "name": "stored",

[2016-12-02 02:02] Hypercubed commented on #295
I think the point is that if Data Package spec is to support JSON Schemas (in addition to JSON Table Schemas) then JSON Pointer support is needed.  From [draft-wright-json-schema-00](http://json-schema.org/latest/json-schema-core.html#rfc.section.7):

[2016-12-02 21:35] rgrp commented on #236
@jpmckinney thanks for the review:

I hear you. However, for combination of publisher simplicity and compatibility it is unlikely for plain string to switch to being a url. The simple string value covers 80% of the use cases and save you having to find a url (which may change etc). In addition, the url option is supported in the object structure.

Current spec has `type` i believe not `id`.

Good

[2016-12-02 21:36] rgrp commented on #327
@pwalsh who is going to draft this. I think this is something to move on asap :-)

@roll i note i don't think we strictly need a Tabular Resource spec since Tabular Data Package is basically just a Tabular Resource spec (a TDP is a Data Package whose resource are tabular with following structure ...).

[2016-12-02 21:41] rgrp commented on #314
@roll can you highlight the diff here vs current spec.

I agree the cyclic reference is not great. The general wording of this section as it currently stands is not as clear as i would like.

Re `datapackage` in FKs: I have seen zero examples of cross data package references in the wild. (And if they did happen they might be better stored outside of the data package in a separate file). As such we

[2016-12-02 21:43] rgrp commented on #242
Discussion yesterday definitely suggested that idea of e.g. `data` value being a CSV file as string was pretty unlikely. My sense is that we move to limit this to being JSON data in the form of an array or an object.

@pwalsh are you really taking this on? If so great but otherwise please flag 😉

[2016-12-02 21:45] rgrp commented on #296
@roll this is sort of ambiguous in whether constraints apply to date as "parsed" or to original string structure. This actually came up in the [meaning of missing values in #97](https://github.com/frictionlessdata/specs/issues/97#issuecomment-239160903)

[2016-12-03 10:30] rgrp commented on #295
@Hypercubed so you imagine in a resource object:

[code]

[2016-12-05 08:24] roll commented on #327
@rgrp
I don't mean separated spec for Tabular Resource just section in the Resource spec. But you're right it's already in Tabular Data Package..

But I still kinda have a feeling of missing a separate definition of Tabular Resource somewhere. For example if publisher  wants to have 10 tables and 1 image - it's not Tabular Data Package right? But still 10 valid tabular resources. How to hint imple

[2016-12-05 08:35] roll commented on #296
@rgrp
1. For now implementations check `required` and `pattern` before parsing and others - after parsing. May it will be good to add not to spec about it.
2. We still need to parse `minimum` value. So may be a note about that `minimum` value will parsed the same way (type/format/patter) as `value`.

[2016-12-05 08:46] pwalsh commented on #327
I agree with @roll

I'm going to spec a Tabular Resource because in several cases the idea of a DP with some tabular and some non-tabular resources has come up.

[2016-12-05 10:20] rgrp commented on #327
@pwalsh good point. Maybe we do push this down. Right now i think priority is a separate resource spec, then tabular resource spec.

[2016-12-05 10:50] pwalsh commented on #296
@rgrp @roll @akariv @frictionlessdata/specs-working-group

I think we should be explicit about constraints applying to the value before parsing. Implementing code could handle the cases where it is dealing with an already cast value or not.

So, constraints like `enum` should be arrays of strings, each parsable as the type/format of the field.

[2016-12-05 11:12] rgrp commented on #296
@pwalsh before parsing is sort of weird. e.g. how do min / max apply before parsing a number? Surely you parse first for those kinds of constraints? And if for those, why not for all of them?

[2016-12-05 11:20] pwalsh commented on #242
@rgrp yes I am

[2016-12-05 11:24] pwalsh commented on #296
@rgrp yes I just talked to @akariv in person and he said the same thing about max/min. There are some grey areas perhaps, like date/time where the cast value is language-specific, but you are probably right.

[2016-12-05 12:08] roll commented on #314
MUST have a property reference which MUST be a Hash. The Hash:

- ~~MAY have a property datapackage. This property is a string being a url pointing to a Data Package or is the name of a datapackage. If absent the implication is that this is a reference to a resource within the current data package or this is self-referencing foreign key.~~
- MUST have a property resource which is the name of the t

[2016-12-06 15:43] nyurik commented on #265
@rgrp please take a look at [this sample](https://commons.wikimedia.beta.wmflabs.org/wiki/Data:Sample.tab), and let me know if you see anything else missing, or feel free to close the issue.

[2016-12-06 17:53] danfowler commented on #322
@rgrp I was never and am still not convinced of the value of doing this *right now*.

[2016-12-07 08:04] rgrp commented on #322
@danfowler that was true but you agreed in the meeting to assess what it would take and set out pros and cons (at least, as I understood it).

[2016-12-07 20:35] rgrp commented on #265
@nyurik i've copied inline for ease of reference.

I think this looks really good! 😄  and is really compatible with the Data Package spec.

Couple of asides which are not of major import:

- your `sources` item will actually inspire to make a possible simplification in the Data Package spec to allow simple strings for sources - http://specs.frictionlessdata.io/data-packages/#recommended-fields
- y

[2016-12-09 01:44] nyurik commented on #265
@rgrp - I just enabled it [in production](https://commons.wikimedia.org/wiki/Data:Sandbox.tab), accessible from all Wikipedias, but haven't advertised yet - will need to build a good demo first.   Could you take a look at https://phabricator.wikimedia.org/T152753 -- null values proposal. See how it fits with your model.

[2016-12-10 14:15] rgrp commented on #265
@nyurik first,  Data Package support data structured like this:

[code]

In fact, that is the default way for doing data - rather than "raw" arrays.

**Nulls**

Re nulls I think you mean missing values. For this, check out: https://github.com/frictionlessdata/specs/issues/97

Summary: you can define per field what values are counted as missing values using `missingValue`

[2016-12-11 09:16] pwalsh commented on #314
Depends on https://github.com/frictionlessdata/specs/issues/327 for proper reframing of this.

[2016-12-11 09:26] pwalsh opened #333 "Specification mime types"
# Data Package

Commonly implemented as `datapackage.json`

- descriptor `datapackage`
- default serialisation: `.json`
- mime type: application/datapackage+json

# JSON Table Schema

Commonly implemented as `tableschema.json`

- descriptor `tableschema`
- default serialisation: `.json`
- mime type: application/tableschema+json

*Suggestion*: Rename to **Table Schema**.

# Resource

Commonly imple

[2016-12-11 09:28] pwalsh commented on #333
Considering these together highlights some important points. So I'm merging in https://github.com/frictionlessdata/specs/issues/245 https://github.com/frictionlessdata/specs/issues/289 to this issue, and also working on a `dataresource.json` mime type.

[2016-12-11 09:30] pwalsh commented on #333
From https://github.com/frictionlessdata/specs/issues/245

@rufuspollock suggested

    The MediaType [RFC4288] for Data Package JSON SHOULD be application/vnd.datapackage

I'm suggesting

    The MediaType [RFC4288] for Data Package JSON SHOULD be application/datapackage+json

There is [no need to vendor](https://github.com/frictionlessdata/specs/issues/289#issuecomment-249862461), and we should

[2016-12-11 09:30] pwalsh commented on #245
Closing in favour of https://github.com/frictionlessdata/specs/issues/333#issuecomment-266272007

[2016-12-11 09:30] #245 closed

[2016-12-11 09:31] pwalsh commented on #333
From https://github.com/frictionlessdata/specs/issues/289

I'm suggesting

    The MediaType [RFC4288] for Table Schema as JSON SHOULD be application/tableschema+json

[2016-12-11 09:32] pwalsh opened #334 "Rename JSON Table Schema to Table Schema"
https://github.com/frictionlessdata/specs/issues/333#issuecomment-266272063

[2016-12-11 09:33] pwalsh commented on #289
Closing in favour of https://github.com/frictionlessdata/specs/issues/333#issuecomment-266272063

[2016-12-11 09:33] #289 closed

[2016-12-11 09:47] rufuspollock commented on #333
@pwalsh I'm +1 on all of these.

Is next step is to start the submission process to register these?

[2016-12-11 09:48] pwalsh commented on #333
@rufuspollock yes, I started researching it now. I need to understand a few things the form requires before I can submit.

[2016-12-11 10:06] rufuspollock commented on #334
@pwalsh i can see the sense it but i think we need a bit of thought. Table Schema maybe gets a bit too generic (?)

[2016-12-11 13:09] pwalsh commented on #42
@rufuspollock agreed. We do need `lang` or `languages` as well as the actual handling of translations for properties. See https://github.com/frictionlessdata/specs/blob/feature/patterns/patterns/index.md#language-support-for-descriptors-and-data

[2016-12-13 07:20] pwalsh commented on #333
Registration with IANA [happens here](http://www.iana.org/form/media-types) and is according to [this RFC](https://tools.ietf.org/html/rfc6838)

[2016-12-13 07:29] pwalsh commented on #333
**note**: all media types **will** be submitted to the vendor tree - submitting to the standards tree requires a formal publication by a recognised standards body (so, after our RFC to IETF, we could apply for the standards tree).

So:

- `application/vnd.tableschema+json`
- `application/vnd.datapackage+json`
- `application/vnd.dataresource+json`

[2016-12-13 10:21] pwalsh commented on #333
The form(s) as submitted:

- Type name: application
- Subtype name: vendor tree
- Required parameters: not applicable.
- Optional parameters: not applicable.
- Encoding considerations: 8bit text
- Security considerations: not applicable.
- Interoperability considerations: Interoperability is enabled via JSON support in the platform.
- Published specification: http://specs.frictionlessdata.io/data-

[2016-12-13 10:29] pwalsh commented on #333
Submitted to IANA. Now need to do PR on the specs.

[2016-12-13 13:09] pwalsh commented on #334
@rufuspollock

I think it is best to do this now, before v1.

We have already discussed YAML DPs, etc. JSON is just a representation of the thing, but is not the thing itself. If the web forgets JSON over the next 5 years and converges on [TOML](https://github.com/toml-lang/toml) (silly example, but history speaks....) then we have not tied our specification work to a particular representation of

[2016-12-13 13:47] pwalsh opened #336 "Merging path into data"
We've already merged `url` into `path`: `path` is now a URI, being a file on a filesystem or a resource over http.

In data packages, we have a general concept where a thing is either *inlined* or *referenced*. This pattern exists for `schema`, `licenses` and other properties: the payload for the property can be directly inlined, or, pointed to with a file path or an http address.

The **only** pr

[2016-12-13 13:48] pwalsh commented on #336
@akariv @roll any thoughts on this, or alternatives, from your experiences implementing code for data packages.

[2016-12-13 15:50] roll commented on #336
Goodtables, jsontableschema.Table, tabulator etc use `source` (aka data) and various schemes to distinct between data types. Spliting on path and data on spec level complicates things for implementations not otherwise.

[2016-12-13 16:41] roll commented on #336
@pwalsh
just consider another `scheme` for multiple data paths:
[code]

[2016-12-13 16:46] pwalsh commented on #336
@roll oh, I see, you are putting scheme on a different property, that works I suppose. what I meant, as the major difficulty, was

[code]

[2016-12-13 16:51] roll commented on #336
@pwalsh
I suppose `scheme` and `format` is pretty nice thing to have together. Scheme will be needed to small amount use cases (but vital for them).

[2016-12-13 16:58] pwalsh commented on #336
@roll seeing as you authored a similar implementation in tabulator, describing it as a spec, with the cases you handle, could help here. Can you add some snippets?

[2016-12-13 17:24] danfowler commented on #334
I fully support this.  "Table schema"---a schema that defines tables---is not too generic because that is what it is.  I think a clear comparison can be made to "JSON Schema"---a schema that defines a JSON document.

The current naming leads to confusing sentences like: "this JSON Schema implements the JSON Table Schema".

[2016-12-13 17:33] roll commented on #334
JSON Schema and JSON Table Schema is pretty confusing - I agree. We've just run into it again on `datapackage-js` work.

[2016-12-13 17:59] rufuspollock commented on #334
@roll @danfowler really useful feedback. It sounds like a sensible way to go and if we need to emphasize the JSON part we can always say: "A Table Schema expressed in JSON"

[2016-12-13 19:19] roll commented on #336
@pwalsh
So in `tabulator` (and lib using it) it works like this:
- remote
  - Stream('http://dom.com/file.csv') OR
  - Stream('http://dom.com/file.csv', scheme='http')
- local
  - Stream('dir/path.csv') OR
  - Stream('file://dir/path.csv) OR
  - Stream('dir/path.csv', scheme='file')
- text
  - Stream('text://value1,value2') OR
  - Stream('value1,value2', scheme='text')
- native
  - Stream([<native

[2016-12-14 09:55] tredoe opened #338 "Many options for dates"
There are too many options for dates (times, date-times).
`default` uses a standard format so it will be valid for 80 or 90%, and `pattern` for the rest. But `any` depends on the language you're using to create the library so it makes no sense.

[2016-12-14 10:04] tredoe opened #339 "Add gmonthday"
Since types `gyear` and `gyearmonth` has been added, the dates can be represented like `YYYY`, `YYYY-MM`, besides of `YYYY-MM-DD` with `date`.

Now, only lacks the representation for `MM-DD` using [gMonthDay](https://www.w3.org/TR/xmlschema-2/#gMonthDay)

[2016-12-15 14:54] rufuspollock commented on #339
@tredoe - how often does that occur. year and year month are common for annual and monthly data. But when does one use mm-dd data? I've rarely since it in data in the wild - but that does not mean it does not exist! If this fairly frequently used then it may be worth the added complexity for implementors ...

[2016-12-15 17:14] tredoe commented on #339
The type `gmonthday` maybe used to store birthdays for people who want not say the year. Also, for other days where you have to do something every year like anniversaries, holidays, technical inspection of vehicle, expiration of payment of invoices, etc.

[2016-12-15 20:15] danfowler opened #340 "Change language for "delimiter" on CSV Dialect"
Currently: "specifies a one-character string to use as the field separator."

Of course, a very natural delimiter to use here is `\t` which is technically two characters even though it escapes to just one.  Probably nicer to use "character sequence".

[2016-12-18 07:48] pwalsh commented on #236
@rufuspollock

- I prefer `licenses` to `license` (as per your request in https://github.com/frictionlessdata/specs/issues/236#issuecomment-263850383)
- I agree with @jpmckinney on URIs for licenses, and it should be called path, being a URL or a file path.
- Tools building on the spec can use https://github.com/okfn/licenses but I don't think we should build a dependency into the specs on a singl

[2016-12-18 08:10] pwalsh opened #341 "Consider removing dataDependencies for v1"
`dataDependencies` has an implicit dependency on packages available at `data.okfn.org`. It is also unclear **how** a package can depend on other package, which is the main rationale for having the property.

I think this is a potentially powerful feature, but, in the absence of an actual use case, and the ambiguity of the property and how it should be implemented, I suggest we remove it from v1.

[2016-12-18 08:17] pwalsh opened #342 "Remove special case of `schemas` for v1"
The `schemas` object on a data package can be used to store schemas in one place, enabling their reuse across multiple resources in a single package.

However, it requires a specialised resolution method to resolve these schemas. **No implementation that I am aware of supports this**.

Similarly, we are [considering support](https://github.com/frictionlessdata/specs/issues/295) for [JSON Reference

[2016-12-18 14:12] pwalsh opened #343 "Proper semantic type support"
# Context

I raised having a model spec in https://github.com/frictionlessdata/specs/issues/238 as `model` in Fiscal Data Package is basically a way to declare semantic types over one or more resources, and it is very very useful and generally applicable.

Recently, I'm diving into `rdfType` on the JSON Table Schema spec, and the way it is specified there is not very useful:

- It is a field-level

[2016-12-18 16:47] rufuspollock commented on #338
@tredoe can you clarify your specific suggested change. Is it the removal of `any`?

[2016-12-18 16:49] rufuspollock commented on #236
@pwalsh can you clarify on point 2. IME as a user simply being able to put an id like "ODC-PDDL-1.0" is a real advantage. Looking up an authoritative URL is a PITA.

[2016-12-18 16:53] tredoe commented on #338
Yes, the removal of `any` at fields related to dates.

[2016-12-18 17:01] jpmckinney commented on #236
Isn't it similar to looking up a canonical ID like "ODC-PDDL-1.0"? That ID is not obvious.

Sent from mobile

[2016-12-18 17:29] rufuspollock commented on #341
@pwalsh i agree. Let's remove this and reintroduce as a pattern for now.

[2016-12-18 17:31] rufuspollock commented on #342
@pwalsh I hear you. Note I think this would be better as a comment on https://github.com/frictionlessdata/specs/issues/325. Would you be happy to close this as duplicate and comment on that item with this as a proposal for the way forward?

[2016-12-18 17:32] rufuspollock commented on #339
@tredoe I'm not sure those are that common uses for this kind of data. For the moment my inclination is to close as WONTFIX and reopen if this use case shows up frequently.

[2016-12-18 17:34] rufuspollock commented on #340
@danfowler sounds good. Can you make a pull request for this. I don't think this is really any kind of breaking change since the original intent was clear and it being one character is actually not important.

[2016-12-18 20:43] pwalsh commented on #342
duplicates #325

[2016-12-18 20:43] pwalsh commented on #325
The `schemas` object on a data package can be used to store schemas in one place, enabling their reuse across multiple resources in a single package.

However, it requires a specialised resolution method to resolve these schemas. **No implementation that I am aware of supports this**.

Similarly, we are [considering support](https://github.com/frictionlessdata/specs/issues/295) for [JSON Reference

[2016-12-18 20:45] pwalsh commented on #329
not valid.

[2016-12-18 20:45] #329 closed

[2016-12-18 20:46] pwalsh commented on #309
I implemented this constraint in #337.

[2016-12-18 20:46] #342 closed

[2016-12-18 20:48] pwalsh commented on #314
Implementing JSON References will solve this issue completely. https://github.com/frictionlessdata/specs/issues/325#issuecomment-267845221

[2016-12-18 20:49] pwalsh commented on #325
Implementing JSON References will also solve https://github.com/frictionlessdata/specs/issues/314 really nicely. I'm considering pushing JSON Reference implementation in to v1.

[2016-12-18 20:50] pwalsh commented on #306
@rufuspollock how would it be used?

[2016-12-18 20:51] pwalsh commented on #317
`dataDependencies` will be removed, as per #341

Closing as WONTFIX.

[2016-12-18 20:51] #317 closed

[2016-12-18 20:54] pwalsh commented on #322
After work on https://github.com/frictionlessdata/specs/pull/337 to make the specs very DRY, remove ambiguity, etc., it has become clear that generating specs is a very, very different endeavour to putting together a "normal" website, and I'm going to WONTFIX here, and keep the specs site different from the "promotional" site for frictionless data.

[2016-12-18 20:54] #322 closed

[2016-12-19 07:44] pwalsh commented on #121
Indexes are too backend-specific to describe in a generic way that does not restrict some backends. I'm closing this as WONTFIX for now, and if someone feels strongly, and wants to present a syntax for declaring indexes, I'd welcome a PR so we can discuss it.

At Open Knowledge International, we have a bunch of data storage drivers to write tables described with JSON Table Schema to various backen

[2016-12-19 07:44] #121 closed

[2016-12-19 07:51] pwalsh commented on #248
@rufuspollock can close?

[2016-12-19 07:52] pwalsh commented on #255
@rufuspollock not sure we need this open as an issue. Let's get a solid views spec, before we discuss transforms between view specs as states.

[2016-12-19 07:54] pwalsh commented on #294
I'm going to add a `profile` property to both Data Resource and Data Package descriptors. There will be a default fallback IF the property is not present (to the base spec of each)

[2016-12-19 07:55] pwalsh commented on #296
@rufuspollock @akariv @roll how should we resolve this?

[2016-12-19 08:16] roll commented on #296
To add note which constraints should be checked before (required, pattern) parsing and which after (following the same format/pattern).

[2016-12-19 08:18] pwalsh commented on #296
@roll that is it, *some* constraints `SHOULD` be checked before casting, and *some* `SHOULD` be checked after casting. The inconsistency concerns me a little.

[2016-12-19 08:31] pwalsh commented on #300
@danfowler I looked into this but am now unsure on what to do. I thought we kept data protocols seperate so we could make changes here without it impacting on there - but it looks like the data protocols repo was transferred here, so there is a direct dependency. If I remove master all the non-FD specs will disappear with the content of the data protocols domain which will disappear.

[2016-12-19 08:32] roll commented on #296
@pwalsh
It looks like nothing to do with because we have `pattern` constraint. Or there is a way to apply pattern after parsing?

[2016-12-19 08:35] pwalsh commented on #296
@roll sorry I don't understand. You mean, we just have to accept that some constraints are before, and some after passing, and leave it at that? I think that is correct, just want to make sure I understand the last comment.

[2016-12-19 08:52] pwalsh commented on #296
@roll could you please help me out here, and go through the list of constraints, and not here what is before/after (just to ensure I don't miss any concerns from implementation perspective). I will then update specs accordingly.

[2016-12-19 13:14] pwalsh commented on #87
I implemented this in https://github.com/frictionlessdata/specs/pull/337/commits/f1ccbee3efd480fe469e8b9d6d1cc6462c8b68dd

It applies to Data Package, and also to the new Data Resource, descriptors.

It is *not* implemented as an object, nor with hierarchy - those suggestions are way too complex and require a publisher to know details about subclassing and inheritance that a publisher should frank

[2016-12-19 13:16] pwalsh commented on #243
This was done in #331 and will close when it is merged.

[2016-12-19 13:17] pwalsh commented on #294
See my comment in https://github.com/frictionlessdata/specs/issues/87#issuecomment-267961202

This has been implemented as `profile` in #337 and will close when it is merged.

[2016-12-19 13:20] pwalsh commented on #318
This is dealt with in https://github.com/frictionlessdata/specs/pull/337 and will close when it is merged.

[2016-12-19 13:20] pwalsh commented on #321
This is dealt with in #331 and will close when it is merged.

[2016-12-19 13:22] pwalsh commented on #327
This is dealt with in https://github.com/frictionlessdata/specs/pull/337 and will close when it is merged. I've implemented `dataresource` and `tabular-dataresource`

[2016-12-19 13:22] pwalsh commented on #328
This is dealt with in https://github.com/frictionlessdata/specs/pull/337 and will close when it is merged.

[2016-12-19 13:23] pwalsh commented on #334
This is dealt with in #337 and will close when it is merged.

[2016-12-19 13:41] pwalsh commented on #298
- source.web -> source.path https://github.com/frictionlessdata/specs/pull/337/commits/bee874768c78ac78e9e0e4b5ec57f2b8539666b8 (path and not url)

[2016-12-19 13:44] pwalsh commented on #298
- author.web -> author.path; contributor.web -> contributor.path https://github.com/frictionlessdata/specs/pull/337/commits/dd844a792ae849da9ea52e7dd4fbfd890ec48534 (path not url)

[2016-12-19 13:55] pwalsh commented on #298
- add `created` as an optional field in https://github.com/frictionlessdata/specs/pull/337/commits/7542275e9829940c8033815820a6f22603048394 (can be any datetime as per [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6))

[2016-12-19 13:55] pwalsh commented on #298
Issue will be closed when #337 is merged

[2016-12-19 14:37] jpmckinney commented on #298
What was wrong with `homepage`? Homepage has a more specific meaning than web.

[2016-12-19 14:51] pwalsh commented on #298
On this particular case I just went with it based on +1 from @rufuspollock

Agree that homepage is better and will revert this particular change.

[2016-12-19 15:03] muehlenpfordt commented on #292
I use YAML internally when writing the metadata for my data package because it makes for more readable code. For the output I then convert it to JSON as this is the standard you guys specified.

I think it makes sense to stick with one format for the standard. I'm neutral on whether that should be YAML or JSON as I'm not familiar with the specif pros and cons.

[2016-12-19 21:23] pwalsh commented on #323
yes, it is intended to just be a JSON object. I will fix the wording.

[2016-12-19 21:32] pwalsh commented on #298
in relation to https://github.com/frictionlessdata/specs/issues/298#issuecomment-267965773 I kept the structural changes but renamed back to `homepage`

[2016-12-19 21:58] pwalsh commented on #325
Added JSON Pointer support in https://github.com/frictionlessdata/specs/pull/337/commits/ad292a7e1a34bd80d7a2014f4eec9f34e373a83f same as in JSON Schema.

[2016-12-20 00:16] #243 closed

[2016-12-20 00:16] #321 closed

[2016-12-20 00:16] #171 closed

[2016-12-20 00:18] rufuspollock commented on #343
@pwalsh very sound suggestion. I think we may want to think a bit further about whether rdfType offers some value before we deprecate.

One important point: is this post or pre v1?

[2016-12-20 00:18] rufuspollock commented on #248
INVALID. A research / discussion issue not a proper issue.

@pwalsh yes, really this could go into patterns section or a research section somewhere like the forum.

[2016-12-20 00:18] #248 closed

[2016-12-20 00:19] rufuspollock commented on #255
@pwalsh rather than close I've moved to icebox as this is a genuine issue that I think we will need for the views spec very soon.

[2016-12-20 00:21] rufuspollock commented on #300
@pwalsh dataprotocols.readthedocs.io is ancient and irrelevant - it is **not** powering dataprotocols.org (that is just running off gh-pages). Or have i misunderstood you?

[2016-12-20 00:22] rufuspollock commented on #87
@pwalsh ok. BTW this is one example where i think we could do the PR separately and distinctly - but ok if not.

[2016-12-20 00:26] rufuspollock commented on #298
@pwalsh agree re homepage. I should have been a bit more specificn in my generic +1. I thought homepage was better but liked the change to an object.

Note: I think there are quite a lot of properties where we want a "string or object" model e.g. license, homepage, author etc. I think we can have a fairly generic approach to this and we have been doing this already but wanted to flag.

[2016-12-20 08:06] roll commented on #300
Just want to remind again that now github allow use master branch to server static site so if we're going to remove one of master/gh-pages I suppose better to remove gh-pages and have `master` with actual specs.

[2016-12-20 11:36] roll opened #344 "Support ignoreRows for TabularResource"
# Overview

`Resource` specification is created to describe concrete data source with metadata. When we deal with concrete real world data sources there could be some corner case like commented rows or blank rows on top etc. A publisher needs an ability to share this information with implementations.

# Example

https://github.com/frictionlessdata/ADB-User-Study/blob/master/metadata.tsv

It's a va

[2016-12-20 11:42] pwalsh commented on #344
closely related to #326

[2016-12-20 12:04] pwalsh commented on #343
post v1.

[2016-12-20 12:18] tredoe opened #345 "Constraint minimum should indicate more types."
The [key minimum](http://specs.frictionlessdata.io/json-table-schema/#field-constraints) says:

But it also should be added: `gyear` and `gyearmonth`, shouldn't it?

[2016-12-20 12:42] tredoe opened #346 "Types related to year start with 'g'"
Why the [field types](http://specs.frictionlessdata.io/json-table-schema/#gyear) `gyear` and `gyearmonth` start with character 'g' ?

If the other types related to dates are named like `date`, `time`, `datetime`, then it makes not sense to name to those like `gyear` and `gyearmonth`.

[2016-12-20 13:02] tredoe opened #347 "Indicate specific types in constraint 'minLength'"
The constraint field `minLength` says:

But when it is used "such as", it could indicate that there are more types. So to fix it, does it could be more specific? i.e.:

[2016-12-20 13:34] pwalsh commented on #300
@roll yes I know: we'll move this to master when we can.

@rufuspollock @danfowler so: `master` can safely be deleted, got it. What I still don't get is if both dataprotocols.org **and** specs.frictionlessdata.io are running from https://github.com/frictionlessdata/specs/tree/gh-pages

[2016-12-20 17:46] roll commented on #296
@pwalsh
I was thinking about it and I've finally got your concerns about pre/post parsing constraints. Problem is there is no guarantee that there is parsing phase at all because input values could be in native form like JSON.

So what we could do with it?

---

Let's write that all constraints should be applied on values in native form (after parsing if needed). If constraint itself should be rep

[2016-12-21 09:00] pwalsh commented on #296
@roll yes you got it. So to me then, it means the best way to make this super consistent across all types is:

- **all** constraints should be constraints on `cast` values.
- **all** "actions" on pre-cast values, such as regex and date formatting, must be handled outside of the `constraints` object.
- that means we need to move the regex constraint out. In [JSON Schema, they have type, format and

[2016-12-21 12:37] pwalsh commented on #290
@rufuspollock will you work on some wording for this? Maybe better in here until I finish on #337

[2016-12-21 12:38] pwalsh commented on #132
@rufuspollock will you work on some wording for this? Maybe better in here until I finish on #337

[2016-12-21 13:12] rufuspollock commented on #132
@pwalsh yes - note this is a patterns item at this stage. It won't be part of the spec atm i think.

[2016-12-21 13:13] rufuspollock commented on #290
@pwalsh yes - and this should come after you complete #337. This is definitely a small discrete issue.

[2016-12-21 13:14] rufuspollock commented on #300
@danfowler can you clarify how you set up dataprotocols.org? I assume you set it up using dnsmadeeasy redirect sand then implemented redirects here to specs.okfnlabs.org

[2016-12-21 13:15] rufuspollock commented on #296
@pwalsh could you provide a concrete example of this working for one case. I'm not really clear where we have regex patterns as constraints where pre/post cast would matter. For strings, there is obviously no different. Do we have regex constraints for numbers?

[2016-12-21 13:17] rufuspollock commented on #346
@tredoe because it is following xsd types on this and that uses gyear (and the w3c spec followed xsd). I get it is kind of weird and maybe we should just do it simpler given we don't really follow the xsd types generally.

@pwalsh any thoughts on this?

[2016-12-21 13:20] rufuspollock commented on #344
@roll i'm super cautious about this kind of stuff as it is a place where "ETL" logic starts to bleed into the spec and that's a slippery slope. If you delete rows, what about columns, what about transforms etc etc.

Thus, my sense is that ETL stuff like this should not go into the spec for now - at most it should be in patterns and even there i'm cautious.

[2016-12-21 13:22] pwalsh commented on #346
@rufuspollock I say we drop the `g` prefixes.

[2016-12-21 15:49] tredoe opened #348 "What is a valid string?"
The definition for the format [`Default`](http://specs.frictionlessdata.io/json-table-schema/#string) in type `String` is too vague:

What is a valid string? Does one formed with ASCII or UTF-8 characters?

[2016-12-21 17:45] rufuspollock commented on #236
@jpmckinney it is a good point and only people like me maybe know some of those license ids by heart 😜

@pwalsh long and short i'm coming down to view that we should have less "optionality" in the "strong" vs object stuff. Will open a general issue about this in a moment.

[2016-12-21 17:59] rufuspollock opened #349 "Normalized and Extended Forms for Specs"
## Problem

We have a fair amount of "optionality" for properties in our specs e.g.

* License can be a string **or** an object
* Author **or** contributors
* Author can be string **or** object
* Resource path can be a single string **or** an array of strings
* Resource path can be an absolute url **or** a relative path / url

This adds both cognitive and implementation complexity especially for c

[2016-12-21 18:03] rufuspollock commented on #348
Any valid string would be relative to the encoding of the data stream you are working on.

Assuming this JSON Table Schema is associated with a resource the resource encoding is defined at  http://specs.frictionlessdata.io/data-packages/#optional-fields-1 and it defaults to UTF-8.

BTW: thank-you for this question as it is a good example of a FAQ item to add to the FAQs / patterns section.

[2016-12-21 18:06] rufuspollock commented on #121
@pwalsh agree on WONTFIX though wonder if this would be worthy of a pattern to document the OKI approach to how this gets specified. In fact, I think a general pattern for adding sql specific info to JTS would be useful - though def a separate issue!

[2016-12-21 18:08] Stiivi commented on #349
Attached is an ER diagram of the Data Package schema that shows the complexity of the structures/data types:

![data package](https://cloud.githubusercontent.com/assets/71105/21400493/40e60bde-c7a8-11e6-8808-7c0a9b1154f3.png)

[2016-12-21 19:40] danfowler commented on #300
@pwalsh @rufuspollock dataprotocols.org is **not** running off gh-pages.  Only specs.frictionlessdata.io is generated from gh-pages.  dataprotocols.org is a HTTP redirect to specs.frictionlessdata.io.  And yes, the non-Frictionless Data specs individually redirect to their places on specs.okfnlabs.org.

[2016-12-21 20:07] pwalsh commented on #349
@rufuspollock

Not all of these ORs for "optional" forms are the "same". Let's consider them:

1/ Strings as a shorthand for objects

One pattern in the specs is strings as shorthand for objects. Author is the most obvious example of this pattern. This is probably a direct result of the nom influence at some stage in the history of the specs and the early implementations in javascript.

If we were

[2016-12-21 20:11] pwalsh commented on #300
@danfowler ok, so both public spec locations are running out of this single repo. that is a problem because in #337 I've stripped out **all** non FD specifications.

[2016-12-22 01:32] Stiivi commented on #349
In this case we have the best opportunity to not to support an anti-pattern and do it better. In dynamically typed languages it adds unnecessary manual type checking, which might be forgotten by spec implementors or might serve as a place for potential error.

In statically typed languages it adds a complication by needing a sum-type to contain the value or to do unnecessary conversion.

Not norma

[2016-12-22 03:56] tredoe opened #350 "number with decimal representation with percentage"
The field type [number](http://specs.frictionlessdata.io/json-table-schema/#number) may have a trailing percentage sign. But it is not a decimal representation used in programming languages, at least in the next languages:

+ [Go](https://golang.org/ref/spec#Floating-point_literals)
+ [Rust](https://doc.rust-lang.org/reference.html#floating-point-literals)
+ [Swift](https://developer.apple.com/lib

[2016-12-22 04:06] tredoe opened #351 "Property groupChar at number"
The type [number](http://specs.frictionlessdata.io/json-table-schema/#number) has the additional property `groupChar` which says:

The programming languages that use a separator (like Rust, Swift, Ruby) for such proposal use the character "_" because "," is used in several countries to represent a decimal point instead of "."
By the way, the default value could be the character instead of null.

[2016-12-22 04:29] tredoe opened #352 "Type to represent a currency"
A currency is a special type which can not be represented with a floating-point literal since you require exact storage and calculations. i.e. in PostgreSQL you have the type [numeric](https://www.postgresql.org/docs/current/static/datatype-numeric.html) to store them.  To store such types, you usually use two integers, one for the integer part, and other one for the decimal part.
By that reason,

[2016-12-22 06:48] pwalsh commented on #349
@Stiivi

Everything you say is "correct". But now what? It feels a little bit like that part of a Hacker News thread where the person who loves static types comes in to tell the kiddies that the tools they get stuff done with is fundamentally broken by design.

You've told us that JSON is error prone, Javascript and quality don't go together, and Python needs tests just to ensure it "compiles". Yo

[2016-12-22 07:03] roll commented on #349
From implementations side it's obvious - it will be great to drop as mush as possible a la `string OR array` things. Not a big deal (implementations anyway normalize things like `primaryKey` to array) but less complexity more consistency on every level.

[2016-12-22 07:28] roll commented on #349
I still like more to have `resource.data` and `resource.schema` for all cases. But this my preference based on concrete python `tabulator` implementation (based on dynamic language nature) and assumption that introducing many names for the same entity will increase complexity for everyone (like it was with url and path). So may be it's not very objective opinion.

[2016-12-22 07:36] pwalsh commented on #349
So @roll based on https://github.com/frictionlessdata/specs/issues/349#issuecomment-268733003 two simple changes would solve this:

- In Table Schema, `primaryKey` is always an array field names (often with one string)
- In a Resource, `path` is always an array of URIs (often with one string)

[2016-12-22 07:45] roll commented on #349
@pwalsh

it would be great

It depends on #336. So as said I see two reasonable exceptions for normalization - `resource.data` and `resource.schema`.

[2016-12-22 07:50] roll commented on #344
@rufuspollock
@pwalsh has said the same but there is a very common real world problem and it need some help from specs (may be patterns?). It's only datapackage problem - on other levels implementations could use own options but datapackage encapsulates all knowledge about data sources (and that's the thing - data containerization) so we need some way to allow this information injection (cc @danfo

[2016-12-22 08:00] rufuspollock commented on #300
@pwalsh quick suggestion on fixing the redirect issue. I think leaving redirects in jekyll is a "bad smell". It leads to the kind of problems you have just encountered: you did not realise the "left-over" pages were there for redirects. And having loads of "empty" items in the repo just adds cognitive complexity for everyone (If you recall i mentioned this back when we did the redirects).

The obv

[2016-12-22 08:48] Stiivi commented on #349
@pwalsh

No, preference of statically typed languages was not my point. I'm coming from data background and my point was assured correctness before comfort and performance. Comfort practices from dynamically typed languages are against achievability and provability of correctness.

Alternative solution? Simplify, remove all unnecessary complications, minimize the meta-model. Simple as that.

I did

[2016-12-22 10:08] pwalsh commented on #349
@Stiivi

    - all String | Array types should be Array
    - all String | Object types should be Object

On these I am +1 (and frankly, the only thing holding us back is the history of the specs here - if starting from scratch I doubt we'd have this pattern).

    - there should be only one place to store schemas - top level. Schema might be a sum type of either external schema reference or schem

[2016-12-22 11:48] Stiivi commented on #349
Just for better visualization, some of annotations in the above diagram. Note that many have been resolved in this discussion thread already, others might be more relevant for v2.

![data package - annotated](https://cloud.githubusercontent.com/assets/71105/21424724/86182ab8-c83c-11e6-8c32-963a454b9dd8.png)

[2016-12-22 12:11] Stiivi commented on #349
Suggestion: what do you guys think about flagging every attribute and feature either as "strict" and "non-strict"?

Strict:

- impossible to consume the dataset without it – if removed, the specification is incomplete
- can not be derived from other/broader context
- "cheap" to implement
- well specified

Non-strict:

- not necessary for proper consumption – if removed, we might still proceed
- mi

[2016-12-22 12:16] pwalsh commented on #349
We have required, recommended, and optional now for properties. I'm adding these to the JSON Schemas that validate each specification (so implementors can get this information directly from the schemas). Are you suggesting strict/non-strict replace the existing convention, or be in parallel?

BTW I've be happy to drop `required/recommended/optional` in favour of `strict/non-strict` or `required/no

[2016-12-22 12:22] pwalsh commented on #340
Will close when #337 is merged.

[2016-12-22 14:32] rufuspollock commented on #242
FIXED.